// body
//
// Styles applied to the `body` element. Largely used to set what the site's
// `em` value is, as well as ensuring the site background behaves properly.
//
// Styleguide Base.body
body {
	background-color: $color-sand-lightmode; // Extends background color to full width on an iPhone X in landscape mode: http://stephenradford.me/removing-the-white-bars-in-safari-on-iphone-x/
	font-size: 1em;
	min-height: 100%; // Ensure the page always fills at least the entire height of the viewport
	overflow-x: hidden;

	@media (prefers-color-scheme: dark) {
		background-color: $color-sand-darkmode;
	}
}
