// Global Attributes
//
// These attributes can be applied to any HTML element to control its behavior.
//
// Styleguide Base.Global Attributes


// Disabled
//
// Used for interactive element whose functionality has been conditionally
// turned off.
//
// Markup:
// <button disabled>Send</button>
//
// Styleguide Base.Global Attributes.disabled
[aria-disabled],
[disabled] {
	cursor: not-allowed !important;
	pointer-events: none !important;
}


// Hidden
//
// Used for any element who should be completely removed from the document.
// See [`mixins.hide`](section-logic.html#kssref-logic-mixins-hide).
//
// Markup:
// <div hidden>You shouldn't be able to see me!</div>
//
// Styleguide Base.Global Attributes.hidden
[hidden] {
	@include hide(remove);
}


// tabindex="-1"
//
// Used for any element that should programatically recieve keyboard focus.
//
// Markup:
// <h2 tabindex="-1">An element that can be tabbed to</h2>
//
// Styleguide Base.Global Attributes.tabindex
[tabindex="-1"] {
	&:focus {
		outline: none; // Remove outline from non-interactive elements that get focus assigned to them
	}
}
