// Lists
//
// Lists are organized collections of related information.
//
// Styleguide Base.Lists


// Shared styles
ol,
ul {

	li {
	}
}


// definition list
//
// Initial styles applied to definition lists without a class applied to them.
//
// Markup:
// <dl>
//   <dt>Robust</dt>
//   <dd>Capable of performing without failure under a wide range of conditions.</dd>
// </dl>
//
// Styleguide Base.Lists.definition
dl {

	dt {
	}

	dd {
	}
}


// ordered list
//
// Initial styles applied to ordered lists without a class applied to them.
//
// Markup:
// <ol>
//   <li>Salt</li>
//   <li>Fat</li>
//   <li>Acid</li>
//   <li>Heat</li>
// </ol>
//
// Styleguide Base.Lists.ordered
ol {

	li {
	}
}


// unordered list
//
// Initial styles applied to unordered lists without a class applied to them.
//
// Markup:
// <ul>
//   <li>Apples</li>
//   <li>Peaches</li>
//   <li>Pears</li>
// </ul>
//
// Styleguide Base.Lists.unordered
ul {

	li {
	}
}
