// paragraphs
//
// Initial styles applied to paragraph elements without a class applied to them.
//
// Markup:
// <p>Jelly-like above the high wire, six quaking pachyderms kept the climax of the extravaganza in a dazzling state of flux.</p>
//
// Styleguide Base.paragraphs
// p {
// }
