// Colors
//
// Colors:
// $color1: #FA5A41 - Description goes here.
// $color2: #FFAF1A - Description goes here.
// $color3: #FF6473 - Description goes here.
// $color4: #1EB0DC - Description goes here.
// $color5: #1FC8A4 - Description goes here.
// $color6: #806ED2 - Description goes here.
//
// Style guide: Brand.Colors
$color1: #FA5A41;
$color2: #FFAF1A;
$color3: #FF6473;
$color4: #1EB0DC;
$color5: #1FC8A4;
$color6: #806ED2;