// Colors
//
// Colors:
// $color-black:       #000000 - Primarily used for text.
// $color-white:       #ffffff - Description goes here.
// $color-green:       #2f7851 - Description goes here.
// $color-green-shade: #00260f - Theme color for the blog.
// $color-pink-tint:   #f1cbe6 - Description goes here.
// $color-pink:        #fb37ff - Theme color for the homepage.
// $color-sand:        #f7f7f7 - Primarily used for the site background.
//
// Style guide: Brand.Colors
$color-black: #000000;
$color-white: #ffffff;
$color-green: #2f7851;
$color-green-shade: #00260f;
$color-pink-tint: #f1cbe6;
$color-pink: #fb37ff;
$color-sand: #f7f7f7;
