// Colors
//
// TODO: Describe the palette
//
// Colors:
// $color-black:       #000000
// $color-gray-tint:   #e6e6e6
// $color-gray-shade:  #737373
// $color-white:       #ffffff
// $color-green-tint:  #e2fed2;
// $color-green:       #2f7851
// $color-green-shade: #00260f
// $color-blue-tint:   #d4d8f2
// $color-blue:        #3b4bbf
// $color-blue-shade:  #232d71;
// $color-pink-tint:   #f1cbe6
// $color-pink:        #fb37ff
// $color-pink-shade:  #9b009e;
// $color-sand:        #f7f7f7;
// $color-yellow-tint: #ffedb3;
// $color-yellow       #ffce29;
//
// Style guide: Brand.Colors
$color-black: #000000;
$color-gray-tint: #e6e6e6;
$color-gray-shade: #707070;
$color-white: #ffffff;
$color-green-tint: #e2fed2;
$color-green: #2f7851;
$color-green-shade: #00260f;
$color-blue-tint: #d4d8f2;
$color-blue: #3b4bbf;
$color-blue-shade: #232d71;
$color-pink-tint: #f1cbe6;
$color-pink: #fb37ff;
$color-pink-shade: #9b009e;
$color-sand: #f7f7f7;
$color-yellow-tint: #ffedb3;
$color-yellow: #ffce29;
