// Logos
//
// These are the various visual treatments for our site's logo.
//
// Style guide: Brand.Logos


// Icon
//
// Weight: 1
//
// The logo treatment that includes both the icon and text.
//
// Styleguide Brand.Logos.Icon


// Wordmark
//
// Weight: 2
//
// The text treatment for the site's name.
//
// Styleguide Brand.Logos.Wordmark


// Favicon
//
// Weight: 3
//
// A [favicon](https://en.wikipedia.org/wiki/Favicon) is the icon used to
// identify the website in things like browser tabs, address bars, and
// bookmarks.
//
// Styleguide Brand.Logos.Favicon


// Social
//
// Weight: 4
//
// The treatment of the logo for social media accounts like [Twitter](https://twitter.com/A11YProject).
//
// Styleguide Brand.Logos.Social
