// Anaheim
@font-face {
	font-display: swap;
	font-family: "Anaheim";
	font-style: normal;
	font-weight: 400;
	src: local('Anaheim'), local('Anaheim-Regular'),
			 url("../fonts/anaheim-v7-latin-regular.woff") format("woff"),
			 url("../fonts/anaheim-v7-latin-regular.woff2") format("woff2");
}


// Noto Serif Regular
@font-face {
	font-display: swap;
	font-family: "Noto Serif";
	font-style: normal;
	font-weight: 400;
	src: local('Noto Serif'), local('NotoSerif'),
			//  url("../fonts/NotoSerif-Regular.woff") format("woff")
			 url("../fonts/NotoSerif-Regular.woff2") format("woff2");
}

// Noto Serif Italic
@font-face {
	font-display: swap;
	font-family: "Noto Serif";
	font-style: italic;
	font-weight: 400;
	src: local('Noto Serif Italic'), local('NotoSerif-Italic'),
			//  url("../fonts/NotoSerif-Italic.woff") format("woff"),
			 url("../fonts/NotoSerif-Italic.woff2") format("woff2");
}

// Noto Serif Bold
@font-face {
	font-display: swap;
	font-family: "Noto Serif";
	font-style: normal;
	font-weight: 700;
	src: local('Noto Serif Bold'), local('NotoSerif-Bold'),
			//  url("../fonts/NotoSerif-Bold.woff") format("woff"),
			 url("../fonts/NotoSerif-Bold.woff2") format("woff2");
}

// Noto Serif Bold Italic
@font-face {
	font-display: swap;
	font-family: "Noto Serif";
	font-style: italic;
	font-weight: 700;
	src: local('Noto Serif Bold Italic'), local('NotoSerif-BoldItalic'),
			//  url("../fonts/NotoSerif-BoldItalic.woff") format("woff"),
			 url("../fonts/NotoSerif-BoldItalic.woff2") format("woff2");
}


// Source Code Pro Regular
@font-face {
	font-display: swap;
	font-family: "Source Code Pro";
	font-style: normal;
	font-weight: 400;
	src: local("Source Code Pro Regular"), local("SourceCodePro-Regular"),
			 url("../fonts/source-code-pro-v11-latin-regular.woff") format("woff"),
			 url("../fonts/source-code-pro-v11-latin-regular.woff2") format("woff2");
}
