<aside class="c-blm-banner">
	<p>
		<span role="img" aria-label="Raised black fist.">✊🏾</span> <a class="c-blm-banner__link" href="https://twitter.com/search?q=%23BlackDisabledLivesMatter">#BlackDisabledLivesMatter</a>
	</p>
</aside>
