<aside class="c-blm-banner" aria-label="Black lives matter">
	<p class="u-font-size-body-small">
		<span role="img" aria-label="Raised black fist.">✊🏾</span> The A11Y Project supports the Black community and the <a class="c-blm-banner__link" href="https://blacklivesmatter.carrd.co/">Black Lives Matter movement</a>. <wbr><a class="c-blm-banner__link" href="https://twitter.com/search?q=%23BlackDisabledLivesMatter">#BlackDisabledLivesMatter</a>
	</p>
</aside>
