<p class="c-linkroll__entry--{{ post.data.category | slugify }}">
	<a class="c-linkroll__link c-linkroll__link--featured" href="{{ post.url | url }}">
		<span class="[ u-font-size-body-medium ] [ c-linkroll__featured ]">Featured Post</span><span class="u-hide-visually">. </span></span>
		<span class="[ u-font-size-body-tiny u-text-transform-uppercase ] [ c-linkroll__category c-linkroll__category--featured ]">{{ post.data.category }}<span class="u-hide-visually">: </span></span>
		<span class="[ u-font-size-body-medium ] [ c-linkroll__title c-linkroll__title--featured ]">{{ post.data.title }}</span>
	</a>
</p>
