<!--
<footer id="footer" role="contentinfo">
  <h2>Footer</h2>

  <nav id="" aria-label="Site">
    <h3>Main nav repeated</h3>
    <ul>
      {%- for nav in collections.nav -%}
      <li><a href="{{ nav.url | url }}" {% if nav.url == page.url %}aria-current="page"{% endif %}>{{ nav.data.navtitle }}</a></li>
      {%- endfor -%}
    </ul>
  </nav>

  <nav id="contact" aria-labelledby="footer-contact">
    <h3 id="footer-contact">Contact</h3>
    <p>
      Here's how to stay in touch!
    </p>
    <ul>
      <li><a rel="external noopener" href="https://twitter.com/a11yproject">@A11YProject</a></li>
      <li id="email-address"><noscript>hello at a11yproject dot com</noscript></li>
      {# TODO: Write for us #}
      <li><a href="">RSS Feed</a></li>
    </ul>
  </nav>

  <nav id="contact" aria-labelledby="footer-github">
    <h3 id="footer-github">GitHub</h3>
    <p>
      GitHub is platform we use to host and manage the code that runs this website.
    </p>
    <ul>
      <li><a rel="external noopener" href="https://github.com/a11yproject/a11yproject.com">Website code</a></li>
      <li><a rel="external noopener" href="https://github.com/a11yproject/a11yproject.com/issues?q=is%3Aissue+is%3Aopen+label%3A%22%5BStatus%5D++Good+First+Issue%22">Good first issues to get started</a></li>
      <li><a rel="external noopener" href="https://github.com/a11yproject/a11yproject.com/issues?q=is%3Aissue+is%3Aopen+label%3A%22%5BStatus%5D+Help+Wanted%22">Other issues we'd love help with</a></li>
    </ul>
  </nav>

  <nav id="legal" aria-labelledby="footer-legal">
    <h3 id="footer-legal">Legal</h3>
    <p>
      Disclosures and policies.
    </p>
    <ul>
      <li><a href="/accessibility-statement/">Accessibility Statement</a></li>
      <li><a href="/security-and-privacy/">Security and Privacy</a></li>
      <li><a href="/code-of-conduct/">Code of Conduct</a></li>
      <li><a rel="external noopener" href="https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#contributing-to-the-a11y-project">Contributing guidelines</a></li>
    </ul>
  </nav>

  <p>
    &copy; <span id="copyright-year"></span> The Accessibility Project. <a rel="external noopener" href="https://www.apache.org/licenses/LICENSE-2.0">APLv2</a>.
  </p>
  <p>
    <p><a href="">Sitemap</a>. Powered by <a rel="external noopener" href="https://www.11ty.io/">Eleventy</a></p>
  </p>

  <script type="text/javascript">document.getElementById('copyright-year').innerHTML = '2013-' + new Date().getFullYear();</script>
  <script type="text/javascript">document.getElementById('email-address').innerHTML =
  '<'+'a'+' '+'h'+'r'+'e'+'f'+'='+"'"+'m'+'&'+'#'+'9'+'7'+';'+'i'+'l'+'t'+'o'+'&'+'#'+'5'+'8'+';'+'&'+
  '#'+'1'+'0'+'4'+';'+'%'+'&'+'#'+'5'+'4'+';'+'&'+'#'+'5'+'3'+';'+'&'+'#'+'1'+'0'+'8'+';'+'l'+'&'+'#'+
  '1'+'1'+'1'+';'+'&'+'#'+'3'+'7'+';'+'4'+'&'+'#'+'4'+'8'+';'+'%'+'6'+'1'+'&'+'#'+'4'+'9'+';'+'%'+'3'+
  '&'+'#'+'4'+'9'+';'+'%'+'7'+'9'+'%'+'7'+'0'+'%'+'7'+'2'+'o'+'%'+'&'+'#'+'5'+'4'+';'+'A'+'e'+'&'+'#'+
  '9'+'9'+';'+'t'+'&'+'#'+'4'+'6'+';'+'c'+'&'+'#'+'3'+'7'+';'+'6'+'F'+'m'+"'"+'>'+'&'+'#'+'1'+'0'+'4'+
  ';'+'e'+'l'+'&'+'#'+'1'+'0'+'8'+';'+'o'+'&'+'#'+'6'+'4'+';'+'a'+'1'+'1'+'&'+'#'+'1'+'2'+'1'+';'+'p'+
  'r'+'o'+'j'+'&'+'#'+'1'+'0'+'1'+';'+'c'+'t'+'&'+'#'+'4'+'6'+';'+'c'+'o'+'m'+'<'+'/'+'a'+'>';
  </script>

</footer>
-->
