<header id="header" class="l-header">

	{% include "nav/primary.njk" %}

	{% if templateClass == "template-home" %}
		{% include "heroes/home.njk" %}
	{% endif %}

	{% if templateClass == "template-posts" %}
		{% set hero = heroes.posts %}
		{% include "heroes/primary-nav.njk" %}
	{% endif %}

	{% if templateClass == "template-checklist" %}
		{% set hero = heroes.checklist %}
		{% include "heroes/primary-nav.njk" %}
	{% endif %}

	{% if templateClass == "template-resources" %}
		{% set hero = heroes.resources %}
		{% include "heroes/primary-nav.njk" %}
	{% endif %}

	{% if templateClass == "template-about" %}
		{% set hero = heroes.about %}
		{% include "heroes/primary-nav.njk" %}
	{% endif %}

	{% if templateClass == "template-contribute" %}
		{% set hero = heroes.contribute %}
		{% include "heroes/primary-nav.njk" %}
	{% endif %}

	{% if templateClass == "template-authors" %}
		{% set hero = heroes.authors %}
		{% include "heroes/primary-nav.njk" %}
	{% endif %}

	{% if templateClass == "template-team" %}
		{% set hero = heroes.team %}
		{% include "heroes/primary-nav.njk" %}
	{% endif %}

	{% if templateClass == "template-spotlight" %}
		{% set hero = heroes.spotlight %}
		{% include "heroes/primary-nav.njk" %}
	{% endif %}

</header>

<div class="l-lip c-lip">
	<div class="l-lip__hollow c-lip__hollow"></div>
	<div class="l-lip__fill c-lip__fill"></div>
</div>
