{# {% include "skipnav.njk" %} #}
<!--
  <h1>
    <a rel="index" href="{{ '/' | url }}">{{ metadata.title }}</a>
  </h1>
-->

<header id="header" class="l-header">
  <nav id="navigation" class="c-primary-nav" aria-label="Primary">
    <ul class="c-primary-nav__list">
      <li class="c-primary-nav__list-item">
        <a class="c-primary-nav__link" href="">Resources</a>
      </li>
      <li class="c-primary-nav__list-item">
        <a class="c-primary-nav__link" href="/posts">Posts</a>
      </li>
      <li class="c-primary-nav__list-item">
        <a class="c-primary-nav__link" href="">About</a>
      </li>
      <li class="c-primary-nav__list-item">
        <a class="c-primary-nav__link c-primary-nav__link--contribute" href="">Contribute</a>
      </li>
    </ul>
  </nav>

  {% if templateClass == "template-home" %}
    {% include "hero.njk" %}
  {% endif %}

</header>

