<header id="header" class="l-header">

	{% include "nav/primary.njk" %}

	{% if templateClass == "template-home" %}
		{% include "heroes/home.njk" %}
	{% endif %}

	{% if hero %}
		{% include "heroes/primary-nav.njk" %}
	{% endif %}
</header>

<div class="l-lip c-lip">
	<div class="l-lip__hollow c-lip__hollow"></div>
	<div class="l-lip__fill c-lip__fill"></div>
</div>
