<div class="c-card__wrapper c-card--highlight {% if templateClass == "template-posts"%}c-card--post{% else %}c-card--resource{% endif %}">
	<h2
		id="latest"
		class="c-banner {% if templateClass == "template-posts"%}c-banner--post{% else %}c-banner--resource{% endif %}">
		<svg aria-hidden="true" focusable="false" class="c-banner__icon" width="22" height="22">
			<use xlink:href="/img/icons.svg#featured"></use>
		</svg>
		Featured {% if templateClass == "template-posts" %}Post{% elif templateClass == "template-resources" %}Resource{% endif %}
	</h2>
	<div class="c-card">
		<h3>
			{% if templateClass == "template-posts" %}
				<a class="c-card__title" href="{{ post.url | url }}">{{ post.data.title | safe }}</a>
			{% elif templateClass == "template-resources" %}
				<a class="c-card__title" href="{{ featuredResource.url | url }}">{{ featuredResource.title | safe }}</a>
			{% endif %}
		</h3>
		{% if templateClass == "template-resources" %}
			<p class="c-card__additional">
				{{ featuredResource.additional }}
			</p>
		{% endif %}
		{% if templateClass == "template-posts" %}
			<p class="c-card__meta">
				<time datetime="{{ post.date | htmlDateString }}">{{ post.date | dateReadable }}</time>{% if post.data.author%} by {{ post.data.author }}{% endif %}
			</p>
		{% endif %}
		<p class="c-card__description">
			{% if templateClass == "template-posts" %}
				{{ post.data.description | safe }}
			{% elif templateClass == "template-resources" %}
				{{ featuredResource.description }}
			{% endif %}
		</p>
	</div>
</div>
