{% for post in postslist | reverse %}
<article class="c-linkroll {% if post.data.categories == "Quick Tip" %}c-linkroll--quick-tip{% elif post.data.categories == "Quick Tests" %}c-linkroll--quick-tests{% elif post.data.categories == "Myths" %}c-linkroll--myths{% endif %}">
  <a class="c-linkroll__link" {% if post.url == url %}aria-current="page"{% endif %} href="{{ post.url | url }}">
    <div class="c-linkroll__count">
      <p class="c-linkroll__number">021<span class="u-hide-visually">. </span></p>
    </div>
    <div class="c-linkroll__content">
      <h3 class="c-linkroll__title">
        <span class="c-linkroll__category">{{ post.data.categories }}<span class="u-hide-visually">: </span></span><br />{{ post.data.title }}
      </h3>
    </div>
  </a>
</article>
{% endfor %}
