<li class="c-linkroll__entry c-linkroll__entry--{{ post.data.category | slugify }}">
	<a class="c-linkroll__link" href="{{ post.url | url }}">
		<span class="u-font-size-body-tiny u-text-transform-uppercase c-linkroll__category">{{ post.data.category }}<span class="u-hide-visually">: </span></span>
		<span class="u-font-size-body-medium c-linkroll__title">{{ post.data.title }}</span>
	</a>
</li>
