<div class="c-person">
  <a href="{{ person.website }}">
    <img class="c-person__photo" alt="" src="{{ person.photo }}" />
  </a>
  <p class="c-person__name">
    <a class="c-person__link" href="{{ person.website }}">
      {{ person.name }}
    </a>
  </p>
</div>
