{% for post in postslist %}
<article class="c-post-preview">
  <h3>
    <a class="c-post-preview__title" href="{{ post.url | url }}">{{ post.data.title | safe }}</a>
  </h3>
  <p class="c-post-preview__date">
    <time datetime="{{ post.date | htmlDateString }}">{{ post.date | dateReadable }}</time>{% if post.data.author%} by {{ post.data.author }}{% endif %}
  </p>
  <p class="c-post-preview__shortdesc">
    {{ post.data.description | safe }}
  </p>
</article>
{% endfor %}

{#
<ol class="postlist">
{% for post in postslist %}
  <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
    <a href="{{ post.url | url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    {% for tag in post.data.tags %}
      {%- if tag != "post" -%}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
  </li>
{% endfor %}
</ol> #}
