<aside id="sponsors" class="l-sponsors c-sponsors" aria-label="Sponsors">

	{% set sponsor = sponsors.sponsor %}
	{% for sponsor in sponsor %}
		{% include "ad.njk" %}
	{% endfor %}

</aside>
