<section class="l-footer__theme-switcher" aria-label="Theme switcher">
	<fieldset class="c-theme-switcher" data-theme-toggle>
		<div class="c-theme-switcher__wrapper" class="c-theme-switcher">
			<legend class="u-text-transform-uppercase c-theme-switcher__title">Theme</legend>
			<div class="c-theme-switcher__options">
				<input id="theme-system" class="c-theme-switcher__input" name="theme" value="system" type="radio" checked /><label for="theme-system" class="c-theme-switcher__label">System</label>

				<input id="theme-light" class="c-theme-switcher__input" name="theme" value="light" type="radio" /><label for="theme-light" class="c-theme-switcher__label">Light</label>

				<input id="theme-dark" class="c-theme-switcher__input" name="theme" value="dark" type="radio" /><label for="theme-dark" class="c-theme-switcher__label">Dark</label>
			</div>
		</div>
	</fieldset>
</section>
