{
	"extends": "stylelint-config-standard-scss",
	"reporters": [{ "formatter": "string", "console": true }],
	"rules": {
		"scss/dollar-variable-pattern": null,
		"scss/dollar-variable-empty-line-before": null,
		"scss/comment-no-empty": null,
		"scss/no-global-function-names": null,
		"scss/at-mixin-argumentless-call-parentheses": null,
		"scss/double-slash-comment-empty-line-before": null,
		"scss/at-rule-conditional-no-parentheses": null,
		"selector-class-pattern": "^[a-z]([-]?[a-z0-9]+)*(__[a-z0-9]([-]?[a-z0-9]+)*)*?(--[a-z0-9]([-]?[a-z0-9]+)*)?$",
		"no-descending-specificity": null,
		"declaration-empty-line-before": null,
		"color-no-invalid-hex": true,
		"font-family-no-missing-generic-family-keyword": true,
		"function-calc-no-unspaced-operator": true,
		"string-no-newline": true,
		"property-no-unknown": true,
		"declaration-block-no-duplicate-properties": true,
		"declaration-block-no-shorthand-property-overrides": true,
		"block-no-empty": true,
		"selector-pseudo-class-no-unknown": true,
		"selector-pseudo-element-no-unknown": true,
		"selector-type-no-unknown": true,
		"media-feature-name-no-unknown": true,
		"at-rule-no-unknown": [
			true,
			{
				"ignoreAtRules": [
					"at-root",
					"debug",
					"each",
					"else",
					"error",
					"extend",
					"for",
					"function",
					"import",
					"if",
					"include",
					"media",
					"mixin",
					"return",
					"use",
					"warn",
					"while"
				]
			}
		],
		"comment-no-empty": null,
		"comment-empty-line-before": null,
		"no-duplicate-selectors": true,
		"color-named": ["never", { "ignore": ["inside-function"] }],
		"function-url-no-scheme-relative": true,
		"shorthand-property-no-redundant-values": true,
		"value-no-vendor-prefix": true,
		"property-no-vendor-prefix": true,
		"declaration-block-no-redundant-longhand-properties": [
			true,
			{ "ignoreShorthands": ["/grid/"] }
		],
		"selector-max-id": 0,
		"selector-no-vendor-prefix": true,
		"at-rule-no-vendor-prefix": true,
		"no-unknown-animations": true,
		"color-hex-length": "long",
		"font-family-name-quotes": "always-where-recommended",
		"function-name-case": "lower",
		"function-url-quotes": "always",
		"value-keyword-case": ["lower", { "camelCaseSvgKeywords": true }],
		"selector-attribute-quotes": "always",
		"selector-pseudo-element-colon-notation": "double",
		"selector-type-case": "lower",
		"at-rule-empty-line-before": [
			"always",
			{
				"ignore": ["after-comment", "first-nested", "inside-block"],
				"except": ["blockless-after-same-name-blockless"]
			}
		],
		"media-feature-range-notation": "prefix",
		"comment-whitespace-inside": "always"
	}
}
