{
	"rules": {
		"color-no-invalid-hex": true,
		"font-family-no-missing-generic-family-keyword": true,
		"function-calc-no-unspaced-operator": true,
		"string-no-newline": true,
		"property-no-unknown": true,
		"declaration-block-no-duplicate-properties": true,
		"declaration-block-no-shorthand-property-overrides": true,
		"block-no-empty": true,
		"selector-pseudo-class-no-unknown": true,
		"selector-pseudo-element-no-unknown": true,
		"selector-type-no-unknown": true,
		"media-feature-name-no-unknown": true,
		"at-rule-no-unknown": [true, {
			"ignoreAtRules": ["at-root", "debug", "each", "else", "error", "extend", "for", "function", "import", "if", "include", "media", "mixin", "return", "warn", "while"]
		}],
		"comment-no-empty": true,
		"no-duplicate-selectors": true,
		"no-extra-semicolons": true,
		"color-named": ["never", {
			"ignore": "inside-function"
		}],
		"function-url-no-scheme-relative": true,
		"shorthand-property-no-redundant-values": true,
		"value-no-vendor-prefix": true,
		"property-no-vendor-prefix": true,
		"declaration-block-no-redundant-longhand-properties": true,
		"selector-max-id": 0,
		"selector-no-vendor-prefix": true,
		"at-rule-no-vendor-prefix": true,
		"max-nesting-depth": [3, {
			"ignore": ["blockless-at-rules", "pseudo-classes"]
		}],
		"no-unknown-animations": true,
		"color-hex-case": "lower",
		"color-hex-length": "long",
		"font-family-name-quotes": "always-where-required",
		"function-comma-newline-after": "never-multi-line",
		"function-comma-newline-before": "never-multi-line",
		"function-comma-space-after": "always-single-line",
		"function-comma-space-before": "never-single-line",
		"function-max-empty-lines": 0,
		"function-name-case": "lower",
		"function-parentheses-newline-inside": "never-multi-line",
		"function-parentheses-space-inside": "never",
		"function-url-quotes": "always",
		"function-whitespace-after": "always",
		"number-leading-zero": "always",
		"number-no-trailing-zeros": true,
		"string-quotes": "double",
		"unit-case": "lower",
		"value-keyword-case": "lower",
		"value-list-comma-newline-before": "never-multi-line",
		"value-list-comma-space-after": "always-single-line",
		"value-list-comma-space-before": "never-single-line",
		"value-list-comma-newline-after": "always",
		"value-list-max-empty-lines": 0,
		"property-case": "lower",
		"declaration-bang-space-after": "never",
		"declaration-bang-space-before": "always",
		"declaration-colon-newline-after": "always-multi-line",
		"declaration-colon-space-after": "always-single-line",
		"declaration-colon-space-before": "never",
		"declaration-block-semicolon-newline-after": "always",
		"declaration-block-semicolon-space-before": "never",
		"declaration-block-trailing-semicolon": "always",
		"selector-attribute-brackets-space-inside": "never",
		"selector-attribute-operator-space-after": "never",
		"selector-attribute-operator-space-before": "never",
		"selector-attribute-quotes": "always",
		"selector-combinator-space-before": "always",
		"selector-pseudo-class-case": "lower",
		"selector-pseudo-class-parentheses-space-inside": "never",
		"selector-pseudo-element-case": "lower",
		"selector-pseudo-element-colon-notation": "double",
		"selector-type-case": "lower",
		"selector-combinator-space-after": "always",
		"selector-list-comma-newline-after": "always",
		"selector-list-comma-newline-before": "never-multi-line",
		"at-rule-empty-line-before": ["always", {
			"ignore": ["after-comment", "first-nested", "inside-block"]
		}],
		"media-feature-colon-space-after": "always",
		"media-feature-colon-space-before": "never",
		"media-feature-name-case": "lower",
		"media-feature-parentheses-space-inside": "never",
		"media-feature-range-operator-space-after": "always",
		"media-feature-range-operator-space-before": "always",
		"media-query-list-comma-space-after": "always",
		"media-query-list-comma-space-before": "never",
		"at-rule-name-case": "lower",
		"at-rule-name-space-after": "always-single-line",
		"at-rule-semicolon-newline-after": "always",
		"at-rule-semicolon-space-before": "never",
		"comment-whitespace-inside": "always",
		"max-empty-lines": 2
	}
}
