---
layout: page
title: Events
description: Local and remote accessibility events
permalink: events/
redirect_from:
  - "/events.html"
---

<section class="notification">
    <h2 class="notification__title">COVID-19</h2>
    <p>Due to <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">the worldwide pandemic</a> we are currently not accepting event submissions for non-virtual events or conferences.</p>
</section>

<p class="resources-section">
    <a href="https://github.com/a11yproject/a11yproject.com/issues/new">Let us know if you are hosting an event</a> and want it listed here. Please be sure to include a brief event description (2-4 sentences), as well as links to pertinent information. <a href="/follow/#meetups">Meetups</a> might also be happening in your area, be sure to check!
</p>

<nav hidden id="toc-events" class="toc-wrap toc-long" aria-labelledby="toc_title">
    <h2 id="toc_title" class="toc-title">Categories</h2>
    <ul class="toc">
        {% for category in site.data.events %}
        <li>
            <a class="{{ category.section-id }}" href="#{{category.section-id}}">
              {{ category.event-category }}
            </a>
        </li>
        {% endfor %}
        <li>
            <a class="past-events" href="#past-events">
              Past events
            </a>
        </li>
    </ul>
</nav>

{% for category in site.data.events %}
<section id="{{category.section-id}}" class="article-section resources-section " aria-labelledby="event-list" tabindex="-1">
    <h3 id="event-list" class="article-section__title">Event List</h3>
    {% assign sorted_events = category.events | sort: 'date' %}
    {% for event in sorted_events %}
    <div class="waypoint-section event" data-date="{{event.date | date:"%s"}}" aria-labelledby="{{event.title | url_encode | downcase | replace_first:'%','' | replace:'+','-'}}">
      <h4 id="{{event.title | url_encode | downcase | replace_first:'%','' | replace:'+','-'}}">
        <a href="{{ event.url }}" rel="external">{{event.title}}</a>{% if event.type %} <span class="event__type">{{event.type}}</span>{% endif %}
      </h4>
      <dl class="article-section__content">
        <dt class="screen-reader-text">
          Event date:
        </dt>
        <dd class="event__time">
          <time datetime="{{ event.date }}">{{ event.date | date:"%B %e, %Y" }}</time>
        </dd>
        {% if event.address %}
        <dt class="screen-reader-text">
          Event address:
        </dt>
        <dd class="event__address">
          <a href="{{ event.map }}" rel="external">
            {{event.address}}
          </a>
        </dd>
        {% endif %}
        <dt class="screen-reader-text">
          Event description:
        </dt>
        <dd>
          {{event.description}} {% if event.hashtag %}<span class="screen-reader-text">Event hashtag: </span><a href="https://twitter.com/search?src=typd&q=%23{{event.hashtag}}" rel="external">#{{event.hashtag}}</a>{% endif %}
        </dd>
      </div>
    {% endfor %}
  </dl>
</section>
{% endfor %}

<section hidden id="past-events" class="article-section resources-section" tabindex="-1">
    <h3 class="article-section__title">Past events</h3>
</section>
