---
layout: archives
description: A community-driven effort to make web accessibility easier.
---
<section class="toc-wrap">
  <h3 class="toc-title">Categories</h3>
  <ul class="toc">
    {% for category in site.categories %}
      {% assign title = category.first %}

      <li><a class="{{ title | capitalize | replace:' ','-' }}" href="#{{ title | capitalize | replace:' ','-' }}">{{ title | capitalize }}</a></li>

    {% endfor %}
  </ul>
</section>

{% for category in site.categories %}

  {% assign title = category.first %}
  {% assign posts = category.last %}

  <section id="{{ title | capitalize | replace:' ','-' }}" class="article-section archive-section" tabindex="-1">


    <h2 class="article-section__title">{{ title | capitalize }}</h2>
    <ul class="article-section__content excerpt-list">
    {% for post in posts %}
      <li>
        <h4 class="excerpt-list__title"><a href="{{ post.url }}">{{ post.title }}</a></h4>
        {% if post.description %}<p>{{ post.description }}</p>{% endif %}
    {% endfor %}
  </section>

{% endfor %}
