---
layout: default
description: A community-driven effort to make web accessibility easier.
---
<div class="jumbotron masthead">
  <div class="container-fluid">
    <h1><!--[if lte IE 8]><img src="/img/logo.png" class="oldie-logo-masthead logo" alt=""><![endif]--><!--[if gte IE 9]><!--><span class="fs1 logo" aria-hidden="true" data-icon="&#xe000;"></span><!--<![endif]-->{{ site.title }}</h1>
    <p>A community-driven effort to make web accessibility easier.</p>
    <ul class="masthead-links">
      <li>
        <a href="./about.html">Learn more</a>
      </li>
      <li>
        <a href="http://github.com/a11yproject/a11yproject.com">Contribute on Github</a>
      </li>
    </ul>
  </div>
</div>

<div class="container-fluid">
  <header class="page-header">
    <h2>Latest Posts</h2>
  </header>

  <div class="row-fluid latest-posts">
    {% for post in site.posts limit: 8 %}
    <div class="span3">
      <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
      {% if post.description %}<p>{{ post.description }}</p>{% endif %}
    </div><!--/span-->
    {% if forloop.index == 4 %}
  </div>
  <div class="row-fluid latest-posts">
    {% endif %}
    {% endfor %}
  </div><!--/row-->
</div>
