---
layout: page
title: Resources
description: Accessibility software, books, blogs, online tools, and more
permalink: resources.html
---

<section class="toc-wrap toc-long">
    <h3 class="toc-title">Categories</h3>
    <ul class="toc">
        {% for category in site.data.resources %}
        <li>
            <a class="{{ category.section-id }}" href="#{{category.section-id}}">
            {{ category.resource-category }}
            </a>
        </li>
        {% endfor %}
    </ul>
</section>

{% for category in site.data.resources  %}
<section id="{{category.section-id}}" class="article-section resources-section" tabindex="-1">
    <h3 class="article-section__title">{{ category.resource-category }}</h3>
    <ul class="article-section__content">
    {% for resource in category.resources | sort: 'title' %}
      <li>
        <a href="{{ resource.url }}" rel="external">
          {{resource.title}}
        </a>{% if resource.description %}<span> - {{ resource.description }}</span>{% endif %}
      </li>
    {% endfor %}
    </ul>
</section>
{% endfor %}
