<meta name="theme-color" content="#fb37ff">
<link rel="icon" href="{{ '/favicon.svg' | url }}">
<link rel="mask-icon" href="{{ '/safari-pinned-tab.svg' | url }}" color="#000000">
<link rel="apple-touch-icon" href="{{ '/apple-touch-icon.png' | url }}">
<link rel="manifest" href="{{ '/manifest.json' | url }}">
