<meta name="theme-color" content="#fb37ff">
<link rel="icon" href="/favicon.svg">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#fb37ff">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="manifest" href="/manifest.json">
