.l-404 {
	min-height: 80vh;
	padding: map-get($global-bleed, large) map-get($global-bleed, small);

	// Breakpoints
	@include mappy-bp(wrist-large) {
		padding-right: map-get($global-bleed, large);
		padding-left: map-get($global-bleed, large);
	}

	// Supports
	@supports #{$supports-flex} {
		display: flex;
		align-items: center;

		// Breakpoints
		@include mappy-bp(palm-large) {
			justify-content: center;
		}
	}
}
