.l-footer {
	// Supports
	@supports #{$supports-grid} {
		display: grid;
		grid-template-columns: map-get($global-bleed, small) 1fr map-get($global-bleed, small);
		grid-auto-rows: auto auto;
		grid-template-areas:
			". footer-nav ."
			". tagline    ."
			". copyright  ."
			". top        .";

		// Breakpoints
		@include mappy-bp(palm-medium) {
			grid-template-columns: map-get($global-bleed, large) 1.75fr 1fr map-get($global-bleed, large);
			grid-template-areas:
				". footer-nav footer-nav ."
				". tagline    .          ."
				". copyright  top        .";
		}
	}
}


.l-footer__tagline {
	margin-top: 3rem;

	// Supports
	@supports #{$supports-grid} {
		grid-area: tagline;
	}
}


.l-footer__copyright {
	// Supports
	@supports #{$supports-grid} {
		align-self: end;
		grid-area: copyright;
	}
}


.l-footer__top {
	// Supports
	@supports #{$supports-grid} {
		align-self: end;
		grid-area: top;
	}
}
