$_hero-columns: (
  small: 1fr minmax(0, 60vw) 1fr,
  medium: 1fr minmax(0, 45vw) 1fr
);
// $_hero-columns-small: ;
// map-get($_hero-columns, medium): ;


.l-hero {
  height: 75vh;

  // Supports
  @supports #{$supports-flex} {
    // Breakpoints
    @include mappy-bp(palm-large) {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  @supports #{$supports-grid} {
    // Breakpoints
    @include mappy-bp(lap-small) {
      display: grid;
      grid-template-columns: map-get($_hero-columns, small);
      grid-template-rows: 1fr 1fr 1fr 3rem;
      grid-template-areas:
        ". .    ."
        ". hero ."
        ". .    .";
    }

    @include mappy-bp(lap-medium) {
      grid-template-columns: map-get($_hero-columns, medium);
    }
  }
}

.l-hero__promo {
  margin-left: map-get($global-bleed, small);
  margin-right: map-get($global-bleed, small);
  position: relative;
    top: 50%;
  transform: perspective(1px) translateY(-60%); // HACK: Keeps`perspective(1px)` keeps content from rendering blurry

  // Supports
  @supports #{$supports-flex} {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  // Breakpoints
  @include mappy-bp(palm-small) {
    margin-left: map-get($global-bleed, large);
    margin-right: map-get($global-bleed, large);
  }

  @include mappy-bp(palm-large) {
    margin: 0 15vw;
  }

  @include mappy-bp(lap-small) {
    margin: 0 20vw;
  }

  @supports #{$supports-grid} {
    grid-area: hero;

    // Breakpoints
    @include mappy-bp(palm-large) {
      margin-top: 0;
      margin-bottom: 0;
      position: unset;
      transform: none;
    }

    @include mappy-bp(lap-small) {
      margin: 0;
    }
  }
}

.l-header__cap {
  @supports #{$supports-grid} {
    // Breakpoints
    @include mappy-bp(lap-small) {
      display: grid;
      grid-template-columns: map-get($_hero-columns, small);
      grid-template-rows: 3rem;
      grid-template-areas:
        "hollow lip lip";
    }

    @include mappy-bp(lap-medium) {
      grid-template-columns: map-get($_hero-columns, medium);
    }
  }
}

.l-header__hollow {
  grid-area: hollow;
}

.l-header__lip {
  grid-area: lip;
}
