.l-main {
  .template-home &,
  .template-posts &,
  .template-checklist &,
  .template-resources &,
  .template-about &,
  .template-authors &,
  .template-team & {
    margin-left: map-get($global-bleed, small);
    margin-right: map-get($global-bleed, small);
    margin-top: 2rem;

    // Breakpoints
    @include mappy-bp(lap-medium) {
      margin-top: 4rem;
    }

    // Supports
    @supports #{$supports-grid} {
      display: grid;
      grid-template-columns: map-get($global-bleed, small) 1fr map-get($global-bleed, small);
      grid-template-areas:
        ". toc     ."
        ". content .";
      margin-left: 0;
      margin-right: 0;

      // Breakpoints
      @include mappy-bp(palm-medium) {
        grid-template-columns: map-get($global-bleed, large) 1fr map-get($global-bleed, large);
      }

      @include mappy-bp(lap-medium) {
        grid-template-columns: map-get($global-bleed, large) 14rem 4rem 1fr map-get($global-bleed, large);
        grid-template-areas: ". toc . content .";
      }
    }
  }
}
