$_l-post-grid-category: 11rem;
$_l-post-grid-gutter: 0.5rem;
$_l-post-grid-toc: 10rem;


.l-post {
  margin-top: 4rem;

  // Supports
  @supports #{$supports-grid} {
    display: grid;
    grid-template-columns: $_l-post-grid-category $_l-post-grid-gutter 2fr 0.5fr $_l-post-grid-toc;
    grid-template-areas:
      "header header header header header"
      "header header header header header"
      ".      post   post   .      .";
  }
}


.l-post__category {
  // Supports
  @supports #{$supports-grid} {
    grid-area: category;
  }
}


.l-post__header {
  // Supports
  @supports #{$supports-grid} {
    display: grid;
    grid-area: header;
    grid-template-columns: $_l-post-grid-category $_l-post-grid-gutter 2fr 0.5fr $_l-post-grid-toc;
    grid-template-areas:
      "category . title    title ."
      ".        . metadata .     ."
      ".        . .        .     toc";
  }
}

.l-post__title {
  // Supports
  @supports #{$supports-grid} {
    grid-area: title;
  }
}

.l-post__metadata {
  margin-bottom: 4rem;

  // Supports
  @supports #{$supports-grid} {
    grid-area: metadata;
  }
}

.l-post__toc {
//  margin-top: 4rem; // Tweak to align baselines. See: `l-post__content`

  // Supports
  @supports #{$supports-grid} {
    grid-area: toc;
  }
}


.l-post__content {
 margin-top: 2.5rem; // Tweak to align baselines. See: `l-post__toc`

  // Supports
  @supports #{$supports-grid} {
    grid-column: 3 / 4;
    grid-row: 2 / span 3; // Allows the start of the post to sit flush with the ToC
  }
}
