$_l-post-category: 11rem;
$_l-post-gutter: 0.5rem;
$_l-post-toc: 1.25fr;


.l-post {
	margin-top: 2rem;

	// Breakpoints
	@include mappy-bp(lap-medium) {
		margin-top: 4rem;
	}
}

.l-post__header {
	// Breakpoints
	@include mappy-bp(lap-medium) {
		// Supports
		@supports #{$supports-grid} {
			display: grid;
			grid-template-columns: $_l-post-category $_l-post-gutter 2fr 2rem $_l-post-toc;
			grid-template-rows: auto auto;
			grid-template-areas:
				"category . title    . ."
				".        . metadata . .";
		}
	}
}

.l-post__body {
	// Breakpoints
	@include mappy-bp(lap-medium) {
		// Supports
		@supports #{$supports-grid} {
			margin-top: 6ex;
			display: grid;
			grid-template-columns: $_l-post-category $_l-post-gutter 2fr 2rem $_l-post-toc;
			grid-template-rows: auto auto;
			grid-template-areas:
				". . content . toc";
		}
	}
}


.l-post__category {
	// Supports
	@supports #{$supports-grid} {
		grid-area: category;
	}
}

.l-post__title {
	// Supports
	@supports #{$supports-grid} {
		grid-area: title;
	}
}

.l-post__metadata {
	// Supports
	@supports #{$supports-grid} {
		grid-area: metadata;
	}
}

.l-post__content {
	// Supports
	@supports #{$supports-grid} {
		grid-area: content;
	}
}

.l-post__linkroll {
	// Supports
	@supports #{$supports-grid} {
		grid-area: linkroll;
	}
}
