.l-recommended-reading {
	margin-top: 2rem;

	// Breakpoints
	@include mappy-bp(lap-small) {
		// Supports
		@supports #{$supports-grid} {
			display: grid;
			gap: 1.5rem;
			grid-template-columns: 1.5fr 2fr;
		}
	}

	// Contexts
	.c-linkroll__link {
		outline: none !important;
	}
}


.l-recommended-reading__featured {



}


.l-recommended-reading__list {

	// Contexts
	.c-linkroll__entry {
		&:first-of-type {
			margin-top: 0;
		}
	}


	// Contexts
	.c-content & {
		margin-left: 0;
	}
}
