// z-index
//
// Organizes the stacking order for items assigned a `z-index` value. See [`functions.z`](section-logic.html#kssref-logic-functions-z)
//
// Styleguide Logic.Maps.z-index
$z-index: (
	basement: -999999, // Banish things out of sight
	component: 1,
	ceiling: 999999 // Ensure it is displayed
);
