// breakpoints
//
// Organizes the site breakpoints. Breakpoints are declared with pixel values
// to work with the Mappy Breakpoints mixin.
//
// Styleguide Logic.Maps.breakpoints
$breakpoints: (
  'wrist-small':  320px,
  'wrist-medium': 400px,
  'wrist-large':  480px,
  'palm-small':   600px,
  'palm-medium':  720px,
  'palm-large':   900px,
  'lap-small':    1080px,
  'lap-medium':   1350px,
  'lap-large':    1620px,
  'desk-small':   2025px,
  'desk-medium':  2430px,
  'desk-large':   3038px,
  'wall-small':   3646px,
  'wall-medium':  4558px,
  'wall-large':   5698px
);
