// colors
//
// Organizes the site's palette. Color values should be managed on a
// per-component-basis, to keep color values from being misused. See [`functions.c`](section-logic.html#kssref-logic-functions-c).
//
// Styleguide Logic.Maps.colors
$colors: (
  base: (
    background: $color-sand,
    text:       $color-black
  ),

  themes: (
    blog:     $color-green,
    homepage: $color-pink
  ),

  hero: (
    homepage: $color-green-shade
  ),

  links: (
    resting: #188cb0,
    active:  #4bbfe3,
    hover:   #4bbfe3,
    focus:   #147a99,
    visited: #806ed2
  ),

  primary-nav: (
    background:   $color-black,
    link-resting: $color-white
  ),

  toc: (
    link-resting: $color-black
  ),

  a11y: (
    accent:     $color-pink-tint,
    background: $color-white,
    text:       $color-black
  )
);
