// Headings
//
// Controls section content headings.
//
// Styleguide Logic.Mixins.Headings


// heading-largest
//
// Weight: 4
//
// Applies the third level heading style from a set of 8 heading styles.
// Used for `h1` elements in generic page temlplates.
//
// Styleguide Logic.Mixins.Headings.heading-largest
@mixin heading-largest() {
  font-size: 3rem;
  line-height: $line-height-single;
  margin-bottom: 1rem;

  // Breakpoints
  @include mappy-bp(lap-small) {
    font-size: 3.5rem;
  }
}


// heading-large
//
// Weight: 5
//
// Applies the fourth level heading style from a set of 8 heading styles.
// Used for `h2` elements in blog posts.
//
// Styleguide Logic.Mixins.Headings.heading-large
@mixin heading-large() {
  font-size: 1.75rem;

  // Breakpoints
  @include mappy-bp(lap-small) {
    font-size: 2rem;
  }
}

// heading-medium
//
// Weight: 6
//
// Applies the fifth level heading style from a set of 8 heading styles.
// Used for `h3` elements in blog posts.
//
// Styleguide Logic.Mixins.Headings.heading-medium
@mixin heading-medium() {
  font-size: 1.25rem;
  line-height: $line-height-tight;

  // Breakpoints
  @include mappy-bp(lap-small) {
    font-size: 1.5rem;
  }
}

// heading-small
//
// Weight: 7
//
// Applies the sixth level heading style from a set of 8 heading styles.
// Used for `h4` elements in blog posts.
//
// Styleguide Logic.Mixins.Headings.heading-medium
@mixin heading-small() {
  font-size: 1rem;
  font-weight: $font-weight-bold;
  letter-spacing: $font-tracking-slight;
  margin-bottom: -2ex;
  text-transform: uppercase;
}
