// Headings
//
// Controls section content headings.
//
// Styleguide Logic.Mixins.Headings


// heading-beta
//
// Weight: 4
//
// Applies the fourth level heading style from a set of 8 heading styles.
// Used for `h2` elements in blog posts.
//
// Styleguide Logic.Mixins.Headings.heading-beta
@mixin heading-beta() {
  font-size: 1.75rem;

  // Breakpoints
  @include mappy-bp(lap-small) {
    font-size: 2rem;
  }
}

// heading-gamma
//
// Weight: 5
//
// Applies the fifth level heading style from a set of 8 heading styles.
// Used for `h3` elements in blog posts.
//
// Styleguide Logic.Mixins.Headings.heading-gamma
@mixin heading-gamma() {
  font-size: 1.25rem;
  line-height: $line-height-tight;

  // Breakpoints
  @include mappy-bp(lap-small) {
    font-size: 1.5rem;
  }
}
