// shift-click
//
// Shift interactive elements down slightly when activated to make them feel
// more button-like.
//
// Styleguide Logic.Mixins.shift-click
@mixin shift-click() {
	position: relative;
		top: 1px;
}
