// preserve-list-semantics
//
// Ensures that [VoiceOver will declare the presence of list items](https://unfetteredthoughts.net/2017/09/26/voiceover-and-list-style-type-none/),
// even if the list bullet has been removed. Apply to the `ul`, `ol`, `dl`
// element. See [`u-preserve-list-semantics`](section-utilities.html#kssref-utilities-u-preserve-list-semantics).
//
// Styleguide Logic.Mixins.preserve-list-semantics
@mixin preserve-list-semantics() {
  list-style-type: none;

  li::before {
      content: "\200B"; // Zero width space
  }
}
