// post-content-flourish
//
// Adds images to specific section s of post content
//
// $height - Specifies the height of the background image container in pixels. Converted to `rem`.
// $top-margin - Sets the amount of top margin.
//
// Styleguide Logic.Mixins.post-content-inset
@mixin post-content-flourish($height, $top-margin) {
	// Breakpoints
	@include mappy-bp(lap-medium) {
		&::before {
			background: var(--filename) no-repeat center;
			background-size: cover;
			content: "";
			display: block;
			height: rem($height);
			margin-top: $top-margin;
			position: absolute;
				left: 1rem;
			width: rem(164);
		}

		@media (prefers-color-scheme: dark) {
			:root:not([data-user-theme="light"]) & {
				&::before {
					background-image: var(--filename-dark);
				}
			}
		}

		[data-user-theme="dark"] {
			background-image: var(--filename-dark);
		}
	}
}
