// Animation Duration
//
// Controls how long animations play for.
//
// Styleguide Logic.Variables.animation-duration


// animation-duration-shortest
//
// Weight: 1
//
// Styleguide Logic.Variables.animation-duration.animation-duration-shortest
$animation-duration-shortest: 100ms;


// animation-duration-shorter
//
// Weight: 2
//
// Styleguide Logic.Variables.animation-duration.animation-duration-shorter
$animation-duration-shorter: 200ms;


// animation-duration-short
//
// Weight: 3
//
// Styleguide Logic.Variables.animation-duration.animation-duration-short
$animation-duration-short: 300ms;


// animation-duration-long
//
// Weight: 4
//
// Styleguide Logic.Variables.animation-duration.animation-duration-long
$animation-duration-long: 500ms;


// animation-duration-longer
//
// Weight: 5
//
// Styleguide Logic.Variables.animation-duration.animation-duration-longer
$animation-duration-longer: 700ms;


// animation-duration-longest
//
// Weight: 6
//
// Styleguide Logic.Variables.animation-duration.animation-duration-longest
$animation-duration-longest: 900ms;
