// Borders
//
// Controls how thick borders are.
//
// Styleguide Logic.Variables.borders


// border-hairline
//
// Weight: 1
//
// Styleguide Logic.Variables.border.border-hairline
$border-hairline: 0.025em;


// border-thinnest
//
// Weight: 2
//
// Styleguide Logic.Variables.border.border-thinnest
$border-thinnest: 1px;


// border-thinner
//
// Weight: 3
//
// Styleguide Logic.Variables.border.border-thinner
$border-thinner: 2px;


// border-thin
//
// Weight: 4
//
// Styleguide Logic.Variables.border.border-thin
$border-thin: 3px;


// border-thick
//
// Weight: 5
//
// Styleguide Logic.Variables.border.border-thick
$border-thick: 0.5ex;


// border-thicker
//
// Weight: 6
//
// Styleguide Logic.Variables.border.border-thicker
$border-thicker: 1ch;


// border-thickest
//
// Weight: 7
//
// Styleguide Logic.Variables.border.border-thickest
$border-thickest: 0.025em;
