// Paths
//
// TODO: Describe paths
//
// Styleguide Logic.Variables.Paths


// path-to-css
//
// Styleguide Logic.Variables.Paths.path-to-css
$path-to-css: "css/" !default;


// path-to-fonts
//
// Styleguide Logic.Variables.Paths.path-to-fonts
$path-to-fonts: "fonts/" !default;


// path-to-img
//
// Styleguide Logic.Variables.Paths.path-to-img
$path-to-img: "img/" !default;


// path-to-js
//
// Styleguide Logic.Variables.Paths.path-to-js
$path-to-js: "js/" !default;


// path-to-static
//
// Styleguide Logic.Variables.Paths.path-to-static
$path-to-static: "static/" !default;
