// Font Sizes

$font-size-body-tiny: 0.75rem; // 12px
$font-size-body-small: 0.875rem; // 14px
$font-size-body: 1rem; // 16px
$font-size-body-medium: 1.25rem; // 20px
$font-size-body-large: 1.5rem; // 24px

$font-size-heading-tiny: 1.75rem; // 28px
$font-size-heading-small: 2rem; // 32px
$font-size-heading-medium: 2.25rem; // 36px
$font-size-heading-large: 2.5rem; // 40px
$font-size-heading-larger: 2.75rem; // 44px
$font-size-heading-largest: 3rem; // 48px
$font-size-heading-huge: 3.5rem; // 56px