// Font Weights
//
// These variables control the thickness of the characters for each typeface.
// It is important to make sure your font weight isn't too thin, as it may make
// your content too difficult to see for people experiencing low vision
// conditions.
//
// Styleguide Logic.Variables.font-weights


// font-weight-thin
//
// Weight: 1
//
// Styleguide Logic.Variables.font-weights.font-weight-thin
$font-weight-thin: 100 !default;


// font-weight-ultra-light
//
// Weight: 2
//
// Styleguide Logic.Variables.font-weights.font-weight-ultra-light
$font-weight-ultra-light: 200 !default;


// font-weight-extra-light
//
// Weight: 3
//
// Styleguide Logic.Variables.font-weights.font-weight-extra-light
$font-weight-extra-light: 200 !default;


// font-weight-light
//
// Weight: 4
//
// Styleguide Logic.Variables.font-weights.font-weight-light
$font-weight-light: 300 !default;


// font-weight-book
//
// Weight: 5
//
// Styleguide Logic.Variables.font-weights.font-weight-book
$font-weight-book: 400 !default;


// font-weight-normal
//
// Weight: 6
//
// Styleguide Logic.Variables.font-weights.font-weight-normal
$font-weight-normal: 400 !default;


// font-weight-regular
//
// Weight: 7
//
// Styleguide Logic.Variables.font-weights.font-weight-regular
$font-weight-regular: 400 !default;


// font-weight-medium
//
// Weight: 8
//
// Styleguide Logic.Variables.font-weights.font-weight-medium
$font-weight-medium: 500 !default;


// font-weight-demi-bold
//
// Weight: 9
//
// Styleguide Logic.Variables.font-weights.font-weight-demi-bold
$font-weight-demi-bold: 600 !default;


// font-weight-semi-bold
//
// Weight: 10
//
// Styleguide Logic.Variables.font-weights.font-weight-semi-bold
$font-weight-semi-bold: 600 !default;


// font-weight-bold
//
// Weight: 11
//
// Styleguide Logic.Variables.font-weights.font-weight-bold
$font-weight-bold: 700 !default;


// font-weight-extra-bold
//
// Weight: 12
//
// Styleguide Logic.Variables.font-weights.font-weight-extra-bold
$font-weight-extra-bold: 800 !default;


// font-weight-black
//
// Weight: 13
//
// Styleguide Logic.Variables.font-weights.font-weight-black
$font-weight-black: 900 !default;


// font-weight-thin
//
// Weight: 14
//
// Styleguide Logic.Variables.font-weights.font-weight-thin
$font-weight-heavy: 900 !default;


// font-weight-ultra
//
// Weight: 15
//
// Styleguide Logic.Variables.font-weights.font-weight-ultra
$font-weight-ultra: 900 !default;


// font-weight-ultra-black
//
// Weight: 16
//
// Styleguide Logic.Variables.font-weights.font-weight-ultra-black
$font-weight-ultra-black: 900 !default;


// font-weight-extra-black
//
// Weight: 17
//
// Styleguide Logic.Variables.font-weights.font-weight-extra-black
$font-weight-extra-black: 1000 !default;


// font-weight-fat
//
// Weight: 18
//
// Styleguide Logic.Variables.font-weights.font-weight-fat
$font-weight-fat: 1000 !default;
