// Line Heights
//
// Controls how far apart lines of text are.
//
// Styleguide Logic.Variables.line-heights


// line-height-none
//
// Weight: 1
//
// Styleguide Logic.Variables.line-heights.line-height-none
$line-height-none: 0;


// line-height-single
//
// Weight: 2
//
// Styleguide Logic.Variables.line-heights.line-height-single
$line-height-single: 1;


// line-height-tighter
//
// Weight: 3
//
// Styleguide Logic.Variables.line-heights.line-height-tighter
$line-height-tighter: 1.1;


// line-height-tight
//
// Weight: 4
//
// Styleguide Logic.Variables.line-heights.line-height-tight
$line-height-tight: 1.2;


// line-height-loose
//
// Weight: 5
//
// Styleguide Logic.Variables.line-heights.line-height-loose
$line-height-loose: 1.5;


// line-height-looser
//
// Weight: 6
//
// Styleguide Logic.Variables.line-heights.line-height-looser
$line-height-looser: 1.7;


// line-height-double
//
// Weight: 7
//
// Styleguide Logic.Variables.line-heights.line-height-double
$line-height-double: 2;
