// Font Families
//
// Font family variables are used to associate an imported typefaces with an
// abstract name. This allows us to be able to control and change typefaces
// quickly and easily. See [font family utility classes](section-utilities.html#kssref-utilities-font-families).
//
// Styleguide Logic.Variables.font-families


// font-family-primary
//
// Weight: 1
//
// Styleguide Logic.Variables.font-families.font-family-primary
$font-family-primary: "Noto Serif", serif;


// font-family-secondary
//
// Weight: 2
//
// Styleguide Logic.Variables.font-families.font-family-secondary
$font-family-secondary: "Anaheim", sans-serif;


// font-family-code
//
// Weight: 3
//
// Styleguide Logic.Variables.font-families.font-family-code
$font-family-code: "Recursive Mono Linear Static", monospace;


// font-family-native
//
// Weight: 4
//
// Styleguide Logic.Variables.font-families.font-family-native
$font-family-native: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
