// Print
//
// Controls the presentaion of content when a page is printed.
//
// Styleguide Media.Print


// Print styles inlined to avoid the additional HTTP request:
// http://www.phpied.com/delay-loading-your-print-css/
@media
	print,
	(min-resolution: 1.25dppx),
	(min-resolution: 120dpi) {
	// Style adjustments for high resolution devices
}

@media print {
	*,
	*::before,
	*::after,
	*::first-letter,
	*::first-line,
	div::first-line,
	blockquote::first-line,
	li::first-line {
		background: transparent !important;
		color: $color-black !important; // Black prints faster: http://www.sanbeiji.com/archives/953
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]::after {
		content: " (" attr(href) ")"; // Prints link URL after link
	}

	abbr[title]::after {
		content: " (" attr(title) ")"; // Prints link title after link
	}

	// Don't show links that are fragment identifiers, or use the `javascript:` pseudo protocol
	a[href^="#"]::after,
	a[href^="javascript:"]::after {
		content: "";
	}

	// Wrap code when printed
	pre {
		white-space: pre-wrap !important;
	}

	pre,
	blockquote {
		border: $border-thinnest solid $color-black;
		page-break-inside: avoid;
	}

	// Printing Tables: http://css-discuss.incutio.com/wiki/Printing_Tables
	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
