<title>{{ renderData.title or title or metadata.title }}</title>
<meta name="title" content="{{ renderData.title or title or metadata.title }}">
<meta name="description" content="{{ metadata.feed.subtitle }}">

<meta property="og:type" content="website">
<meta property="og:url" content="{{ page.url | url }}">
<meta property="og:title" content="{{ renderData.title or title or metadata.title }}">
<meta property="og:description" content="{{ metadata.feed.subtitle }}">
<meta property="og:image" content="URL/path/to/img.png">

<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ page.url | url }}">
<meta property="twitter:title" content="{{ renderData.title or title or metadata.title }}">
<meta property="twitter:description" content="{{ metadata.feed.subtitle }}">
<meta property="twitter:image" content="URL/path/to/img.png">
