<p class="l-footer__copyright c-footer__copyright">
  &copy; 2013–2020 The Accessibility Project. <a class="c-footer__copyright-link" href="https://www.apache.org/licenses/LICENSE-2.0"><abbr>APLv2</abbr></a>. Powered by <a class="c-footer__copyright-link" href="https://www.11ty.io/">Eleventy</a> and <a class="c-footer__copyright-link" href="https://www.netlify.com/">Netlify</a>.
</p>
<p class="l-footer__top c-footer__top">
  <a class="c-footer__copyright-link" href="#header">Back to top</a>
</p>
