<div class="l-footer__copyright">
	<p class="c-font-size-body-small">
  	&copy; 2013–2023 The Accessibility Project. <a class="c-footer__copyright-link" href="https://www.apache.org/licenses/LICENSE-2.0"><abbr>APLv2</abbr></a>. <a class="c-footer__copyright-link" href="{{ '/sitemap.xml' | url }}">Sitemap</a>.
	</p>
	<p class="c-footer__copyright">
		Powered by <a class="c-footer__copyright-link" href="https://www.11ty.io/">Eleventy</a>, <a class="c-footer__copyright-link" href="https://www.netlify.com/">Netlify</a>, and <a class="c-footer__copyright-link" href="https://github.com/a11yproject/a11yproject.com">GitHub</a>.
	</p>
</div>
<p class="u-font-size-body-small l-footer__top">
  <a class="c-footer__copyright-link" href="#header">Back to top</a>
</p>
