<nav id="site-navigation" class="l-footer-nav" aria-label="Site">

	<div class="l-footer-nav__features c-footer__subnav">
		<h2 id="features" class="u-font-size-body-medium u-text-transform-uppercase c-footer__heading">
			Features
		</h2>
		<ul class="c-footer__list">
			{% set features = collections.all | eleventyNavigation("Feature") %}
			{% for entry in features %}
				<li>
					<a
						class="c-footer__link"
						href="{{ entry.url | url }}"
						{% if entry.url == page.url %}aria-current="page"{% endif %}>
							{{ entry.title }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>

	<div class="l-footer-nav__project c-footer__subnav">
		<h2 id="project" class="u-font-size-body-medium u-text-transform-uppercase c-footer__heading">
			Project
		</h2>
		<ul class="c-footer__list">
			{% set project = collections.all | eleventyNavigation("Project") %}
			{% for entry in project %}
				<li>
					<a
						class="c-footer__link"
						href="{{ entry.url | url }}"
						{% if entry.url == page.url %}aria-current="page"{% endif %}>
							{{ entry.title }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>

	<div class="l-footer-nav__utility c-footer__subnav">
		<h2 id="site" class="u-font-size-body-medium u-text-transform-uppercase c-footer__heading">
			Site
		</h2>
		<ul class="c-footer__list">
			{% set utility = collections.all | eleventyNavigation("Site") %}
			{% for entry in utility %}
				<li>
					<a
						class="c-footer__link"
						href="{{ entry.url | url }}"
						{% if entry.url == page.url %}aria-current="page"{% endif %}>
							{{ entry.title }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>

	<div class="l-footer-nav__social c-footer__subnav">
		<h2 id="social" class="u-font-size-body-medium u-text-transform-uppercase c-footer__heading">
			Social
		</h2>
		<ul class="c-footer__list">
			<li>
				<a class="c-footer__link" href="https://a11y.info/@thea11yproject/">Mastodon</a>
			</li>
			<li>
				<a class="c-footer__link" href="https://twitter.com/A11YProject">Twitter</a>
			</li>
			<li>
				<a class="c-footer__link" href="{{ '/newsletter/' | url }}">Newsletter</a>
			</li>
			<li>
				<a rel="me" class="c-footer__link" href="{{ '/feed/feed.xml' | url }}"><abbr>RSS</abbr></a>
			</li>
		</ul>
	</div>

	<div class="l-footer-nav__support c-footer__subnav">
		<h2 id="support" class="u-font-size-body-medium u-text-transform-uppercase c-footer__heading">
			Support
		</h2>
		<ul class="c-footer__list">

			{% set support = collections.all | eleventyNavigation("Support") %}
			{% for entry in support %}
				<li>
					<a
						class="c-footer__link"
						href="{{ entry.url | url }}"
						{% if entry.url == page.url %}aria-current="page"{% endif %}>
							{{ entry.title }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>

	<div class="l-footer__meta--nav c-footer__subnav">
		<p class="c-footer__tagline">
			Accessibility helps everyone.
		</p>
		{% include "nav/copyright-back-to-top.njk" %}
	</div>

</nav>
