<div class="l-toc">
	<details open class="v-toc">
		<summary class="v-toc__summary">
			<span class="v-toc__summary-inner">
				<svg class="v-toc__icon" aria-hidden="true" focusable="false" height="30" width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path d="M9.07,29.55l-2.15-2.1L19,15,6.92,2.55,9.07.45,23.23,15Z"/></svg>
				<span class="v-toc__title">
					Table of Contents
				</span>
			</span>
		</summary>
		<nav class="v-toc__nav" data-toc aria-label="Table of Contents">
			{{ content | toc | safe }}
		</nav>
	</details>
</div>
