{% include "nav/skipnav.njk" %}
<nav id="table-of-contents" class="l-toc" aria-label="Table of contents">
  <ol class="c-toc c-toc--home">
    <li class="c-toc__list-item">
      <a class="c-toc__link" aria-current="location" href="{{ toc.url }}">{{ toc.title }}</a>
    </li>
  </ol>
</nav>
