// A11Y Banner
//
// The A11Y Banner boldly and directly explains what the neuronym "A11Y" is, as
// well as the site's mission. It is meant to be placed inside the homepage's
// hero component.
//
// Markup:
// TODO: Write markup
//
// Style guide: Components.banner-a11y
.c-a11y-summary {
  background-color: $color-white;
  border-top: $border-thicker solid $color-pink-tint;
  margin-left: map-get($global-bleed, small);
  margin-right: map-get($global-bleed, small);
  padding: 3rem 2rem;

  // Supports
  @supports #{$supports-flex} {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  @supports #{$supports-grid} {
    // grid-area: a11y;
  }

  // Breakpoints
  @include mappy-bp(palm-large) {
    padding-bottom: 4rem;
  }
}


.c-a11y-summary__explanation {
  font-size: 2.75rem;
  margin-top: 0;
  margin-bottom: 0;
}


.c-a11y-summary__accessibility {
  display: block;
  font-family: $font-family-secondary;
  font-size: 2.5rem;
  letter-spacing: $font-tracking-loose;
  text-transform: uppercase;
}

.c-a11y-summary__11-characters {
  margin-top: -0.25rem;
}

.c-a11y-summary__mission {
  font-family: $font-family-secondary;
  font-size: 1.2rem;
  margin-top: 2rem;
  max-width: 40ch;
}
