// A11Y Banner
//
// The A11Y Banner boldly and directly explains what the neuronym "A11Y" is, as
// well as the site's mission. It is meant to be placed inside the homepage's
// hero component.
//
// Markup:
// TODO: Write markup
//
// Style guide: Components.banner-a11y
.c-banner-a11y {
  background-color: $color-white;
  border-top: $border-thicker solid $color-pink-tint;
  padding: 3rem 5rem;

  // Supports
  @supports #{$supports-grid} {
    grid-area: a11y;
  }
}


.c-banner-a11y__explanation {
  font-size: 2.25rem;
}


.c-banner-a11y__accessibility {
  display: block;
  font-family: $font-family-secondary;
  letter-spacing: $font-tracking-loose;
  text-transform: uppercase;
}


.c-banner-a11y-explanation__mission {
  font-family: $font-family-secondary;
  font-size: 1.2rem;
  margin-top: 1rem;
}
