// Contribute
//
// Style guide: Components.contribute
.c-contribute__cta {
	@include var(background-color, featured-card-background);
	outline: $border-thicker solid;
	@include var(outline-color, featured-card-background);
	@include var(color, featured-card-text);
	display: inline-block;
	font-family: $font-family-secondary;
	font-size: $font-size-body-medium;
	line-height: $line-height-tight;
	padding: 0.25rem 1rem;
	margin-left: -1rem;
	width: $global-type-measure * 0.5;

	a {
		@include link-states(featured-card-heading-text, white);
	}
}
