.c-card-post {
	background-color: $color-white;
	padding: 1.5rem 2rem;
	transition:
		$animation-duration-shorter $animation-easing-character background-color,
		$animation-duration-shorter $animation-easing-character border-color,
		$animation-duration-shorter $animation-easing-character color;

	// States
	&:hover {
		outline: $_card-outline $color-gray-tint-lightmode;

		// User Queries
		@media (prefers-color-scheme: dark) {
			outline: $_card-outline $color-gray-shade-darkmode;
		}
	}

	&:focus-within {
		background-color: $color-blue-lightmode;
		outline: $border-thinner solid $color-blue-lightmode;
	}

	// User Queries
	@media screen and (prefers-reduced-motion: reduce) {
		transition: none;
	}

	@media (prefers-color-scheme: dark) {
		background-color: $color-black;
	}
}


// Color the author link when the title link is focused
.c-card-post__title:focus ~ .c-card-post__meta .c-card-post__author {
	color: $color-white;
}


.c-card-post__title,
.c-card-post__meta,
.c-card-post__description {
	max-width: $global-type-measure;

	// States
	.c-card-post:focus-within & {
		color: $color-white;
	}
}


.c-card-post__title {
	color: $color-blue-shade-lightmode;
	letter-spacing: $font-tracking-tight;

	// States
	&:hover,
	&:focus {
		text-decoration: none;
	}

	&:focus {
		color: $color-white;
		outline: $border-thin solid transparent;
	}

	// User Queries
	@media (prefers-color-scheme: dark) {
		color: $color-blue-tint-darkmode;
	}
}


.c-card-post__meta {
	color: $color-gray-shade-lightmode;

	// User Queries
	@media (prefers-color-scheme: dark) {
		color: $color-white;
	}
}


.c-card-post__author {
	color: $color-gray-shade-lightmode;

	// User Queries
	@media (prefers-color-scheme: dark) {
		color: $color-gray-tint-darkmode;
	}

	// States
	&:hover,
	&:focus {
		text-decoration: none;
	}

	&:focus {
		color: $color-white;
		outline: $border-thin solid transparent;
	}
}

.c-card-post__description {
	// User Queries
	@media (prefers-color-scheme: dark) {
		color: $color-gray-tint-darkmode;
	}
}
