// Contribute
//
// Style guide: Components.contribute
.c-contribute__cta {
	background-color: $color-yellow-tint-lightmode;
	outline: $border-thicker solid $color-yellow-tint-lightmode;
	display: inline-block;
	font-family: $font-family-secondary;
	font-size: $font-size-body-medium;
	line-height: $line-height-tight;
	padding: 0.25rem 1rem;
	margin-left: -1rem;
	width: $global-type-measure * 0.5;

	// User Queries
	@media (prefers-color-scheme: dark) {
		background-color: $color-yellow-darkmode;
		color: $color-black;
		outline: $border-thicker solid $color-yellow-darkmode;

		a {
			color: $color-blue-shade-darkmode !important;
		}
	}
}
