$_card-inset: 1.5rem;
$_card-outline: $border-thinner solid;


.c-card {
	padding: 1.5rem 2rem;
	margin-left: $_card-inset;
	transition:
		$animation-duration-shorter $animation-easing-character background-color,
		$animation-duration-shorter $animation-easing-character color;

	// Contexts
	&.c-card--post {
		background-color: $color-white;
		margin-top: 1.5rem;

		// States
		&:hover {
			outline: $_card-outline $color-gray-tint;
		}

		&:focus-within {
			background-color: $color-blue;
			outline: $_card-outline $color-blue;

			.c-card__title,
			.c-card__meta,
			.c-card__description {
				color: $color-white;
			}
		}

		// User Queries
		@media screen and (prefers-reduced-motion: reduce) {
			transition: none;
		}
	}

	.c-card--resource & {
		border-right: $border-thinnest solid $color-gray-shade;
		border-bottom: $border-thinnest solid $color-gray-shade;
		border-left: $border-thinnest solid $color-gray-shade;
		margin-right: 1.25rem;

		// States
		&:hover {
			background-color: $color-white;
		}

		&:focus-within {
			background-color: $color-green-shade;
			border-color: $color-green-shade;

			.c-card__title,
			.c-card__additional,
			.c-card__description {
				color: $color-white;
			}
		}

		// User Queries
		@media screen and (prefers-reduced-motion: reduce) {
			transition: none;
		}
	}
}


.c-card--highlight {
	// Contexts
	.c-card {
		margin-right: 0;

		.template-posts & {
			background-color: $color-blue-tint;
		}

		.template-resources & {
			background-color: $color-green-tint;
			border: none;
		}
	}
}


.c-card__wrapper {
	margin-bottom: 3rem;
	max-width: $global-type-measure * 1.1;
}


.c-card__title {
	letter-spacing: $font-tracking-tight;
	max-width: $global-type-measure;

	// States
	&:focus {
		outline: $border-thin solid transparent;
	}

	// Contexts
	.c-card--post & {
		color: $color-blue-shade;
	}

	.c-card--resource & {
		color: $color-green-shade;
	}
}


.c-card__meta {
	color: $color-gray-shade;
	font-size: 0.8rem;
	max-width: $global-type-measure;
}


.c-card__additional {
	color: $color-gray-shade;
	font-family: $font-family-secondary;
	font-size: 0.9rem;
	line-height: $line-height-tight;
	margin-top: 0.25rem;
	text-transform: uppercase;
}


.c-card__description {
	font-family: $font-family-secondary;
	font-size: 0.9rem;
	margin-top: 1rem;
	max-width: $global-type-measure;
}
