// Contribute
//
// Style guide: Components.contribute
.c-contribute__cta {
	background-color: $color-yellow-tint;
	outline: $border-thickest solid $color-yellow-tint;
	font-family: $font-family-secondary;
	font-size: 2rem;
}
