.c-card-post {
	@include var(color, card-text);
	@include var(background-color, card-background);
	padding: 1.5rem 2rem;
	transition:
		$animation-duration-shorter $animation-easing-character background-color,
		$animation-duration-shorter $animation-easing-character border-color,
		$animation-duration-shorter $animation-easing-character color;

	&:focus-within {
		@include var(background-color, card-focus-background);
		@include var(outline-color, card-focus-background);

		* {
			@include var(color, card-focus-text);
		}
	}

	// User Queries
	@media screen and (prefers-reduced-motion: reduce) {
		transition: none;
	}
}


.c-card-post__title,
.c-card-post__meta,
.c-card-post__description {
	max-width: $global-type-measure;
}


.c-card-post__title {
	@include var(color, card-heading-text);
	letter-spacing: $font-tracking-tight;

	// States
	&:hover,
	&:focus {
		text-decoration: none;
	}

	&:focus {
		@include var(color, card-focus-text);
		outline: $border-thin solid transparent;
	}
}


.c-card-post__meta {
	@include var(color, card-meta-text);
}


.c-card-post__author {
	color: currentColor;

	// States
	&:hover,
	&:focus {
		text-decoration: none;
	}

	&:focus {
		outline: $border-thin solid transparent;
	}
}
