.c-dos-donts {
	margin-top: 1.5rem;

	// Text-level formatting
	p {
		background-color: $color-white;
		padding: 1rem 1.5rem;
	}

	strong {
		font-size: $font-size-body-small;
		text-transform: uppercase;
	}

	abbr {
		border-bottom: $border-thinnest dotted $color-green-lightMode;
	}

	p:first-of-type {
		margin-top: 0.5rem;
	}

	p:nth-child(odd) {
		border-left: $border-thick solid $color-green-tint-lightMode;
	}

	p:nth-child(even) {
		border-left: $border-thick solid $color-pink-tint-lightMode;
		margin-top: 1.25ex;

		// User queries
		@media screen and (-ms-high-contrast: active) {
			border-left: $border-thick solid highlight;
		}
	}

	// Breakpoints
	@include mappy-bp(palm-large) {
		margin-left: map-get($global-post-content-inset, small) * -1.75;
		max-width: calc(#{$global-type-measure} * 1.25);
	}
}
