.c-featured {
	position: relative;
	z-index: 0;
}

.c-featured__body {
	margin-right: 0;
	margin-bottom: 2rem;
	margin-left: 1.5rem;
	padding: 1.5rem 2rem;
	@include var(background-color, featured-card-background);
	@include var(color, featured-card-text);
	transition:
		$animation-duration-shorter $animation-easing-character background-color,
		$animation-duration-shorter $animation-easing-character border-color,
		$animation-duration-shorter $animation-easing-character color;

	&:focus-within {
		@include var(background-color, featured-card-focus-background);

		* {
			@include var(color, featured-card-focus-text);
		}
	}
}


.c-featured__title {
	letter-spacing: $font-tracking-tight;
	max-width: $global-type-measure;
	@include var(color, featured-card-heading-text);

	// States
	&:hover {
		text-decoration: none;
	}

	&:focus {
		outline: $border-thin solid transparent;
	}
}


.c-featured__meta {
	line-height: $line-height-tight;
}


.c-featured__description {
	max-width: $global-type-measure;
}
