.c-featured__body {
	margin-right: 0;
	margin-bottom: 2rem;
	margin-left: 1.5rem;
	padding: 1.5rem 2rem;
	transition:
		$animation-duration-shorter $animation-easing-character background-color,
		$animation-duration-shorter $animation-easing-character border-color,
		$animation-duration-shorter $animation-easing-character color;
}


.c-featured__body--post,
.c-featured__body--resource {
	// States
	&:hover {
		background-color: $color-white;
	}

	&:focus-within {
		color: $color-white;
	}

	// User Queries
	@media screen and (prefers-reduced-motion: reduce) {
		transition: none;
	}
}

.c-featured__body--post {
	background-color: $color-blue-tint-lightmode;

	// States
	&:focus-within {
		background-color: $color-blue-shade-lightmode;
		border-right-color: $color-blue-shade-lightmode;
		border-bottom-color: $color-blue-shade-lightmode;
		border-left-color: $color-blue-shade-lightmode;

		// User Queries
		@media (prefers-color-scheme: dark) {
			background-color: $color-blue-shade-darkmode;
			border-right-color: $color-blue-shade-darkmode;
			border-bottom-color: $color-blue-shade-darkmode;
			border-left-color: $color-blue-shade-darkmode;
		}
	}

	// User Queries
	@media (prefers-color-scheme: dark) {
		background-color: $color-black;
	}

	@media (prefers-color-scheme: dark) {
		// States
		&:hover {
			background-color: $color-black;
		}
	}
}


.c-featured__body--resource {
	background-color: $color-green-tint-lightmode;

	// States
	&:focus-within {
		background-color: $color-green-shade-lightmode;
		border-right-color: $color-green-shade-lightmode;
		border-bottom-color: $color-green-shade-lightmode;
		border-left-color: $color-green-shade-lightmode;
	}
}


// Color the author link when the title link is focused
.c-featured__title:focus ~ .c-featured__meta,
.c-featured__title:focus ~ .c-featured__description {
	color: $color-white;
}


.c-featured__title {
	letter-spacing: $font-tracking-tight;
	max-width: $global-type-measure;

	// States
	&:hover {
		text-decoration: none;
	}

	&:focus {
		color: $color-white;
		outline: $border-thin solid transparent;
	}
}

.c-featured__title--post {
	color: $color-blue-shade-lightmode;

	// User Queries
	@media (prefers-color-scheme: dark) {
		color: $color-blue-tint-darkmode;
	}
}

.c-featured__title--resource {
	color: $color-green-shade-lightmode;
}


.c-featured__meta {
	line-height: $line-height-tight;
}


.c-featured__description {
	max-width: $global-type-measure;
}
