// c-get-started
//
// TODO: Write description.
//
// Markup:
// TODO: Write markup
//
// Style guide: Components.get-started
.c-get-started {
  position: relative;
    bottom: 2.5rem;

  // Supports
  @supports #{$supports-grid} {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      ". get-started .";
  }
}


.c-get-started__link {
  background-color: $color-pink-tint;
  border: $border-thick solid $color-sand;
  color: $color-black;
  font-family: $font-family-secondary;
  font-size: 1.25rem;
  letter-spacing: $font-tracking-slight;
  padding: 1rem 0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  // Supports
  @supports #{$supports-grid} {
    grid-area: get-started;
  }

  // States
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
