// Hero
//
// The Hero is a large box area used to showcase something important. On the
// homepage it displays the A11Y Banner component.
//
// Markup:
// TODO: Make modification style for homepage and update context classes
//
// <div class="c-hero">
//   <!-- Hero content goes here -->
// </div>
//
// Style guide: Components.hero
.c-hero--home {
  background: $color-green-shade url("#{$path-to-img}/hero-a11y.svg") no-repeat center;
  background-size: cover;

  // User Queries
  @media (prefers-reduced-data: reduce) {
    background-color: $color-green-shade;
  }
}

.c-hero--posts {
  background: $color-pink-shade url("#{$path-to-img}/hero-posts.svg") no-repeat center;
  background-size: cover;

  // Breakpoints
  @include mappy-bp(palm-medium) {
    background-size: contain;
  }

  // User Queries
  @media (prefers-reduced-data: reduce) {
    background-color: $color-pink-shade;
  }
}
