// Homepage Card
//
// Style guide: Components.homepage-card
.c-homepage-card--checklist {
	// Supports
	@supports #{$supports-flex} {
		display: flex;
		justify-content: flex-end;
	}
}


.c-homepage-card--resources {
	margin-right: 2rem;
}


.c-homepage-card--spotlight {
	// Breakpoints
	@include mappy-bp(wrist-large) {
		margin-right: 4rem;
	}

	// Supports
	@supports #{$supports-flex} {

		// Breakpoints
		@include mappy-bp(palm-large) {
			justify-self: end;
		}
	}
}


.c-homepage-card__image-link {
	// States
	&:focus {
		outline: $border-thin solid $color-black;
	}
}


.c-homepage-card__image {
	cursor: pointer;
	margin-top: 3rem;
}


.c-homepage-card__author {
	color: $color-green-lightMode;
	font-family: $font-family-secondary;
	letter-spacing: $font-tracking-slight;
	margin-top: 1.5rem;
}


.c-homepage-card__title {
	cursor: pointer;
	color: $color-black;
	text-decoration: none;
}


.c-homepage-card__description {
	font-family: $font-family-secondary;
	margin-top: 1rem;
	margin-bottom: 1rem;
	max-width: 50ch;
}


.c-homepage-card__link {
	@include link-states($color-blue-lightMode);
}


.c-homepage-card__cta {
	border-bottom: $border-thinnest solid $color-pink-lightMode;
	color: $color-black;
	font-family: $font-family-secondary;
	margin-top: 1rem;
	text-decoration: none;

	// States
	&:hover,
	&:focus {
		border-bottom-color: transparent;
		text-decoration-color: transparent;
	}

	&:focus {
		background-color: $color-pink-lightMode;
		color: $color-white;
		outline: $border-thin solid $color-pink-lightMode;
	}

	// Supports
	@supports #{$supports-underlines} {
		border-bottom: none;
		text-decoration: underline;
		text-decoration-color: $color-pink-lightMode;
		/* stylelint-disable-next-line property-no-unknown */
		text-decoration-thickness: $border-thinnest;
		text-underline-offset: 0.5rem;
	}
}


.c-homepage-card__checklist {
	height: auto;
	position: relative;
		left: map-get($global-bleed, small);

	// Breakpoints
	@include mappy-bp(wrist-large) {
		left: map-get($global-bleed, large);
		width: rem(400);
	}

	@include mappy-bp(palm-medium) {
		width: rem(340);
	}
}


.c-homepage-card__spotlight-avatar {
	@include avatar-size("large");
	position: relative;
}


.c-homepage-card__spotlight__info {
	background-color: $color-blue-tint-lightMode;
	height: 13rem;
	margin-top: -8rem;
	margin-left: 4rem;
	padding: 1rem;
	text-align: right;
	width: 12rem;

	// Supports
	@supports #{$supports-flex} {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
}


.c-homepage-card__spotlight-name {
	font-family: $font-family-secondary;
}


.c-homepage-card__spotlight-role {
	color: $color-blue-shade-lightMode;
	font-family: $font-family-secondary;
	letter-spacing: $font-tracking-slight;
}
