// Linkroll
//
// Style guide: Components.linkroll
.c-linkroll {
	margin-top: 1rem;
}


.c-linkroll__entry {
	@include preserve-list-semantics();

	margin-top: 1.25rem;
}


.c-linkroll__link {
	background-color: $color-white;
	border-left: $border-thickest solid transparent;
	padding: 1.25rem 1.75rem;
	text-decoration: none;
	transition:
		background-color $animation-duration-shorter $animation-easing-character,
		color $animation-duration-shorter $animation-easing-character;

	// States
	&:hover,
	&:focus {
		background-color: $color-gray-shade;
		outline: $border-thin solid transparent;

		.c-linkroll__title,
		.c-linkroll__category {
			color: $color-white;
		}

		// Contexts
		.c-linkroll__entry--assistive-technology & {
			border-left-color: $color-gray-shade;
		}

		.c-linkroll__entry--background & {
			background-color: $color-gray-shade;
		}

		.c-linkroll__entry--how-to & {
			background-color: $color-yellow;
		}

		.c-linkroll__entry--myths &,
		.c-linkroll__entry--announcements & {
			background-color: $color-pink;
		}

		.c-linkroll__entry--quick-test & {
			background-color: $color-blue;
		}

		.c-linkroll__entry--quick-tip & {
			background-color: $color-green;
		}
	}

	// Supports
	@supports #{$supports-flex} {
		display: flex;
		flex-direction: column;
	}

	// Contexts
	.c-linkroll__entry--assistive-technology & {
		border-left-color: $color-gray-shade;
	}

	.c-linkroll__entry--background & {
		border-left-color: $color-gray-shade;
	}

	.c-linkroll__entry--how-to & {
		border-left-color: $color-yellow;
	}

	.c-linkroll__entry--myths &,
	.c-linkroll__entry--announcements & {
		border-left-color: $color-pink;
	}

	.c-linkroll__entry--quick-test & {
		border-left-color: $color-blue;
	}

	.c-linkroll__entry--quick-tip & {
		border-left-color: $color-green;
	}

	// User Queries
	@media screen and (prefers-reduced-motion: reduce) {
		transition: none;
	}
}


.c-linkroll__category {
	font-size: 0.75rem;
	text-transform: uppercase;

	// Contexts
	.c-linkroll__entry--assistive-technology & {
		color: $color-gray-shade;
	}

	.c-linkroll__entry--background & {
		color: $color-gray-shade;
	}

	.c-linkroll__entry--how-to & {
		color: $color-yellow;
	}

	.c-linkroll__entry--myths &,
	.c-linkroll__entry--announcements & {
		color: $color-pink;
	}

	.c-linkroll__entry--quick-test & {
		color: $color-blue;
	}

	.c-linkroll__entry--quick-tip & {
		color: $color-green;
	}
}


.c-linkroll__title {
	color: $color-black;
	font-size: 1.25rem;
	line-height: $line-height-tight;
	text-decoration: none;
}
