.c-last-updated {
	color: $color-gray-shade;
	font-size: $font-size-body-small;
	font-style: italic;
}


.c-last-updated__body {
	color: $color-gray-shade;
	font-size: $font-size-body-small;
	font-style: italic;
}
