.c-last-updated {
	@include var(color, text-accent);
	font-size: $font-size-body-small;
	font-style: italic;
}


.c-last-updated__body {
	@include var(color, text-accent);
	font-size: $font-size-body-small;
	font-style: italic;
}
