.c-posts-summary {
  background-color: $color-pink-shade;
  border-top: $border-thicker solid $color-blue-tint;

  @include mappy-bp(palm-large) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.c-posts-summary__title {
  color: $color-blue-tint;
  font-family: $font-family-secondary;
  font-size: 1.25rem;
  letter-spacing: $font-tracking-slight;
  line-height: $line-height-tight;
  text-align: center;
  text-transform: uppercase;
}
