// c-primary-nav
//
// TODO: Write description.
//
// Markup:
// TODO: Write markup
//
// Style guide: Components.Navigation.c-primary-nav
.c-primary-nav {
  background-color: $color-black;
  padding: 1.25rem 2rem;

  // Contexts
  .l-home & {
    background-color: $color-green-shade;
  }

  // Supports
  @supports #{$supports-flex} {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}


.c-primary-nav__list-item {
  @include preserve-list-semantics();

  // Supports
  @supports #{$supports-flex} {
    display: inline-block;
  }
}


.c-primary-nav__link {
  color: $color-white;
  font-family: $font-family-secondary;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;

  // States
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}


.c-primary-nav__link--contribute {
  background-color: $color-white;
  color: $color-black;
}
