.c-post-collection {
	border-top: $border-thicker solid $color-red-lightmode;
  background-color: $color-white;
  counter-reset: post-collection;
  padding: 1rem 2rem;
	max-width: 68ex;

	// User Queries
	@media (prefers-color-scheme: dark) {
		background-color: $color-gray-tint-darkmode;
		border-color: $color-red-darkmode;
	}
}


.c-post-collection__title {
	border-bottom: $border-thin dotted $color-red-lightmode;
	color: $color-red-lightmode;
  margin-top: 0;
	padding-bottom: 1rem;

	// User Queries
	@media (prefers-color-scheme: dark) {
		border-color: $color-red-darkmode;
		color: $color-red-darkmode;
	}
}


.c-post-collection__list {
  margin-top: 1rem;
  list-style-type: none;
}


.c-post-collection__item {
	color: $color-black;
  position: relative;
  margin-top: 0.5rem;
  counter-increment: post-collection;
  font-family: $font-family-secondary;

  &::before {
    content: "Part " counter(post-collection) ": ";
    text-transform: uppercase;
  }

	// User Queries
	@media (prefers-color-scheme: dark) {
		color: $color-sand-darkmode;
	}
}


.c-post-collection__link {
  color: $color-blue-shade-lightmode;

		// States
  &[aria-current] {
    text-decoration: none;
    color: $color-black !important;

		// User Queries
		@media (prefers-color-scheme: dark) {
			color: $color-gray-tint-darkmode;
		}
  }


  &:focus {
		@include link-states($color-blue-lightmode);

		// User Queries
		@media (prefers-color-scheme: dark) {
			@include link-states($color-blue-tint-darkmode);
		}
  }
}
