.c-post__content {
  // Measure
  dl,
  hr,
  ol,
  p,
  ul {
    max-width: $global-type-measure;
  }

  // Vertical spacing
  blockquote,
  dl,
  h2,
  h3,
  h4,
  h5,
  h6,
  ol,
  p,
  pre,
  table,
  ul {
    margin-top: $_c-post-vertical-spacing;
  }

  // Extra breathing room
  blockquote,
  figure,
  pre,
  table {
    margin-bottom: $_c-post-breathing-room;
  }

  // Inline content
  a {
    color: $color-green;
    border-bottom: $border-thinnest solid $color-green;
    background-image: linear-gradient(120deg, $color-green 0%, $color-green 100%);
    background-repeat: no-repeat;
    background-size: 100% 0rem;
    background-position: 0 100%;
    text-decoration: none;
    transition:
      background-size $animation-duration-shorter $animation-easing-character,
      color $animation-duration-shorter $animation-easing-character,
      outline $animation-duration-shorter $animation-easing-character;

    // States
    &:hover,
    &:focus {
      background-size: 100% 100%;
      border-color: $color-green;
      color: $color-white;
      outline: $border-thick solid $color-green;
    }

    &:focus {
      &:hover {
        border-bottom-color: $color-white;
      }
    }

    &:active {
      @include shift-click();

      border-bottom: none;
      background-image: none;
      color: $color-black;
      outline: none;
      transition: none;
    }

    // User Queries
    @media screen and (prefers-reduced-motion: reduce) {
      text-decoration: underline;
      background: none;
      border-bottom: none;
      transition: none;

      // States
      &:hover {
        color: $color-green;
        outline: none;
        text-decoration: none;
      }

      &:focus {
        background-color: $color-green;
        color: $color-white;

        &:hover {
          outline: $border-thick solid $color-green;
        }
      }
    }
  }

  blockquote,
  figcaption,
  li,
  p {
    code {
      background-color: $color-gray-tint;
      border: 4px solid $color-gray-tint;
      font-size: 90%;
      padding: 0 0.25ch;
      word-break: normal;
    }
  }

  kbd {
    background-color: $color-white;
    border: rem(4) solid $color-white;
    border-radius: rem(4);
    box-shadow: 0 2px 1px 0 $color-gray-shade;
    margin-left: 0.25ch;
    margin-right: 0.25ch;
    padding: 0 0.5ch;
    word-break: break-word;
  }

  samp {
    background-color: $color-pink-tint;
  }

  // Content
  blockquote {
    background-color: $color-white;
    margin-left: map-get($global-post-content-inset, small) * -2;
    padding: 1rem (map-get($global-post-content-inset, small) * -2);

    p:first-of-type {
      margin-bottom: 0;
    }

    footer {
      font-size: 90%;
      margin-top: $_c-post-vertical-spacing / 2;

      cite {
        font-style: normal;
      }
    }
  }

  dl {
    @include preserve-list-semantics();

    dt {
      font-size: 90%;
      font-weight: $font-weight-bold;
      margin-top: 1.5rem;
      margin-left: map-get($global-post-content-inset, small) * -1;
    }
  }

  h2,
  h3 {
    line-height: $line-height-tight;

    // Breakpoints
    @include mappy-bp(lap-medium) {
      margin-left: map-get($global-post-content-inset, small) * -1;
    }
  }

  h2 {
    @include heading-beta();
  }

  h3 {
    @include heading-gamma();
  }

  ol {
    @include preserve-list-semantics();

    counter-reset: ordered-list;

    li {
      counter-increment: ordered-list;

      &::before {
        content: counter(ordered-list);
        display: block;
        font-family: $font-family-secondary;
        font-size: 3ex;
        height: 1rem;
        position: relative;
          top: rem(9);
          right: 1.75rem;
        width: 1rem;
      }
    }
  }

  p {
    &:first-of-type {
      font-family: $font-family-secondary;
      font-size: 1.15rem;
      line-height: $line-height-looser;
      margin-top: 0;
      margin-bottom: $_c-post-vertical-spacing * 1.25;

      // Breakpoints
      @include mappy-bp(lap-medium) {
        font-size: 1.25rem;
        margin-bottom: $_c-post-vertical-spacing * 1.5;
      }

      // Supports
      @supports #{$supports-grid} {
        &:first-of-type {
          &::before {
            // Breakpoints
            @include mappy-bp(lap-medium) {
              background: url("../img/post-section-short-answer.svg") no-repeat center;
              background-size: cover;
              content: "";
              display: block;
              height: rem(169);
              margin-top: 1rem;
              position: absolute;
                left: 1rem;
              width: rem(164);
            }
          }
        }
      }

      code,
      kbd {
        font-size: 80%;
      }
    }
  }

  ul {
    @include preserve-list-semantics();

    li {
      margin-left: 1.75rem;

      // Breakpoints
      @include mappy-bp(lap-medium) {
        margin-left: 0;
      }

      &::before {
        content: "─";
        display: block;
        font-family: $font-family-secondary;
        font-size: 2ex;
        height: 1rem;
        position: relative;
          top: rem(20);
          right: rem(36);
        width: 1rem;
      }
    }
  }

  pre {
    background-color: $color-black;
    color: $color-white;
    padding: 1rem 2rem;
    margin-left: map-get($global-post-content-inset, small) * -1;

    code {
      line-height: $line-height-double;
    }
  }

  table {
    margin-left: map-get($global-post-content-inset, small) * -1;

    tr {
      transition:
        background-color $animation-duration-shorter $animation-easing-character;

      // States
      &:hover {
        background-color: $color-white;
      }

      // User Queries
      @media screen and (prefers-reduced-motion: reduce) {
        transition: none;
      }
    }

    th,
    td {
      border-color: $color-gray-shade;
      padding: 0.75rem;
    }

    th {
      font-weight: $font-weight-bold;
      vertical-align: bottom;
    }

    thead {
      border-bottom: $border-thinner solid $color-black;
    }
  }

  // CMS
  .direct-link {
    font-size: 75%;
    margin-left: 0.15rem;

    &:hover {
      text-decoration: none;
    }

    &:focus {
      // background-color: $color-green;
      // color: $color-white;
      // outline: $border-thick solid $color-green;
    }
  }

  // Embedded content
  .twitter-tweet {
    margin-top: $_c-post-vertical-spacing !important;
    margin-bottom: $_c-post-breathing-room !important;
  }

  .cp_embed_wrapper {
    margin-top: $_c-post-vertical-spacing !important;
  }
}
