// Primary Navigation
//
// Style guide: Components.Navigation.primary-nav
.c-primary-nav {
	background-color: $color-black;

	// Contexts
	.template-home & {
		background-color: $color-green-shade-lightmode;
	}

	.template-posts & {
		background-color: $color-pink-shade-lightmode;
	}

	.template-checklist & {
		background-color: $color-blue-lightmode;
	}

	.template-resources & {
		background-color: $color-green-shade-lightmode;
	}

	.template-about &,
	.template-authors &,
	.template-team &,
	.template-spotlight & {
		background-color: $color-blue-shade-lightmode;
	}

	.template-contribute &,
	.template-generic & {
		background-color: $color-black;
	}
}


.c-primary-nav__list {
	@include preserve-list-semantics();
}


.c-primary-nav__list-item {
	margin-top: 1rem;
	text-align: center;

	// Supports
	@supports #{$supports-flex} {
		margin-top: 1rem;
		margin-left: 0;
		width: 33%;

		// Breakpoints
		@include mappy-bp(palm-small) {
			margin-right: 0.5rem;
			width: initial;
			flex-grow: 1;
		}

		@include mappy-bp(palm-medium) {
			margin-right: 1rem;
		}

		@include mappy-bp(lap-small) {
			margin-top: 0;
		}
	}

	&:last-of-type {
		margin-right: 0;

		.c-primary-nav__link {
			background-color: $color-white;
			border-bottom: none;
			color: $color-black;

			// States
			&:hover {
				border-bottom: none;
				text-decoration: underline;
			}

			&:focus {
				background-color: $color-black;
				color: $color-white;
			}

			&[aria-current="page"] {
				text-decoration: underline;
			}
		}
	}
}


.c-primary-nav__link {
	border-bottom: $border-thinner solid transparent;
	color: $color-white;
	font-family: $font-family-secondary;
	padding: 0.25rem 0.5rem;
	text-decoration: none;
	transition: $animation-duration-short $animation-easing-character border-bottom-color;

	// States
	&:hover {
		border-bottom-color: $color-white;
	}

	&:focus {
		outline: $border-thinner solid $color-white;
	}

	&[aria-current="page"] {
		border-bottom-color: $color-white;
	}

	// Breakpoints
	@include mappy-bp(palm-large) {
		padding: 0.5rem 1rem;
	}

	// User Queries
	@media screen and (prefers-reduced-motion: reduce) {
		transition: none;
	}
}
