.c-post-collection {
	border-top: $border-thicker solid currentColor;
	@include var(background-color, post-rec-background);
	@include var(color, post-rec-accent);
  counter-reset: post-collection;
  padding: 1rem 2rem;
	max-width: 68ex;
}


.c-post-collection__title {
	border-bottom: $border-thin dotted currentColor;
  margin-top: $mt-0;t-0;
	padding-bottom: 1rem;
}


.c-post-collection__list {
  margin-top: $mt-3;
  list-style-type: none;
}


.c-post-collection__item {
	@include var(color, post-rec-text);
  position: relative;
  margin-top: $mt-2;;
  counter-increment: post-collection;
  font-family: $font-family-secondary;

  &::before {
    content: "Part " counter(post-collection) ": ";
    text-transform: uppercase;
  }
}


.c-post-collection__link {
	@include link-states(post-rec-accent, post-rec-focus-text);

	// States
  &[aria-current] {
    text-decoration: none;
    color: currentColor;

		&:focus {
			@include var(color, post-rec-focus-text);
		}
  }
}
