.c-post__content {
  // SPACING //////////////////////////////////////////////////////////////////

  // Measure
  dl,
  hr,
  ol,
  p,
  ul {
    max-width: $global-type-measure;
  }

  // Vertical spacing
  blockquote,
  dl,
  h2,
  h3,
  h4,
  h5,
  h6,
  ol,
  p,
  pre,
  table,
  ul {
    margin-top: $_c-post-vertical-spacing;
  }

  // Extra breathing room
  blockquote,
  figure,
  pre,
  table {
    margin-bottom: $_c-post-breathing-room;
  }

  // Supports
  @supports #{$supports-grid} {
    // This selector targets only the first child paragraph of
    // `.c-post__content`, allowing us to apply the tl;dr image
    & > p:first-of-type {
      font-family: $font-family-secondary;
      font-size: 1.15rem;
      line-height: $line-height-looser;
      margin-top: 0;
      margin-bottom: $_c-post-vertical-spacing * 1.25;

      // Breakpoints
      @include mappy-bp(lap-medium) {
        font-size: 1.25rem;
        margin-bottom: $_c-post-vertical-spacing * 1.5;
      }

      code,
      kbd {
        font-size: 80%;
      }

      &::before {
        // Breakpoints
        @include mappy-bp(lap-medium) {
          background: url("#{$path-to-img}/post-section-short-answer.svg") no-repeat center;
          background-size: cover;
          content: "";
          display: block;
          height: rem(169);
          margin-top: 1rem;
          position: absolute;
            left: 1rem;
          width: rem(164);
        }
      }
    }
  }

  // INLINE CONTENT ///////////////////////////////////////////////////////////

  // Links
  //
  // Links navigate to other pages, or parts of the current page. There are two
  // visual treatments for links, depending on if someone is browsing with a
  // expressed preference for a reduced motion experience or not.
  // TODO: LINK TO PREFERS MOTION
  //
  // Markup:
  // <a href="URL">Link text</a>
  //
  // Style guide: Components.post.links
  a {
    color: $color-green;
    border-bottom: $border-thinnest solid $color-green;
    background-image: linear-gradient(120deg, $color-green 0%, $color-green 100%);
    background-repeat: no-repeat;
    background-size: 100% 0rem;
    background-position: 0 100%;
    text-decoration: none;
    transition:
      background-size $animation-duration-shorter $animation-easing-character,
      color $animation-duration-shorter $animation-easing-character,
      outline $animation-duration-shorter $animation-easing-character;

    // States
    &:hover,
    &:focus {
      background-size: 100% 100%;
      border-color: $color-green;
      color: $color-white;
      outline: $border-thick solid $color-green;
    }

    &:focus {
      &:hover {
        border-bottom-color: $color-white;
      }
    }

    &:active {
      @include shift-click();

      border-bottom: none;
      background-image: none;
      color: $color-black;
      outline: none;
      transition: none;
    }

    // User Queries
    @media screen and (prefers-reduced-motion: reduce) {
      text-decoration: underline;
      background: none;
      border-bottom: none;
      transition: none;

      // States
      &:hover {
        color: $color-green;
        outline: none;
        text-decoration: none;
      }

      &:focus {
        background-color: $color-green;
        color: $color-white;

        &:hover {
          outline: $border-thick solid $color-green;
        }
      }
    }
  }

  blockquote,
  figcaption,
  li,
  p {
    code {
      background-color: $color-gray-tint;
      border: 4px solid $color-gray-tint;
      font-size: 90%;
      padding: 0 0.25ch;
      word-break: normal;
    }
  }

  kbd {
    margin-left: 0.25ch;
    margin-right: 0.25ch;
  }


  // CONTENT //////////////////////////////////////////////////////////////////

  // Blockquote
  //
  // TODO: Add a def A passage of text high
  //
  // Markup:
  // TODO: Code example w/footer
  //
  // Style guide: Components.post.blockquote
  blockquote {
    background: $color-white url("#{$path-to-img}/post-blockquote.svg") no-repeat top 1rem left -0.25rem;
    margin-left: map-get($global-post-content-inset, small) * -1;
    padding: 1.5rem 1rem;

    p:first-of-type {
      margin-bottom: 0;
    }

    // Breakpoints
    @include mappy-bp(palm-medium) {
      background-position: 1rem 1rem;
      padding: 1.5rem 2rem;
    }

    @include mappy-bp(palm-large) {
      max-width: calc(#{$global-type-measure} * 1.25);
    }

    footer {
      font-size: 90%;
      margin-top: $_c-post-vertical-spacing / 2;

      cite {
        font-style: normal;
      }
    }
  }

  dl {
    @include preserve-list-semantics();

    dt {
      font-size: 90%;
      font-weight: $font-weight-bold;
      margin-top: 1.5rem;
      margin-left: map-get($global-post-content-inset, small) * -1;
    }
  }

  h2,
  h3 {
    line-height: $line-height-tight;

    // Breakpoints
    @include mappy-bp(lap-medium) {
      margin-left: map-get($global-post-content-inset, small) * -1;
    }
  }

  // Second-level Heading
  //
  // This is the first content sectioning element to use, as the post's title
  // uses a `h1` element. Second-level heading styling is controlled using the
  // `heading-beta()` mixin.
  //
  // Markup:
  // <h2>How to navigate a website with a keyboard</h2>
  //
  // Style guide: Components.post.h2
  h2 {
    @include heading-large();

    code {
      letter-spacing: $font-tracking-tighter;
    }
  }

  h3 {
    @include heading-medium();
  }

  // Ordered List
  //
  // TODO: Write description.
  //
  // Markup:
  // TODO: Write markup
  //
  // Style guide: Components.post.ol
  ol {
    @include preserve-list-semantics();

    counter-reset: ordered-list;

    li {
      counter-increment: ordered-list;

      &::before {
        content: counter(ordered-list);
        display: block;
        font-family: $font-family-secondary;
        font-size: 3ex;
        height: 1rem;
        position: relative;
          top: rem(9);
          right: 1.75rem;
        width: 1rem;
      }
    }
  }


  // Unordered List
  //
  // TODO: Write description.
  //
  // Markup:
  // TODO: Write markup
  //
  // Style guide: Components.post.ul
  ul {
    @include preserve-list-semantics();

    li {
      margin-left: 1.75rem;

      // Breakpoints
      @include mappy-bp(lap-medium) {
        margin-left: 0;
      }

      &::before {
        content: "─";
        display: block;
        font-family: $font-family-secondary;
        font-size: 2ex;
        height: 1rem;
        position: relative;
          top: rem(20);
          right: rem(36);
        width: 1rem;
      }
    }
  }

  // Preformatted Text
  //
  // TODO: Write description.
  //
  // Markup:
  // TODO: Write markup
  //
  // Style guide: Components.post.pre
  pre {
    margin-left: map-get($global-post-content-inset, small) * -1;
    width: calc(100% + (#{map-get($global-post-content-inset, small) * 2)});

    // Breakpoints
    @include mappy-bp(palm-large) {
      max-width: calc(#{$global-type-measure} * 1.5);
    }

    // Supports
    @supports #{$supports-grid} {
      // Breakpoints
      @include mappy-bp(lap-medium) {
        width: 60vw;
      }
    }

    code {
      line-height: $line-height-double;
    }
  }

  // Table
  //
  // TODO: Write description.
  //
  // Markup:
  // TODO: Write markup
  //
  // Style guide: Components.post.table
  table {
    margin-left: map-get($global-post-content-inset, small) * -1;
  }


  // CMS //////////////////////////////////////////////////////////////////////

  // Direct Link
  //
  // TODO: Write description.
  //
  // Markup:
  // TODO: Write markup
  //
  // Style guide: Components.post.direct-link
  .direct-link {
    font-size: 75%;
    margin-left: 0.15rem;

    &:hover {
      text-decoration: none;
    }

    &:focus {
      // background-color: $color-green;
      // color: $color-white;
      // outline: $border-thick solid $color-green;
    }
  }


  // EMBEDDED CONTENT /////////////////////////////////////////////////////////

  // Embedded Tweet
  //
  // TODO: Write description.
  //
  // Markup:
  // TODO: Write markup
  //
  // Style guide: Components.post.tweet
  .twitter-tweet {
    margin-top: $_c-post-vertical-spacing !important;
    margin-bottom: $_c-post-breathing-room !important;
  }

  // Embedded CodePen
  //
  // TODO: Write description.
  //
  // Markup:
  // TODO: Write markup
  //
  // Style guide: Components.post.codepen
  .cp_embed_wrapper {
    margin-top: $_c-post-vertical-spacing !important;
  }
}
