$_c-post-content-inset: 1rem;
$_c-post-content-inset-medium: 3rem;
$_c-post-content-inset-large: 7rem;
$_c-post-breathing-room: 6ex;
$_c-post-vertical-spacing: 4ex;


// c-post
//
// TODO: Write description.
//
// Markup:
// TODO: Write markup
//
// Style guide: Components.c-post
.c-post__category {
  border-top: $border-thick solid $color-green;

  p {
    border-bottom: $border-thinnest solid $color-green;
    font-size: 1rem;
    padding: 0.5rem 0 0.5rem $_c-post-content-inset;
    text-transform: uppercase;

    // Breakpoints
    @include mappy-bp(palm-medium) {
      padding-left: $_c-post-content-inset-medium;
    }

    @include mappy-bp(lap-small) {
      font-size: 1.25rem;
    }

    // Supports
    @supports #{$supports-grid} {
      // Breakpoints
      @include mappy-bp(lap-small) {
        padding-left: 0;
        padding-right: $_c-post-content-inset;
        text-align: right;
      }
    }
  }
}

.c-post__category__link {
  color: $color-green;
  text-decoration: none;

  // States
  &:hover {
    text-decoration: underline;
  }

  &:focus {
    background-color: $color-green;
    color: $color-white;
    outline: $border-thick solid $color-green;
  }

  &:active {
    @include shift-click();

    background-color: transparent;
    color: $color-green;
    outline: none;
    text-decoration: none;
  }
}


.c-post__title {
  font-size: 2rem;
  line-height: $line-height-tight;
  margin: 0.75rem 0 2rem $_c-post-content-inset;

  // Breakpoints
  @include mappy-bp(palm-medium) {
    margin-left: $_c-post-content-inset-medium;
  }

  @include mappy-bp(lap-small) {
    font-size: 3rem;
    max-width: $global-type-measure;
  }

  // Supports
  @supports #{$supports-grid} {
    // Breakpoints
    @include mappy-bp(lap-small) {
      margin: 0.5rem 0 2rem $_c-post-content-inset;
    }
  }
}


.c-post__metadata {
  border-top: $border-thinnest solid $color-green;
  border-bottom: $border-thick solid $color-green;
  font-size: 0.8rem;
  list-style-type: none;
  padding: 0.75rem $_c-post-content-inset;
  text-transform: uppercase;

  // Breakpoints
  @include mappy-bp(palm-medium) {
    padding-left: $_c-post-content-inset-medium;
  }

  // Supports
  @supports #{$supports-flex} {
    // Breakpoints
    @include mappy-bp(lap-small) {
      display: flex;
      flex-direction: row;
    }
  }

  // Supports
  @supports #{$supports-grid} {
    // Breakpoints
    @include mappy-bp(lap-small) {
      padding: 0.75rem $_c-post-content-inset;
    }
  }
}

.c-post__metadata--author,
.c-post__metadata--published,
.c-post__metadata--updated {
  display: block;
}

.c-post__metadata--author {
  margin-bottom: 0.75rem;

  // Supports
  @supports #{$supports-flex} {
    flex-grow: 2;

    // Breakpoints
    @include mappy-bp(lap-small) {
      flex-grow: 4;
      margin-bottom: 0;
    }
  }
}

.c-post__metadata--published,
.c-post__metadata--updated {
  // Supports
  @supports #{$supports-flex} {
    flex-grow: 1;
  }
}


.c-post__list-item {
  text-transform: uppercase;

  // Supports
  @supports #{$supports-flex} {
    flex-grow: 1;
  }
}


.c-post__content {
  line-height: $line-height-double;
  margin-left: $_c-post-content-inset;
  margin-right: $_c-post-content-inset;

  // Breakpoints
  @include mappy-bp(palm-medium) {
    margin-left: $_c-post-content-inset-medium;
  }

  @include mappy-bp(lap-small) {
    margin-left: $_c-post-content-inset-large;
    margin-right: 0;
  }

  // Supports
  @supports #{$supports-grid} {
    // Breakpoints
    @include mappy-bp(lap-small) {
      margin-left: $_c-post-content-inset;
      margin-right: 0;
    }
  }
}
