.c-sponsors {
  background-color: $color-green-tint;

  // Contexts
  .template-posts & {
    background-color: $color-pink-tint;
  }

  .template-about &,
  .template-authors &,
  .template-team & {
    background-color: $color-blue-tint;
  }

  .template-contribute & {
    background-color: $color-yellow-tint;
  }

  .template-generic & {
    background-color: $color-gray-tint;
  }
}
