
.c-spotlight__hero-avatar {
	@include avatar-size("hero");

	// Supports
	@supports #{$supports-grid} {
		// Breakpoints
		@include mappy-bp(lap-small) {
			margin-left: auto;
			margin-right: 3rem;
		}
	}

	// User queries
	@media screen and (-ms-high-contrast: active) {
		-ms-high-contrast-adjust: none;
	}
}


.c-spotlight__subheading {
	@include var(color, text-accent);
	display: block;
	font-family: $font-family-secondary;
	letter-spacing: $font-tracking-slight;
	line-height: $line-height-single;
}
