.c-sponsors {
	@include var(background-color, sponsors-background);
}

.c-sponsor__link {
	width: $global-sponsor-width;
	margin-bottom: $mb-2;
	@include var(color, body-text);

	&:last-of-type {
		margin-bottom: $mb-0;
	}

	// States
	&:focus {
		outline: $border-thin solid currentColor;
	}

	// Supports
	@supports #{$supports-grid} {
		// Breakpoints
		@include mappy-bp(palm-medium) {
			margin-bottom: $mb-0;
		}
	}
}

.c-sponsor__ad {
	filter: var(--image-filter);
}
