.c-sponsors {
	@include var(background-color, sponsors-background);
}


.c-sponsor__link {
	width: $global-sponsor-width;
	margin-bottom: 1rem;
	@include var(color, body-text);

	&:last-of-type {
		margin-bottom: 0;
	}

	// States
	&:focus {
		outline: $border-thin solid currentColor;
	}

	// Supports
	@supports #{$supports-grid} {
		// Breakpoints
		@include mappy-bp(palm-medium) {
			margin-bottom: 0;
		}
	}
}


.c-sponsor__ad {
	// User Queries
	@media (prefers-color-scheme: dark) {
		@include desaturate();
	}
}
