// c-toc
//
// TODO: Write description.
//
// Markup:
// TODO: Write markup
//
// Style guide: Components.c-toc
.c-toc {
  list-style-type: none;
  text-align: right;
}


.c-toc__list-item {
  @include preserve-list-semantics();

  margin-top: 0.5rem;
}


.c-toc__link {
  color: $color-black;
  font-family: $font-family-secondary;
  letter-spacing: $font-tracking-slight;
  text-decoration: none;
  text-transform: uppercase;

  &::before {
    content: ""; // Keeps text from shifting when the horizontal bar is shown on hover/focus
    border-top: $border-thick solid $color-sand; // Provides a border-color to transition
    transition: $animation-duration-short $animation-easing-character border;
  }

  // Supports
  @supports #{$supports-grid} {
    align-items: center;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: minmax(0, 1fr) auto;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    &::before {
      transition: none;
    }
  }

  // States
  @supports #{$supports-grid} {
    &:hover,
    &:focus {
      &::before {
        border-top: $border-thick solid $color-pink-tint;
      }
    }

    &[aria-current] {
      &::before {
        border-top: $border-thick solid $color-pink;
      }
    }
  }
}
