// Table of Contents
//
// A Table of Contents (<abbr>ToC</abbr>) allows someone to quickly jump to
// different areas of content on a page. It is considered good practice to link
// to headings from the ToC, as heading elements should be used to describe
// the structure of the page's content.
//
// Table of Contents should use an ordered list, as the order of the ToC's
// content should reflect the order of the page's content.
//
// In addition, the Table of Contents should also be wrapped in a `nav` element,
// as they allow you to navigate to different points on a page. Be sure to also
// supply an accessible name for the ToC, so it will not be confused with other
// navigation landmarks.
//
// Markup:
// TODO: Write markup
//
// Style guide: Components.toc
.c-toc {
  list-style-type: none;

  // Contexts
  // [1] SEE: `.c-post__content` in `_c-post.scss`
  .template-post & {
    margin-left: map-get($global-post-content-inset, small); // [1]

    // Breakpoints
    @include mappy-bp(palm-medium) {
      margin-left: map-get($global-post-content-inset, medium); // [1]
    }

    @include mappy-bp(lap-small) {
      margin-left: map-get($global-post-content-inset, large); // [1]
    }
  }

  // Supports
  @supports #{$supports-grid} {
    // Contexts
    .template-post & {
      // Breakpoints
      @include mappy-bp(lap-small) {
        margin-left: map-get($global-post-content-inset, medium);
      }

      @include mappy-bp(lap-medium) {
        margin-left: 0;
      }
    }
  }
}

.c-toc--home {
  margin-bottom: 3rem;

  // Breakpoints
  @include mappy-bp(lap-medium) {
    text-align: right;
  }
}


.c-toc--post {
  padding-right: map-get($global-bleed, large);
}


.c-toc__list-item {
  font-family: $font-family-secondary;
  letter-spacing: $font-tracking-slight;
  line-height: $line-height-loose;
  margin-top: 1rem;
  text-transform: uppercase;

  // Contexts
  .template-post & {
    margin-top: 1.25rem;

    // HACK: Ensures that list item content is announced as a list.
    // See: https://unfetteredthoughts.net/2017/09/26/voiceover-and-list-style-type-none/
    &::before {
      content: "-";
      color: $color-sand;
      position: absolute;
      right: 0;
    }

    &:first-of-type {
      margin-top: 0;
    }
  }
}


.c-toc__link {
  text-decoration: none;

  // Contexts
  .template-home & {
    color: $color-black;

    &::before {
      content: ""; // Keeps text from shifting when the horizontal bar is shown on hover/focus
      border-width: $border-thick;
      border-block-style: solid;
      border-color: $color-sand; // Provides a border-color to transition
      transition: border $animation-duration-short $animation-easing-character;
    }

    // User Queries
    @media screen and (prefers-reduced-motion: reduce) {
    &::before {
      transition: none;
    }
  }
  }

  .template-post & {
    border-bottom: $border-thinnest solid $color-sand;
    color: $color-gray-shade;
    transition:
      $animation-duration-short $animation-easing-character color,
      $animation-duration-short $animation-easing-character border;

    // States
    &:hover,
    &:focus {
      border-bottom-color: $color-green;
      color: $color-black;
    }

    // User Queries
    @media screen and (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }

  @supports #{$supports-grid} {
    &:hover,
    &:focus {
      // Contexts
      .template-home & {
        &::before {
          border-color: $color-pink-tint;
        }
      }
    }

    &:active {
      // Contexts
      .c-toc--home & {
        color: $color-pink-tint;
      }
    }

    &[aria-current] {
      // Contexts
      .template-home & {
        &::before {
          border-color:$color-pink;
        }
      }

      .template-post & {
        border-bottom-color: $color-green;
      }
    }
  }
}
