.c-wcag-explanation {
	@include var(background-color, featured-card-background);
	font-family: $font-family-secondary;
	margin-bottom: $mb-2;
	padding: 0.5rem 1.5rem 2rem;

	// Breakpoints
	@include mappy-bp(palm-small) {
		padding: 0.5rem 4rem 2rem;
	}

	// Text-level formatting
	p {
		margin-top: $mt-3;
		max-width: $global-type-measure;
	}
}

.c-wcag-explanation__compliance-level {
	margin-top: $mt-4;
	max-width: $global-type-measure;

	// Breakpoints
	@include mappy-bp(palm-large) {
		margin-top: $mt-1;

		// Supports
		@supports #{$supports-flex} {
			display: flex;

			// HACK: There's some weird flexbox layout thing happening here.
			// This knocks it back into position.
			&:last-of-type {
				position: relative;
				right: 1rem;
			}
		}
	}
}

.c-wcag-explanation__icon {
	width: 65%;

	// Breakpoints
	@include mappy-bp(palm-medium) {
		width: 45%;
	}

	// Breakpoints
	@include mappy-bp(palm-large) {
		// Supports
		@supports #{$supports-flex} {
			margin-top: $mt-4;
			margin-right: $mr-3;
			width: rem(320);
		}
	}
}

.c-wcag-explanation__conformance-level {
	display: block;
	font-weight: $font-weight-bold;

	// Breakpoints
	@include mappy-bp(palm-large) {
		margin-top: $mt-0;
	}
}
