%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.center {
    text-align: center;
}

@mixin no-list-style-mixin() {
    padding-left: 0;
    list-style: none;
    li:before {
        content: "\200B"; /* add zero-width space */
        position: absolute; /* makes sure to not interfere with the DOM layout. */
    }
}

%no-list-style {
    @include no-list-style-mixin();
}

.inline-list {
    padding-left: 0;

    li {
        display: inline-block;
        margin-right: 1.4em;

        &:last-child {
            margin-right: 0;
        }
    }
}


.screen-reader-text {
    clip: rect(0 0 0 0);
    overflow: hidden;
    position: absolute;
    height: 1px;
    width: 1px;
}

/*
  use when hiding text inline
  webkit and blink will read text in order
  .screen-reader-text will read text out of order
*/
.screen-reader-text-inline {
    border: 0;
    clip: rect(0 0 0 0);
    height: 0;
    width: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

[hidden] {
  display: none;
}
