$grayLighter: #f0f0f0;
$grayDarker: darken($grayLighter, 10%);
$blue: #397c9c;

$body_bg: #fdfdfd;
$headings: #333;
$body_font: #333;
$link: #177960;


$header_bg: #f8f8f8;
$hero: #f8f8f8;

$accordion_bg: #eee;

$footer_bg: #f8f8f8;

body {
    background: $body_bg;
}
