/* Add additional stylesheets below
-------------------------------------------------- */
/*
  Bootstrap's documentation styles
  Special styles for presenting Bootstrap's documentation and examples
*/

/* Body and structure
-------------------------------------------------- */

body {
  position: relative;
}

/* Code in headings */
h3 code {
  font-size: 14px;
  font-weight: normal;
}

/* Mastheads
-------------------------------------------------- */
.masthead {
  position: relative;
  color: #fff;
  text-align: left;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background-color: #1A274E;
  @include background-image(linear-gradient(bottom left, #1A274E, #397C9C 110%));

  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);

  // Mobile First
  padding: 1.5em 20px 3em;
  margin-top:   -20px; /* Offset bottom margin on .navbar */
  margin-right: -20px;
  margin-left:  -20px;


  h1 {
    font-size: 3em;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
  }

  p {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 0.5em;
  }


  /* Textual links in masthead */
  .masthead-links {
    margin: 0;
    list-style: none;

    li {
        display: inline;
        padding: 0 1.5em 0 0;
        color: rgba(255,255,255,.25);
    }

    a {
      color: #fff;
      color: rgba(255,255,255,.8);
      -webkit-transition: all .2s ease-in-out;
         -moz-transition: all .2s ease-in-out;
              transition: all .2s ease-in-out;

      &:hover {
        color: #fff;
        text-shadow: 0 0 10px rgba(255,255,255,.25);
      }

    }
  }

  @media (min-width: 768px) {
    margin: -20px 0 2em;
  }

  @media (min-width: 980px) {

    &.jumbotron {
      padding: 4em 0;

      h1 {
        font-size: 5em;
      }
       p {
        font-size: 3em;
      }
    }
  }
}
