//
// Layouts
// --------------------------------------------------


// Container (centered, fixed-width layouts)
.container {
  @include container-fixed();
}

// Fluid layouts (left aligned, with sidebar, min- & max-width content)
.container-fluid {
    width: 96%;
    margin: 0 auto;
    max-width: 1200px;
  // padding-right: $gridGutterWidth;
  // padding-left: $gridGutterWidth;
  @include clearfix();
}
