@media print {
  @page {
    margin: 0.5cm;
  }

  article {
    a:after {
      content: ' ( ' attr(href) ' ) ';
    }

    .button-edit {
      display: none !important;
    }

    code {
      font-family: monospace;
    }
  }

  ul.nav {
    li a {
      display: none;
    }

    li.logo a {
      display: block;
    }
  }

  .button-edit {
    display: none;
  }

  article {
    width: 100%;
  }
  
  section#related {
    display: none;
  }

  footer {
    display: none;
  }
}
