@import "bootstrap";
@import "responsive";
@import "icons";

body {
  padding-bottom: 40px;

  @media (min-width: 980px) {
      padding-top: 60px;
  }
}

.sidebar-nav {
  margin: 9px 0;
}

.logo {
  display: inline-block;
  height:auto;
  position: relative;
  margin-right: 0.15em;
}
.oldie-logo-navbar {
  width: 23px;
  height: 23px;
  background: #103051;
}
.oldie-logo-masthead {
  width: 43px;
  height: 43px;
}

.container-content {
  max-width: 46em;
}

// Contributors List
// -------------------------------------------------------------
#contributors-list {
  margin-left: 0;

  li {
    list-style-type: none;
    display: inline-block;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    width: 3.5em;
    overflow: hidden;
  }

  a {
    @include transition(opacity 0.2s ease-in);
    display: block;
    overflow: hidden;
    opacity: 0.6;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

// Post
// -------------------------------------------------------------
.latest-posts {
  .span3 {
    border-bottom: 1px solid #eee;

    &:last-of-type {
      border-bottom: 0;
    }
  }
  @media (min-width:768px) {
    margin-bottom: 3em;

    .span3 {
      border-bottom: 0;
    }
  }
}

// Post
// -------------------------------------------------------------
.post .post a {
  text-decoration: underline;
}

// Footnotes
// -------------------------------------------------------------
.footnotes ol {

  padding-left: 1em;

  li {
    position: relative;
  }

  a {
    word-break: break;
  }

  a[rev="footnote"] {
    position: absolute;
    left: -2.75em;
    top: 0.1em;
  }
}
