// Fill
//
// These classes are used to control the color of SVG.
//
// Styleguide Utilities.Fill


// u-fill-black
//
// Fills with the color black.
//
// Styleguide Utilities.Fill.u-fill-black
.u-fill-black {
  fill: $color-black;
}


// u-fill-gray-tint
//
// Fills with the color gray-tint.
//
// Styleguide Utilities.Fill.u-fill-gray-tint
.u-fill-gray-tint {
  fill: $color-gray-tint;
}


// u-fill-gray-shade
//
// Fills with the color gray-shade.
//
// Styleguide Utilities.Fill.u-fill-gray-shade
.u-fill-gray-shade {
  fill: $color-gray-shade;
}


// u-fill-white
//
// Fills with the color white
//
// Styleguide Utilities.Fill.u-fill-white
.u-fill-white {
  fill: $color-white;
}


// u-fill-green-tint
//
// Fills with the color green-tint
//
// Styleguide Utilities.Fill.u-fill-green-tint
.u-fill-green-tint {
  fill: $color-green-tint;
}


// u-fill-green
//
// Fills with the color green
//
// Styleguide Utilities.Fill.u-fill-green
.u-fill-green {
  fill: $color-green;
}


// u-fill-green-shade
//
// Fills with the color green-shade
//
// Styleguide Utilities.Fill.u-fill-green-shade
.u-fill-green-shade {
  fill: $color-green-shade;
}


// u-fill-blue-tint
//
// Fills with the color blue-tint
//
// Styleguide Utilities.Fill.u-fill-blue-tint
.u-fill-blue-tint {
  fill: $color-blue-tint;
}


// u-fill-blue
//
// Fills with the color blue
//
// Styleguide Utilities.Fill.u-fill-blue
.u-fill-blue {
  fill: $color-blue;
}


// u-fill-blue-shade
//
// Fills with the color blue-shade
//
// Styleguide Utilities.Fill.u-fill-blue-shade
.u-fill-blue-shade {
  fill: $color-blue-shade;
}

// u-fill-pink-tint
//
// Fills with the color pink-tint
//
// Styleguide Utilities.Fill.u-fill-pink-tint
.u-fill-pink-tint {
  fill: $color-pink-tint;
}


// u-fill-pink
//
// Fills with the color pink
//
// Styleguide Utilities.Fill.u-fill-pink
.u-fill-pink {
  fill: $color-pink;
}


// u-fill-pink-shade
//
// Fills with the color pink-shade
//
// Styleguide Utilities.Fill.u-fill-pink-shade
.u-fill-pink-shade {
  fill: $color-pink-shade;
}


// u-fill-sand
//
// Fills with the color sand
//
// Styleguide Utilities.Fill.u-fill-sand
.u-fill-sand {
  fill: $color-sand;
}
