// Font Sizes
//
// Use these utility classes to control font sizes.
//
// Styleguide Utilities.Font Sizes


// u-font-size-body-tiny
//
// Weight: 1
//
// Markup:
// <p class="u-font-size-body-tiny">The five boxing wizards jump quickly.</p>
//
// Styleguide Utilities.Type Alignment.u-text-transform-none
.u-font-size-body-tiny {
	font-size: $font-size-body-tiny;
}


// u-font-size-body-small
//
// Weight: 2
//
// Markup:
// <p class="u-font-size-body-small">The five boxing wizards jump quickly.</p>
//
// Styleguide Utilities.Type Alignment.u-text-transform-none
.u-font-size-body-small {
	font-size: $font-size-body-small;
}


// u-font-size-body
//
// Weight: 3
//
// Markup:
// <p class="u-font-size-body">The five boxing wizards jump quickly.</p>
//
// Styleguide Utilities.Type Alignment.u-text-transform-none
.u-font-size-body {
	font-size: $font-size-body;
}


// u-font-size-body-medium
//
// Weight: 4
//
// Markup:
// <p class="u-font-size-body-medium">The five boxing wizards jump quickly.</p>
//
// Styleguide Utilities.Type Alignment.u-text-transform-none
.u-font-size-body-medium {
	font-size: $font-size-body-medium;
}


// u-font-size-body-large
//
// Weight: 5
//
// Markup:
// <p class="u-font-size-body-large">The five boxing wizards jump quickly.</p>
//
// Styleguide Utilities.Type Alignment.u-text-transform-none
.u-font-size-body-large {
	font-size: $font-size-body-large;
}


// u-font-size-heading-tiny
//
// Weight: 6
//
// Markup:
// <p class="u-font-size-heading-tiny">The five boxing wizards jump quickly.</p>
//
// Styleguide Utilities.Type Alignment.u-text-transform-none
.u-font-size-heading-tiny {
	font-size: $font-size-heading-tiny;
}


// u-font-size-heading-small
//
// Weight: 7
//
// Markup:
// <p class="u-font-size-heading-small">The five boxing wizards jump quickly.</p>
//
// Styleguide Utilities.Type Alignment.u-text-transform-none
.u-font-size-heading-small {
	font-size: $font-size-heading-small;
}


// u-font-size-heading-medium
//
// Weight: 8
//
// Markup:
// <p class="u-font-size-heading-medium">The five boxing wizards jump quickly.</p>
//
// Styleguide Utilities.Type Alignment.u-text-transform-none
.u-font-size-heading-medium {
	font-size: $font-size-heading-medium;
}


// u-font-size-heading-large
//
// Weight: 9
//
// Markup:
// <p class="u-font-size-heading-large">The five boxing wizards jump quickly.</p>
//
// Styleguide Utilities.Type Alignment.u-text-transform-none
.u-font-size-heading-large {
	font-size: $font-size-heading-large;
}


// u-font-size-heading-larger
//
// Weight: 10
//
// Markup:
// <p class="u-font-size-heading-larger">The five boxing wizards jump quickly.</p>
//
// Styleguide Utilities.Type Alignment.u-text-transform-none
.u-font-size-heading-larger {
	font-size: $font-size-heading-larger;
}


// u-font-size-heading-largest
//
// Weight: 11
//
// Markup:
// <p class="u-font-size-heading-largest">The five boxing wizards jump quickly.</p>
//
// Styleguide Utilities.Type Alignment.u-text-transform-none
.u-font-size-heading-largest {
	font-size: $font-size-heading-largest;
}


// u-font-size-heading-huge
//
// Weight: 12
//
// Markup:
// <p class="u-font-size-heading-huge">The five boxing wizards jump quickly.</p>
//
// Styleguide Utilities.Type Alignment.u-text-transform-none
.u-font-size-heading-huge {
	font-size: $font-size-heading-huge;
}
