// Hide
//
// These classes are used to remove content from a page using various
// techniques. Each hiding technique has [a different implementation](https://a11yproject.com/posts/2013-01-11-how-to-hide-content/)
// based on different use cases.
//
// Styleguide Utilities.Hide


// u-hide-visually
//
// Hides content visually, but still makes it available for screen readers.
//
// Markup:
// <a href="https://en.wikipedia.org/wiki/Cat">Read more <span class="u-hide-visually">about cats.</span></a>
//
// Styleguide Utilities.Hide.u-hide-visually
.u-hide-visually {
	@include hide(visually);
}


// u-hide-hidden
//
// Hides content visually and from screen readers, but maintains layout.
//
// Markup:
// <div class="u-hide-hidden">…</div>
//
// Styleguide Utilities.Hide.u-hide-hidden
// .u-hide-hidden {
// 	@include hide(hidden);
// }


// u-hide-invisible
//
// Maintain layout, but make fully transparent.
//
// Markup:
// <div class="u-hide-invisible">…</div>
//
// Styleguide Utilities.Hide.u-hide-invisible
// .u-hide-invisible {
// 	@include hide(invisible);
// }


// u-hide-remove
//
// Completely remove content.
//
// Markup:
// <div class="u-hide-remove">…</div>
//
// Styleguide Utilities.Hide.u-hide-remove
// .u-hide-remove {
// 	@include hide(remove);
// }
