.u-spacing-shortest {
	margin: 0.25rem;
}

.u-spacing-shorter {
	margin: 0.5rem;
}

.u-spacing-short {
	margin: 0.75rem;
}

.u-spacing-medium {
	margin: 1rem;
}

.u-spacing-long {
	margin: 1.5rem;
}

.u-spacing-longer {
	margin: 2rem;
}

.u-spacing-longest {
	margin: 3rem;
}

.u-spacing-top-shortest {
	margin-top: 0.25rem;
}

.u-spacing-top-shorter {
	margin-top: $mt-2;;
}

.u-spacing-top-short {
	margin-top: 0.75rem;
}

.u-spacing-top-medium {
	margin-top: $mt-3;
}

.u-spacing-top-long {
	margin-top: 1.5rem;
}

.u-spacing-top-longer {
	margin-top: 2rem;
}

.u-spacing-top-longest {
	margin-top: 3rem;
}


.u-spacing-right-shortest {
	margin-right: 0.25rem;
}

.u-spacing-right-shorter {
	margin-right: 0.5rem;
}

.u-spacing-right-short {
	margin-right: 0.75rem;
}

.u-spacing-right-medium {
	margin-right: 1rem;
}

.u-spacing-right-long {
	margin-right: 1.5rem;
}

.u-spacing-right-longer {
	margin-right: 2rem;
}

.u-spacing-right-longest {
	margin-right: 3rem;
}


.u-spacing-bottom-shortest {
	margin-bottom: 0.25rem;
}

.u-spacing-bottom-shorter {
	margin-bottom: 0.5rem;
}

.u-spacing-bottom-short {
	margin-bottom: 0.75rem;
}

.u-spacing-bottom-medium {
	margin-bottom: 1rem;
}

.u-spacing-bottom-long {
	margin-bottom: 1.5rem;
}

.u-spacing-bottom-longer {
	margin-bottom: 2rem;
}

.u-spacing-bottom-longest {
	margin-bottom: 3rem;
}


.u-spacing-left-shortest {
	margin-left: 0.25rem;
}

.u-spacing-left-shorter {
	margin-left: 0.5rem;
}

.u-spacing-left-short {
	margin-left: 0.75rem;
}

.u-spacing-left-medium {
	margin-left: 1rem;
}

.u-spacing-left-long {
	margin-left: 1.5rem;
}

.u-spacing-left-longer {
	margin-left: 2rem;
}

.u-spacing-left-longest {
	margin-left: 3rem;
}

