// Type Alignment
//
// These classes are used to control the flow of the text in a container.
// Text aligned via justification is considered to be a common Dyslexia trigger
// and should be avoided.
//
// Styleguide Utilities.Type Alignment


// u-type-align-left
//
// Aligns type to the left.
//
// Markup:
// <p class="u-type-align-left">I am aligned to the left.</p>
//
// Styleguide Utilities.Type Alignment.u-type-align-left
.u-type-align-left {
	text-align: left;
}


// u-type-align-center
//
// Aligns type to the center.
//
// Markup:
// <p class="u-type-align-center">I am aligned to the center.</p>
//
// Styleguide Utilities.Type Alignment.u-type-align-center
.u-type-align-center {
	text-align: center;
}


// u-type-align-right
//
// Aligns type to the right.
//
// Markup:
// <p class="u-type-align-right">I am aligned to the right.</p>
//
// Styleguide Utilities.Type Alignment.u-type-align-right
.u-type-align-right {
	text-align: right;
}
