// Variables

// Declaration of common measurements for margin and padding

//$m-0:0rem
//$m-1:0.5rem
//$m-2:1rem
//$m-3:1.5rem
//$m-4:2rem
//$m-5:2.5rem
//$m-6:3rem
//$m-7:3.5rem
//$m-8:4rem
//$m-9:4.5rem
//$m-10:5rem
//$m-11:5.5rem
//$m-12:6rem


// margin
$m-0: margin: 0;

// margin-top
$mt-0: margin-top: 0;
$mt-1: margin-top: 0.5rem;
$mt-2: margin-top: 1rem;
$mt-3: margin-top: 1.5rem;
$mt-4: margin-top: 2rem;
$mt-6: margin-top: 3rem;
$mt-8: margin-top: 4rem;
$mt-12: margin-top: 6rem;

// margin-right
$mr-1: margin-right: 0.5rem;
$mr-2: margin-right: 1rem;
$mr-3: margin-right: 1.5rem;
$mr-4: margin-right: 2rem;
$mr-6: margin-right: 3rem;

// margin-bottom
$mb-0: margin-bottom: 0;
$mb-1: margin-bottom: 0.5rem;
$mb-2: margin-bottom: 1rem;
$mb-4: margin-bottom: 2rem;
$mb-6: margin-bottom: 3rem;

// margin-left
$ml-1: margin-left: 0.5rem;
$ml-2: margin-left: 1rem;
$ml-3: margin-left: 1.5rem;
$ml-4: margin-left: 2rem;

// padding
$p-0: padding: 0;
$p-1: padding: 0.5rem;
