// Variables

// Declaration of common measurements for margin and padding

//$m-0:0rem
//$m-1:0.5rem
//$m-2:1rem
//$m-3:1.5rem
//$m-4:2rem
//$m-5:2.5rem
//$m-6:3rem
//$m-7:3.5rem
//$m-8:4rem
//$m-9:4.5rem
//$m-10:5rem
//$m-11:5.5rem
//$m-12:6rem

// margin
$m-0: 0;
$m-1: 0.5rem;
$m-2: 1rem;
$m-3: 1.5rem;
$m-4: 2rem;
$m-5: 2.5rem;
$m-6: 3rem;
$m-7: 3.5rem;
$m-8: 4rem;
$m-9: 4.5rem;
$m-10: 5rem;
$m-11: 5.5rem;
$m-12: 6rem;

// padding
$p-0: 0;
$p-1: 0.5rem;
