<!DOCTYPE html class="no-js">
<html lang="en" itemscope itemtype="http://schema.org/Webpage">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{% include "meta/social-media.njk" %}
		{% include "meta/icons.njk" %}
		<link rel="stylesheet" as="style" href="{{ '/css/screen.min.css?v=20200715a' | url }}" />
		<link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}" />
		<link rel="sitemap" type="application/xml" title="{{ metadata.title }}" href="{{ '/sitemap.xml' | url }}" />
		<link rel="author" href="humans.txt" />
		{# {% include "meta/service-worker.njk" %} #}
	</head>
	<body {% if templateClass %} class="{{ templateClass }}"{% endif %}>

		{% include "nav/skipnav.njk" %}

		{% include "blm-banner.njk" %}

		{% include "header.njk" %}

		<main id="main" class="l-main">
			{{ content | safe }}
		</main>

		{% include "sponsors.njk" %}

		{% include "footer.njk" %}

		{# <script async src="{{ '/' | url }}js/main.min.js"></script> #}

		<script src="{{ '/' | url }}js/table-of-contents.js"></script>
		<script>tableOfContents('[data-content]', '[data-toc]', { levels: 'h2, h3' });</script>
		<script type="text/javascript">document.querySelector('[data-copyright-year]').innerHTML = '2013-' + new Date().getFullYear();</script>

	</body>
</html>
