---
layout: layouts/base.njk
templateClass: template-generic
---

<div class="l-spotlight__hero c-spotlight__hero">
	{%
		set avatar = {
			cssClass: "c-spotlight__hero-avatar",
			image: '/img' + image
		}
	%}
	{% include "avatar.njk" %}
</div>

<div data-content class="l-content c-content c-content--generic">

	<h1 id="title" class="c-heading-largest c-heading-largest--generic">
		<span class="u-font-size-body-medium u-text-transform-uppercase c-spotlight__subheading">{{ category }}<span class="u-hide-visually">:</span></span>
		{{ title }}
	</h1>

	{% if featured_resource %}
		{% include "featured-resource.njk" %}
	{% endif %}

	{{ content | safe }}

	{% if further_reading %}
		<h2 id="more-about-{{ title | slugify }}" class="c-heading-medium">
			More about {{ title }}
		</h2>
		<ul>
			{% for source in further_reading %}
				<li>
					<a href="{{ source.url }}">{{ source.title }}</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
</div>
