---
layout: layouts/base.njk
templateClass: l-home
---
<nav id="table-of-contents" class="l-toc" aria-label="Table of contents">
  <ul class="c-toc">
    <li class="c-toc__list-item">
      <a class="c-toc__link" aria-current="location" href="#build-basics">Build basics</a>
    </li>
    <li class="c-toc__list-item">
      <a class="c-toc__link" href="#conduct-an-audit">Conduct an audit</a>
    </li>
    <li class="c-toc__list-item">
      <a class="c-toc__link" href="#deep-dive">Deep dive</a>
    </li>
    <li class="c-toc__list-item">
      <a class="c-toc__link" href="#create-community">Create community</a>
    </li>
  </ul>
</nav>

{{ content | safe }}
