---
layout: layouts/base.njk
templateClass: template-post
---

<div class="l-post">
	<header class="l-post__header">
		<div class="l-post__category c-post__category">
			<p class="u-font-size-body u-text-transform-uppercase">
				<a class="u-font-size-body c-post__category__link" href="/posts/#{{ category | slugify | url }}">
					{{ category }}
				</a>
			</p>
		</div>

		<h1 id="title" class="l-post__title c-post__title">
			{{ title | safe }}
		</h1>

		<p id="metadata" class="u-font-size-body-small l-post__metadata c-post__metadata">
			{% if author %}
				<span class="c-post__metadata--author">
					<span class="u-text-transform-uppercase">By:&#8194;</span><a class="c-post__metadata-link" href="/authors/#{{ author | slugify | url }}">{{ author }}</a><span class="u-hide-visually">.</span>
				</span>
			{% endif %}
			{% if date %}
				<span class="c-post__metadata--published">
					<span class="u-text-transform-uppercase">Published:&#8194;</span><time datetime="{{ page.date | htmlDateString }}">{{ page.date | dateReadable }}</time><span class="u-hide-visually">.</span>
				</span>
			{% endif %}
		</p>
	</header>

	<div id="short-answer" class="l-post__body">
		{% include "nav/toc.njk" %}

		<div class="l-post__content">
			<div  data-content class="c-content c-content--post">
				{{ content | safe }}

				<p class="c-last-updated__body">
					{% if updated_by %}
						This post was last updated on <time datetime="{{ last_updated | htmlDateString }}">{{ last_updated | dateReadable }}</time> by <a href="/authors/#{{ updated_by | slugify | url }}">{{ updated_by }}</a>.
					{% endif %}
					{% if thanks %}
						{{ thanks | safe }}
					{% endif %}
				</p>

				{% if further_reading %}
					{% include "further-reading.njk" %}
				{% endif %}
			</div>
			{%- if collection -%}
				{%- set collectionObject = collections.postCollections[collection.slug] -%}
				<h2>Collection: {{ collectionObject.collection.data.title }}</h2>
				<ol class="c-collection__list">
					{%- for post in collectionObject.posts -%}
						{# Todo: Use this in styling #}
						{%- set currentPost = false -%}
						{%- if post.data.title == title -%}
							{%- set currentPost = true -%}
						{%- endif -%}
						<li>
							{% include "post.njk" %}
						</li>
					{%- endfor -%}
				</ol>
			{%- endif -%}
		<div>
	</div>

	{% include "nav/recommended-reading.njk" %}
</div>

{% include "post-metadata.njk" %}
