---
layout: layouts/home.njk
tags:
  - nav
navtitle: Checklist
---

<h1>Checklist</h1>
<p>
  A beginner's guide to web accessibility.
</p>
<h2>Landmarks</h2>
<p>
  ARIA Landmark roles can help assistive technology users to quickly navigate to and past blocks of content in a web interface.
</p>
<p>
  <strong>Note:</strong> When you <a rel="external noopener" href="https://validator.w3.org/nu/">validate HTML</a> that utilizes most landmark roles, you'll receive a warning stating these roles are redundant.
</p>
<p>
  In HTML5, several of the landmark roles are implicit via the native structural elements which are supported by <a rel="external noopener" href="https://www.html5accessibility.com/">modern desktop browsers</a>. With that said, if you need to support older browsers, you'll want to check their support for landmark roles. If you find support to be lacking, then use the landmark roles regardless of the validation warnings. For more information, read <a href="/posts/aria-landmark-roles/">Quick Tip: ARIA Landmark Roles and HTML5 Implicit Mapping</a>.
</p>
{# TODO: Checklist #}
<h2>Language Attribute</h2>
<p>
  Declaring a language attribute on the HTML element enables a screen reader to read out the text with correct pronunciation.
</p>
{# TODO: Checklist #}
<h2>Document Outline</h2>
{# TODO: Checklist #}
<h2>Links</h2>
{# TODO: Checklist #}
<h2>Images</h2>
{# TODO: Checklist #}
<h2>JavaScript</h2>
{# TODO: Checklist #}
<h2>Forms</h2>
<h2>Media (Audio and Video)</h2>
<p>
  Providing text alternatives makes the audio information accessible to people who are deaf or hard of hearing. This also goes for search engines who are deaf and hard of hearing as well.
</p>
{# TODO: Checklist #}
<h2>Color and Contrast</h2>
{# TODO: Checklist #}
<h2>Test for different types of color blindness</h2>
{# TODO: Checklist #}
<h2>Testing</h2>
<p>
  Navigate your site or application using a range of tools. For instance, using only a keyboard or a screen reader will help you understand how a blind, low-vision, or limited-mobility user will experience it.
</p>
{# TODO: Checklist #}
