<div class="l-hero c-hero c-hero--home">
  <div class="l-hero__promo c-a11y-summary">
    <h1 class="c-a11y-summary__explanation">
      <abbr>a11y</abbr> stands for <span class="c-a11y-summary__accessibility">accessibility<span>
    </h1>
    <p class="c-a11y-summary__mission">
      The A11Y Project is a community-driven effort to make web accessibility easier.
    </p>
  </div>
</div>

<p class="c-cta-get-started">
  <a class="c-cta-get-started__link" href="#learn-the-fundamentals-and-principles-behind-accessible-design">How do I get started?</a>
</p>
