<div class="l-hero c-hero">
	<div class="u-text-transform-uppercase l-hero__promo c-hero-summary">
		<h1 id="title" class="u-hide-visually">
			{{ hero.title }}
		</h1>
		<p>
			{{ hero.subtitle }}
		</p>
	</div>
</div>
