<div class="c-homepage-card">
	<div class="c-homepage-card__image-link" onclick="location.href='{{ featuredResource.url }}'">
		<img
			class="c-homepage-card__image"
			alt="{{ featuredResource.alt }}"
			src="img/home/{{ featuredResource.image }}" />
	</div>
	<p class="c-homepage-card__author">
		{{ featuredResource.author }}
	</p>
	<h3 class="c-homepage-card__title" onclick="location.href='{{ featuredResource.url }}'">
		{{ featuredResource.title }}
	</h3>
	<p class="c-homepage-card__description">
		{{ featuredResource.description }}
	</p>
	<p>
		<a class="c-homepage-card__cta" href="{{ featuredResource.url }}">
			{{ featuredResource.cta }}
		</a>
	</p>
</div>
