// Button
//
// Your standard button suitable for clicking.
//
// :hover   - Highlights when hovering.
//
// Markup:
// <button class="button">Button</button>
//
// Style guide: z.button
.button {
  width: 300px;
  height: 80px;
  background-color: tomato;
  color: white;
}
