@charset "UTF-8";

// Imports
@import
	"../../node_modules/normalize.css/normalize",
	"../../node_modules/mappy-breakpoints/mappy-breakpoints",
	"imports/fonts";


// Brand
//
// Weight: 1
//
// The visual assets that set the overall tone and aesthetic for the site.
//
// Styleguide Brand
@import
	"brand/colors",
	"brand/logos",
	"brand/typefaces";


// Logic
//
// Weight: 2
//
// Styleguide Logic


// Variables
//
// Weight: 1
//
// Variables are a way of storing small pieces of code to reuse in your
// stylesheet. Changing the variable's code value will update it everywhere the
// variable is used.
//
// Styleguide Logic.Variables
@import
	"logic/variables.paths",
	"logic/variables.supports",
	"logic/variables.animation-duration",
	"logic/variables.animation-easing",
	"logic/variables.borders",
	"logic/variables.font-families",
	"logic/variables.font-sizes",
	"logic/variables.font-tracking",
	"logic/variables.font-weights",
	"logic/variables.line-heights",
	"logic/variables.global";


// Maps
//
// Weight: 2
//
// Maps are collections of related values contained in a variable.
//
// Styleguide Logic.Maps
@import
	"logic/maps.breakpoints",
	"logic/maps.z-index";

// Functions
//
// Weight: 3
//
// Functions allow you to use conditional logic for your CSS values.
//
// Styleguide Logic.Functions
@import
	"logic/functions.strip-unit",
	"logic/functions.em",
	"logic/functions.rem",
	"logic/functions.modular-scale",
	"logic/functions.z";


// Mixins
//
// Weight: 4
//
// Mixins let you repeat groups of CSS declarations across your stylesheet.
// They also let you use conditional logic to adjust what is declared.
//
// Styleguide Logic.Mixins
@import
	"logic/mixins.clearfix",
	"logic/mixins.content-inset",
	"logic/mixins.headings",
	"logic/mixins.hide",
	"logic/mixins.lede",
	"logic/mixins.link-states",
	"logic/mixins.post-content-flourish",
	"logic/mixins.post-content-inset",
	"logic/mixins.preserve-list-semantics",
	"logic/mixins.responsify",
	"logic/mixins.shift-click",
	"logic/mixins.show";


// Base
//
// Weight: 3
//
// Sets the initial, document-level cascade.
//
// Styleguide Base
@import
	"base/all",
	"base/html",
	"base/body",
	"base/global-attributes",
	"base/resets",
	"base/code",
	"base/links",
	"base/paragraphs",
	"base/lists",
	"base/tables";


// Layout
//
// Weight: 4
//
// Classes that control [the overall arrangement of main site landmarks](https://www.scottohara.me/blog/2018/03/03/landmarks.html).
//
// Styleguide Layout
@import
	"layout/l-simple",
	"layout/l-content",
	"layout/l-footer",
	"layout/l-footer-nav",
	"layout/l-generic-title",
	"layout/l-header",
	"layout/l-hero",
	"layout/l-lip",
	"layout/l-main",
	"layout/l-post",
	"layout/l-primary-nav",
	"layout/l-sponsors",
	"layout/l-spotlight",
	"layout/l-toc";


// Utilities
//
// Weight: 5
//
// Utility classes are small, single-purpose classes.
//
// Styleguide Utilities
@import
	"utilities/colors",
	"utilities/font-families",
	"utilities/font-sizes",
	"utilities/hide",
	"utilities/preserve-list-semantics",
	"utilities/spacing",
	"utilities/text-transform";

// Components
//
// Weight: 6
//
// Components are collections of classes used to construct a user interface
// element.
//
// Styleguide Components
@import
	"components/c-simple",
	"components/c-a11y-summary",
	"components/c-banner",
	"components/c-blm-banner",
	"components/c-card",
	"components/c-card-post",
	"components/c-card-resource",
	"components/c-changelog",
	"components/c-checklist",
	"components/c-contribute",
	"components/c-cta-get-started",
	"components/c-divider",
	"components/c-dos-donts",
	"components/c-featured",
	"components/c-footer",
	"components/c-form",
	"components/c-further-reading",
	"components/c-headings",
	"components/c-hero",
	"components/c-homepage-card",
	"components/c-homepage-feature",
	"components/c-last-updated",
	"components/c-lede",
	"components/c-linkroll",
	"components/c-lip",
	"components/c-logo",
	"components/c-person",
	"components/c-post",
	"components/c-preface",
	"components/c-primary-nav",
	"components/c-recommended-reading",
	"components/c-skipnav",
	"components/c-sponsors",
	"components/c-spotlight",
	"components/c-wcag-explanation",

	"components/content/spacing",
	"components/content/headings",
	"components/content/links",
	"components/content/lists",
	"components/content/inline-content",
	"components/content/cms",
	"components/content/embedded";


// Vendor
//
// Weight: 7
//
// Stylesheets that affect vendor and third party-supplied code.
//
// Styleguide Vendor
@import
	"vendor/v-prism-a11y-dark",
	"vendor/v-toc";


// Media
//
// Weight: 8
//
// Stylesheets for alternate modes of presentation.
//
// Styleguide Media
@import
	"media/print";


// Shame
@import "shame";
