// We want to make sure all colors are defined here in this file
// to make sure that we know of all the different color variables we have globally,
// but each color can be overridden in particular color schemes as needed.

$scheme-light: (
	"body-background": "sand",
	"body-text": "black",
	"kbd-text": "black",
	"kbd-background": "white",
	"pre-background": "black",
	"pre-text": "white",
	"code-background": "gray-wash",
	"samp-background": "pink",
	"mark-background": "yellow",
	"mark-text": "black",
	"link-text": "blue",
	"link-focus-text": "white",
	"secondary-link-text": "black",
	"secondary-link-accent": "pink",
	"secondary-link-focus-background": "pink",
	"secondary-link-focus-text": "black",
	"button-background": "pink-shade",
	"button-text": "white",
	"button-focus-background": "black",
	"input-border": "gray",
	"input-hover-background": "white",
	"input-focus-border": "pink-shade",
	"error": "red",
	"progress-background": "black",
	"progress-bar": "yellow",
	"divider-background": "blue-tint",
	"heading-text": "black",
	"heading-text-accent": "pink-shade",
	"text-accent": "gray",
	"nav-background": "black",
	"nav-link-text": "white",
	"nav-cta-background": "white",
	"nav-cta-text": "black",
	"hero-background": "green-shade",
	"hero-background-text": "pink",
	"hero-content-background": "white",
	"hero-content-accent": "pink-tint",
	"hero-content-text": "black",
	"hero-content-text-accent": "pink",
	"toc-summary": "blue",
	"toc-link-text": "gray",
	"toc-link-focus-text": "black",
	"toc-indicator": "pink",
	"card-background": "white",
	"card-outline": "gray",
	"card-heading-text": "blue-shade",
	"card-meta-text": "gray",
	"card-text": "black",
	"card-focus-background": "blue",
	"card-focus-text": "white",
	"card-accent": "blue",
	"card-accent-shadow": "blue-shade",
	"card-accent-text": "white",
	"featured-card-background": "blue-tint",
	"featured-card-heading-text": "blue-shade",
	"featured-card-text": "black",
	"featured-card-focus-background": "blue",
	"featured-card-focus-text": "white",
	"featured-card-accent": "blue",
	"featured-card-accent-shadow": "blue-shade",
	"featured-card-accent-text": "white",
	"category-green": "green",
	"category-green-background": "green-tint",
	"category-gray": "gray",
	"category-gray-background": "gray-wash",
	"category-yellow": "yellow",
	"category-yellow-background": "yellow-tint",
	"category-blue": "blue",
	"category-blue-background": "blue-tint",
	"category-pink": "pink",
	"category-pink-background": "pink-tint",
	"checklist-accent": "blue-shade",
	"checklist-hover-icon": "blue-tint",
	"checklist-focus-background": "blue-shade",
	"checklist-focus-text": "white",
	"checklist-code-background": "blue-tint",
	"checklist-code-text": "black",
	"tag-background": "blue-tint",
	"do-accent": "pink-tint",
	"dont-accent": "green-tint",
	"sponsors-background": "gray-wash",
	"rte-accent": "green",
	"rte-code-background": "gray-shade-muted",
	"post-rec-background": "white",
	"post-rec-accent": "red-muted",
	"post-rec-text": "gray",
	"post-rec-focus-text": "white",
	"footer-link-text": "black",
	"footer-tagline-text": "blue-shade",
	"input-accent": "pink-shade"
);

$scheme-dark: (
	"body-background": "charcoal",
	"body-text": "gray-tint",
	"kbd-text": "gray-shade",
	"kbd-background": "gray-wash",
	"code-background": "black",
	"mark-background": "yellow-muted",
	"mark-text": "black",
	"link-text": "blue-tint-muted",
	"link-focus-text": "black",
	"secondary-link-text": "white",
	"secondary-link-accent": "pink-muted",
	"secondary-link-focus-background": "pink-muted",
	"secondary-link-focus-text": "gray-wash",
	"button-background": "pink",
	"button-text": "black",
	"button-focus-background": "pink-tint-muted",
	"input-border": "gray",
	"input-hover-background": "black",
	"input-focus-border": "pink-muted",
	"error": "red-muted",
	"progress-bar": "yellow-muted",
	"divider-background": "blue-shade",
	"heading-text": "white",
	"heading-text-accent": "blue-tint-muted",
	"text-accent": "gray-tint",
	"hero-background": "green-shade",
	"hero-background-text": "pink-shade-muted",
	"hero-content-background": "black",
	"hero-content-accent": "pink-tint",
	"hero-content-text": "gray-tint",
	"hero-content-text-accent": "pink",
	"toc-summary": "blue-tint-muted",
	"toc-link-text": "gray-tint",
	"toc-link-focus-text": "white",
	"toc-indicator": "pink-shade",
	"card-background": "black",
	"card-outline": "gray-shade",
	"card-heading-text": "blue-tint-muted",
	"card-meta-text": "white",
	"card-text": "gray-tint",
	"card-focus-background": "blue",
	"card-focus-text": "white",
	"card-accent": "blue-shade",
	"card-accent-shadow": "blue-shade-muted",
	"card-accent-text": "white",
	"featured-card-background": "black",
	"featured-card-heading-text": "blue-tint-muted",
	"featured-card-text": "white",
	"featured-card-focus-background": "blue",
	"featured-card-focus-text": "white",
	"featured-card-accent": "blue-shade",
	"featured-card-accent-shadow": "blue-shade-muted",
	"featured-card-accent-text": "white",
	"category-green": "green-muted",
	"category-green-background": "green-shade",
	"category-gray": "gray",
	"category-gray-background": "gray-shade",
	"category-yellow": "yellow-shade",
	"category-yellow-background": "yellow-shade-muted",
	"category-blue": "blue-muted",
	"category-blue-background": "blue-shade-muted",
	"category-pink": "pink-muted",
	"category-pink-background": "pink-shade-muted",
	"checklist-accent": "blue-tint-muted",
	"checklist-hover-icon": "white",
	"checklist-focus-background": "blue-tint-muted",
	"checklist-focus-text": "black",
	"checklist-code-background": "blue-muted",
	"checklist-code-text": "gray-tint",
	"tag-background": "blue-shade-muted",
	"do-accent": "pink-tint-muted",
	"dont-accent": "green-tint-muted",
	"rte-accent": "green-tint-muted",
	"rte-code-background": "black",
	"post-rec-background": "gray-wash",
	"post-rec-text": "gray-shade",
	"sponsors-background": "gray-shade",
	"footer-link-text": "white",
	"footer-tagline-text": "blue-tint-muted",
);

:root {
	--image-filter: none;

	@each $name, $value in $scheme-light {
		#{"--color-" + $name}: var(--color-#{$value});
	}
}

@include dark-mode() {
	--image-filter: saturate(0.7);

	@each $name, $value in $scheme-dark {
		#{"--color-" + $name}: var(--color-#{$value});
	}
}
