// Namespace
.c-content {
	// Direct Link
	//
	// Style guide: Components.post.direct-link
	.direct-link {
		font-size: 75%;
		margin-left: 0.15rem;

		&:hover {
			text-decoration: none;
		}
	}

	.footnotes-sep {
		display: none;
	}

	.footnotes {
		@include post-content-flourish("section-footnotes.svg", 62, 1.75rem);

		margin-top: 8ex;
	}

	.footnotes-list {
		margin-top: 1rem;
	}

	.footnote-item {
		p {
			margin-top: 0;
		}
	}

	.footnote-backref {
		display: none;
	}
}
