// Namespace
.c-content {
	// Direct Link
	//
	// Style guide: Components.post.direct-link
	.direct-link {
		font-size: 75%;
		margin-left: 0.15rem;

		&:hover {
			text-decoration: none;
		}
	}

	.footnote-ref {
		vertical-align: super;
	}

	.footnotes-sep {
		display: none;
	}

	.footnotes {
		--filename: url("#{$path-to-img}/posts/section-footnotes-lightmode.svg");
		--filename-dark: url("#{$path-to-img}/posts/section-footnotes-darkmode.svg");
		@include post-content-flourish(62, 1.75rem);

		margin-top: 8ex;
	}

	.footnotes-list {
		margin-top: $mt-2;
	}

	.footnote-item {
		p {
			margin-top: $mt-0;
		}
	}

	.footnote-backref {
		display: none;
	}
}
