// Namespace
.c-content {
  // Measure
  dl,
  hr,
  ol,
  p,
  ul {
    max-width: $global-type-measure;
  }

  // Vertical spacing
  blockquote,
  dl,
  h2,
  h3,
  h4,
  h5,
  h6,
  ol,
  p,
  pre,
  table,
  ul {
    margin-top: $_c-post-vertical-spacing;
  }

  // Extra breathing room
  blockquote,
  figure,
  pre,
  table {
    margin-bottom: $_c-post-breathing-room;
  }

  // Supports
  @supports #{$supports-grid} {
    // Contexts
    .template-post & {
      // This selector targets only the first child paragraph of
      // `.c-content`, allowing us to apply the tl;dr image
      & > p:first-of-type {
        font-family: $font-family-secondary;
        font-size: 1.15rem;
        line-height: $line-height-looser;
        margin-top: 0;
        margin-bottom: $_c-post-vertical-spacing * 1.25;
      }

      // Breakpoints
      @include mappy-bp(lap-medium) {
        font-size: 1.25rem;
        margin-bottom: $_c-post-vertical-spacing * 1.5;
      }

      code,
      kbd {
        font-size: 80%;
      }

      &::before {
        // Contexts
        .template-post & {
          // Breakpoints
          @include mappy-bp(lap-medium) {
            background: url("#{$path-to-img}/posts/section-short-answer.svg") no-repeat center;
            background-size: cover;
            content: "";
            display: block;
            height: rem(169);
            margin-top: 1rem;
            position: absolute;
              left: 1rem;
            width: rem(164);
          }
        }
      }
    }
  }
}
