/*************************************
/  Contributors List
/************************************/
.checklist > ul {
	margin-left: 0;
	list-style-type: none;
}
.checklist label {
	font-size: 1.1em;
	line-height: 1.1em;
}

.checklist label input[type="checkbox"] {
	width: 1.1em;
	height: 1.1em;
	position: relative;
	top: -0.2em;
}
.checklist fieldset {
	margin-bottom: 2em;
}
