---
layout: default
---
<div class="jumbotron masthead">
  <div class="container">
    <h1><!--[if lte IE 8]><img src="/img/logo.png" class="oldie-logo-masthead logo" alt=""><![endif]--><!--[if gte IE 9]><!--><span class="fs1 logo" aria-hidden="true" data-icon="&#xe000;"></span><!--<![endif]-->{{ site.title }}</h1>
    <p>A community-driven effort to make web accessibility easier.</p>
    <ul class="masthead-links">
      <li>
        <a href="./about.html">Learn more</a>
      </li>
      <li>
        <a href="http://github.com/a11yproject/a11yproject.com">Contribute on Github</a>
      </li>
    </ul>
  </div>
</div>

<article class="post">

  <div class="container-fluid">

    <div class="row-fluid">
      <div class="span8">

          <div class="post row-fluid">
          {{ content }}
          </div>

      </div>

      <div class="span4">
        <div class="well sidebar-nav">
          <ul id="toc" class="nav nav-list"></ul>
        </div>
      </div>

    </div>
  </div>

</article>
