---
layout: default
description: A description about my blog homepage
---
<div class="container-fluid">

  <div class="row-fluid">
    <div class="span9">
      <header class="page-header">
        <h2>{{ page.title }}</h2>
      </header>

      <div class="row-fluid">
        {% for post in site.categories[page.category] %}
        <div class="span4">
          <h4>{{ post.title }}</h4>
          {% if post.tldr %}<p>{{ post.tldr }}</p>{% endif %}
          <p><a class="btn" href="{{ post.url }}">Read more &raquo;</a></p>
        </div><!--/span-->
        {% endfor %}
      </div><!--/row-->
    </div><!--/span-->

    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Categories</li>
          {% category_list %}
        </ul>
      </div><!--/.well -->
    </div><!--/span-->


  </div><!--/row-->
</div>