---
layout: default
---

<article class="post">
  <section class="notification">
      <h2 class="notification__title">We're redesigning!</h2>
      <p>Thanks to a generous grant from the <a rel="external noopener" href="https://www.invisionapp.com/design-forward-fund">InVision Design Forward Fund</a>, we're in the process of redesigning the site. You can follow along with <a rel="external noopener" href="https://github.com/a11yproject/a11yproject.com/projects/1">our plan on GitHub</a>, and <a href="purpose.html">review our purpose and team</a>. Interested in helping out? Check out <a rel="external noopener" href="https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md">our contributing guidelines</a>.</p>
  </section>
  <h1 class="post-title">{{ page.title }}</h1>
  <p>{{ page.description }}</p>

  <div class="post-content">
    {{ content }}
  </div>

</article>
