---
layout: default
---
<article class="post">
  {% if page.title %}
    <header class="page-header">
      <h1 class="post-title">{{ page.title }}</h1>
      <p class="post-meta">
        {% if page.date %}
            <small class="postdate">
              Published on
              <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>
            </small>
        {% endif %}

        {% assign author = site.data.authors[page.author] %}
        {% if page.author %}
          <small class="postauthor">by {% if author.contact %}<a href="{{ author.contact }}">{{ author.name }}</a>{% else %}{{ author.name }}{% endif %}</small>
        {% endif %}

        {% assign updater = site.data.authors[page.updated_by] %}
        {% if page.last_updated %}
          &ndash; Updated:
          <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.last_updated | date: "%B %d, %Y" }}</time>
          {% if page.updated_by %}
            <small class="postauthor">by {% if updater.contact %}<a href="{{ updater.contact }}">{{ updater.name }}</a>{% else %}{{ updater.name }}{% endif %}</small>
          {% endif %}
        {% endif %}
      </p>
    </header>
  {% endif %}

  {{ content }}

  {%if page.path %}
    <a class="button-edit" href="//github.com/a11yproject/a11yproject.com/tree/gh-pages/{{ page.path }}">
      <svg class="icon" style="height:1em; width: 1em;"><use xlink:href="#icon-github"></use></svg>
      Edit on GitHub
    </a>
  {% endif %}

  {% if site.disq4s %}
    <div id="comments">
      <h2>Comments</h2>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        var disqus_identifier = "{{ page.url }}";
        (function() {
         var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
         dsq.src = 'http://{{ site.disqus.id }}.disqus.com/embed.js';
         (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript={{ site.disqus.id }}">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
  {% endif %}

</article>

{% if site.related_posts %}
  <section id="related" class="related-posts row">
    <div class="row-narrow">
      <h3>Related Posts</h3>
      <ul class="nav nav-list">
        {% for post in site.related_posts limit:5 %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endif %}
