---
layout: layouts/home.njk
tags:
  - nav
navtitle: Events
---

<h1>Events</h1>
<p>
  Local and remote accessibility events.
</p>
<p>
  <a rel="external noopener" href="https://github.com/a11yproject/a11yproject.com/issues/new">Let us know if you are hosting an event</a> and want it listed here. Please be sure to include a brief event description (2-4 sentences), as well as links to pertinent information. <a rel="external noopener" href="https://a11yproject.com/follow#meetups">Meetups</a> might also be happening in your area, be sure to check!
</p>
<h2>Upcoming events</h2>
<h2>Past events</h2>
