---
layout: layouts/home.njk
title: About
subtitle: About this website.
colorScheme: blue-yellow
hero: about
eleventyNavigation:
  key: About
  parent: Feature
  order: 5
tags:
  - navprimary
templateClass: template-about
---

<div data-content class="l-content c-content c-content--about">

	<p class="c-lede">
		Accessibility is incredibly important, yet often overlooked in traditional digital design and development education. Because of this, The A11Y Project strives to be a living example of how to create beautiful, accessible, and inclusive digital experiences.
	</p>
	<h2 id="disability" class="c-heading-large">
		Disability
	</h2>
	<p>
		<a href="https://www.cdc.gov/ncbddd/disabilityandhealth/infographic-disability-impacts-all.html">One in four people in the United States has a disability</a>. For many, technology built with accessibility in mind makes things easier. For people with disabilities, technology makes things possible.
	</p>
	<p>
		Websites and apps can be made to work in such a way that it can be understood by assistive technology such as screen readers, refreshable braille displays, and screen magnifiers. Many disabled people rely on such devices to do things like order food, pay taxes, apply to jobs, and talk with their friends and family.
	</p>
	<p>
		Additionally, websites and web apps can be designed to be understood by the widest possible audience. This includes accommodating things like colorblindness, Dyslexia and Dyscalculia, seizure and migraine triggers, as well as reading comprehension level and cognitive load.
	</p>
	<h2 id="inclusion" class="c-heading-large">
		Inclusion
	</h2>
	<p>
		Accessibility is important. Inclusion is essential.
	</p>
	<p>
		Without representation, it is impossible to understand, much less effectively make accessible digital experiences.
	</p>
	<p>
		In addition, accessibility work is oftentimes done after the fact to great expense. Inclusivity asks people making digital experiences to consider early and often what barriers and biases might keep people from being present, and what they can do about it.
	</p>
	<h2 id="law" class="c-heading-large">
		Law
	</h2>
	<p>
		In many countries, accessibility is a right protected by law, the same way protections for people's race, religion, and gender are upheld. Depriving someone of access is illegal and immoral.
	</p>
	<h2 id="opportunity" class="c-heading-large">
		Opportunity
	</h2>
	<p>
		Making things accessible translates to better opportunities, as it means more people can use them. Accessible digital experiences also remove barriers. This is incredibly important for things like employment, an area where disabled people have historically faced discrimination.
	</p>
	<p>
		In addition, <a href="https://www.air.org/sites/default/files/2022-03/Hidden-Market-Spending-Power-of-People-with-Disabilities-April-2018.pdf">recent research (PDF)</a> has revealed that there are billions of dollars in potential revenue if accessibility needs are accommodated. For example, the keyboard present with every desktop and laptop computer, tablet, and smartphone are derived from <a href="https://en.m.wikipedia.org/wiki/Hansen_Writing_Ball">the Hansen Writing Ball</a>, assistive technology invented in the early 1800s.
	</p>
	<h2 id="what-does-the-term-a11y-mean" class="c-heading-large">
		What does the term a11y mean?
	</h2>
	<p>
		“<dfn>a11y</dfn>” stands for “accessibility.” It is a numeronym, with <strong>11</strong> representing the count of letters between the letter <strong>a</strong> and the letter <strong>y</strong>. Other numeronyms you may be familiar with include: <dfn>i18n</dfn> (internationalization), <dfn>P2P</dfn> (peer to peer), <dfn>WWII</dfn> (World War 2), etc.
	</p>
	<p>
		The word accessibility has different meanings in different contexts. On the internet, the use of the term a11y helps to identify content related specifically to digital accessibility. For example, it is often used as <a href="https://twitter.com/hashtag/a11y?src=hash">a Twitter hashtag</a> by digital accessibility practitioners.
	</p>
	<p>
		If you’d like to learn more about the term a11y, check out our post, <a href="{{ '/posts/a11y-and-other-numeronyms/' | url }}">Quick tip: a11y and a brief numeronyms primer</a>.
	</p>
	<h2 id="about-this-site" class="c-heading-large">
		About this site
	</h2>
	<p>
		This site is Open Source software, meaning that everyone is able to view its underlying code, as well as collaboratively participate in its development if they so choose. The site's <a href="{{ '/team/#maintainers' | url }}">maintainers</a> help with day-to-day operations.
	</p>
	<p>
		This code is stored on <a href="https://github.com/a11yproject/a11yproject.com/">GitHub</a>, a website that helps facilitate collaboration for code-related things. The website itself is built using <a href="https://www.11ty.dev/">Eleventy</a>, an engine used to quickly and efficiently stitch together code and written content.
	</p>
	<p>
		If you are knowledgeable about accessibility and want to help, please consider <a href="{{ '/contribute/' | url }}">contributing</a> or <a href="{{ '/sponsorship/' | url }}">sponsoring</a>! In addition to development help, we always welcome help with writing posts and editing, as well as providing information, resources, and feedback.
	</p>








</div>
