---
layout: layouts/home.njk
eleventyNavigation:
  key: Primary
  title: About
  order: 4
subtitle: About this website.
tags:
  - navprimary
---

<h1 id="main-heading">{{ navtitle }}</h1>
<p>
  {{ subtitle }}
</p>
<p>
  Accessibility can be a complex and difficult topic. The Accessibility Project understands this and wants to help make it easier to implement on the web. Our goal is to accomplish this with three principles in mind:
</p>
<ol>
  <li><strong>Digestible</strong>. We strive to feature short, digestible pieces of content.</li>
  <li><strong>Up-to-date</strong>. The project is hosted on GitHub so information can be current with the latest standards.</li>
  <li><strong>Forgiving</strong>. People make mistakes, so we seek to be encouraging.</li>
</ol>
<h2>Why accessibility is important</h2>
<p>
  Blind and visually impaired make up 285,000,000 people according to the <a rel="external noopener" href="http://www.who.int/mediacentre/factsheets/fs282/en/">World Health Organization</a> (June 2012) with 39,000,000 categorized as legally blind and the remaining 246,000,000 visually impaired. Deaf and hearing impaired make up 275,000,000 (2004) in the moderate-to-profound hearing impairment category.
</p>
<p>
  To put these in perspective, the population of the <a rel="external noopener" href="https://www.worldometers.info/world-population/us-population/">United States of America</a> is 315,000,000 (January 2013).
</p>
<p>
  Disabilities can also be conditional. A broken arm, a loud restaurant, harsh glare, not speaking the local language—all are examples where someone may benefit from accessible practices.
</p>
<h2>What does the term A11Y mean?</h2>
<p>
  In short, <em>A11Y</em> means “accessibility.” A11Y is what is known as a <a href="https://a11yproject.com/posts/a11y-and-other-numeronyms/">numeronym</a>, which is somewhat similar to an acronym. Unlike an acronym, numbers are used in place of letters to shorten the term. You may already be familiar with other numeronyms, such as “K-9” for “Canine” or “W3C” for “World Wide Web Consortium”.
</p>
<p>
  There are a number of ways a numeronym can be created. In the case of translating “accessibility” to “A11Y”, the first and last letters of “accessibility” are preserved, replacing the remaining letters between with their sum total of 11.
</p>
<p>
  One of the motivations for a numeronym is the limited space available on social media platforms for posting content. For example, on Twitter—where the character limit was 140 until November 2017—replacing the hashtag <a rel="external noopener" href="https://twitter.com/hashtag/accessibility">#accessibility</a> with <a rel="external noopener" href="https://twitter.com/hashtag/a11y">#a11y</a> freed up 9 extra characters for the author to use.
</p>
<p>
  Another motivation is discoverability. You can find more relevant resources, and with greater precision. Using the term “accessibility” to search, you will find many irrelevant resources using that word in various other contexts. You may also miss resources in languages other than English. Many accessibility specialists from around the world use “a11y” as an international technical term when speaking about their work.
</p>
<h2>About this site</h2>
<p>
  This site is built collaboratively by developers on <a rel="external noopener" href="https://github.com/a11yproject/a11yproject.com/">GitHub</a> using <a rel="external noopener" href="https://www.11ty.io/">Eleventy</a>.
</p>
<p>
  Through the power of Open Source we’re committed to incrementally improving our own site’s accessibility. If you are knowledgeable about accessibility and want to help, please consider contributing. We always welcome help with writing articles, editing inaccuracies, and providing high-level information.
</p>
