---
layout: layouts/home.njk
title: Announcements
subtitle: A11Y Project news.
eleventyNavigation:
  key: Announcements
  parent: Project
  order: 4
tags:
  - project
templateClass: template-generic
---

<div class="l-content c-content--generic">

	<h1 id="title" class="c-heading-largest c-heading-largest--generic">
		{{ title }}
	</h1>
	<p class="c-subtitle">
		{{ subtitle }}
	</p>

	<h2 id="news" class="c-heading-large u-spacing-top-longest">
		News
	</h2>
	<p class="c-preface">
		Detailed information about project news and updates.
	</p>
	<div class="c-card__wrapper">
		{% set taglist = collections[ "announcements" ] %}
		{% for post in taglist | reverse %}
			{% include "post.njk" %}
		{% endfor %}
	</div>

	<h2 id="changelog" class="c-heading-large">
		Changelog
	</h2>
	<p class="c-preface">
		Notable updates to our website.
	</p>
	<div class="c-content">
		{% include "changelog.njk" %}
	</div>

</div>
