---
layout: layouts/home.njk
title: Announcements
subtitle: A11Y Project news.
eleventyNavigation:
  key: Announcements
  parent: Project
  order: 4
tags:
  - project
templateClass: template-generic
---

<article class="l-content">

  <h1 id="title" class="c-heading-largest c-heading-largest--generic">
    {{ title }}
  </h1>
  <p class="c-subtitle">
    {{ subtitle }}
  </p>

  <div class="c-card__wrapper">
    {% set taglist = collections[ "announcements" ] %}
    {% for post in taglist | reverse %}
      {% include "post.njk" %}
    {% endfor %}
  </div>

  <h2 id="changelog" class="c-heading-large">
    Changelog
  </h2>
  <p class="c-preface">
    Significant updates to our website.
  </p>
  <div class="c-content">
    <h3 id="" class="c-heading-medium">
      x.x.x, mm/dd/yyyy
    </h3>
    <ul>
      <li>Update note</li>
    </ul>
  </div>

</article>
