---
layout: layouts/home.njk
title: Posts
subtitle: Wisdom from the community
eleventyNavigation:
  key: Primary
  title: Posts
  order: 1
permalink: /posts/
tags:
  - navprimary
templateClass: template-posts
---

{% include "nav/skipnav.njk" %}
<nav id="table-of-contents" class="l-toc" aria-label="Table of contents">
  <ol class="c-toc">
    <li class="c-toc__list-item">
      <a class="c-toc__link" aria-current="location" href="#background">Background</a>
    </li>
    <li class="c-toc__list-item">
      <a class="c-toc__link" href="#myths">Myths</a>
    </li>
    <li class="c-toc__list-item">
      <a class="c-toc__link" href="#quick-tests">Quick Tests</a>
    </li>
    <li class="c-toc__list-item">
      <a class="c-toc__link" href="#quick-tips">Quick Tips</a>
    </li>
    <li class="c-toc__list-item">
      <a class="c-toc__link" href="#how-tos">How-tos</a>
    </li>
    <li class="c-toc__list-item">
      <a class="c-toc__link" href="#assistive-technology">Assistive Technology</a>
    </li>
  </ol>
</nav>

<article class="l-content">

  <h1 class="u-hide-visually" id="main-heading">
    {{ title }}
  </h1>


<div class="c-post-preview">
  <h3>
    <a class="c-post-preview__title" href="">Quick test: Navigate using just your keyboard</a>
  </h3>
  <p class="c-post-preview__date">
    <time datetime="">January 11, 2013</time> by Dave Rupert
  </p>
  <p class="c-post-preview__shortdesc">
    A quick accessibility test that you can run on your sites right now.
  </p>
</div>



  <h2 id="background" class="c-heading-large u-margin-top-longest">
    Background
  </h2>

  {% set taglist = collections[ "background" ] %}
  {% for post in taglist | reverse %}
    {% include "postslist.njk" %}
  {% endfor %}


  <h2 id="myths" class="c-heading-large u-margin-top-longest">
    Myths
  </h2>

  {% set taglist = collections[ "myths" ] %}
  {% for post in taglist | reverse %}
    {% include "postslist.njk" %}
  {% endfor %}


  <h2 id="quick-tests" class="c-heading-large u-margin-top-longest">
    Quick tests
  </h2>

  {% set taglist = collections[ "quicktest" ] %}
  {% for post in taglist | reverse %}
    {% include "postslist.njk" %}
  {% endfor %}


  <h2 id="quick-tips" class="c-heading-large u-margin-top-longest">
    Quick tips
  </h2>

  {% set taglist = collections[ "quicktip" ] %}
  {% for post in taglist | reverse %}
    {% include "postslist.njk" %}
  {% endfor %}


  <h2 id="how-to" class="c-heading-large u-margin-top-longest">
    How-to
  </h2>

  {% set taglist = collections[ "howto" ] %}
  {% for post in taglist | reverse %}
    {% include "postslist.njk" %}
  {% endfor %}


  <h2 id="assistive-technology" class="c-heading-large u-margin-top-longest">
    Assistive technology
  </h2>

  {% set taglist = collections[ "assistivetechnology" ] %}
  {% for post in taglist | reverse %}
    {% include "postslist.njk" %}
  {% endfor %}

</article>
