---
layout: layouts/home.njk
title: Posts
subtitle: Wisdom from the community.
eleventyNavigation:
  key: Posts
  parent: Feature
  order: 1
permalink: /posts/
tags:
  - navprimary
templateClass: template-posts
---

{% include "nav/toc.njk" %}

<div data-content class="l-content">

	{% set taglist = collections[ "featured" ] %}
	{% for post in taglist %}
		{% include "highlight.njk" %}
	{% endfor %}

	<h2 id="background" class="c-heading-large">
		Background
	</h2>
	<p class="c-preface">
		General information for help in thinking about different parts of digital accessibility.
	</p>
	<div class="c-card__wrapper">
		{% set taglist = collections[ "background" ] %}
		{% for post in taglist | reverse %}
			{% include "card/post.njk" %}
		{% endfor %}
	</div>

	<h2 id="myth" class="c-heading-large">
		Myths
	</h2>
	<p class="c-preface">
		Common misconceptions and falsehoods about accessibility.
	</p>
	<div class="c-card__wrapper">
		{% set taglist = collections[ "myth" ] %}
		{% for post in taglist | reverse %}
			{% include "card/post.njk" %}
		{% endfor %}
	</div>

	<h2 id="quick-test" class="c-heading-large">
		Quick tests
	</h2>
	<p class="c-preface">
		Things you can quickly try out to check for inaccessible experiences.
	</p>
	<div class="c-card__wrapper">
		{% set taglist = collections[ "quicktest" ] %}
		{% for post in taglist | reverse %}
			{% include "card/post.njk" %}
		{% endfor %}
	</div>

	<h2 id="quick-tip" class="c-heading-large">
		Quick tips
	</h2>
	<p class="c-preface">
		Short, easy-to-digest and easy-to-implement accessibility-related information.
	</p>
	<div class="c-card__wrapper">
		{% set taglist = collections[ "quicktip" ] %}
		{% for post in taglist | reverse %}
			{% include "card/post.njk" %}
		{% endfor %}
	</div>

	<h2 id="how-to" class="c-heading-large">
		How-to
	</h2>
	<p class="c-preface">
		Guides to implementing accessible code.
	</p>
	<div class="c-card__wrapper">
		{% set taglist = collections[ "howto" ] %}
		{% for post in taglist | reverse %}
			{% include "card/post.njk" %}
		{% endfor %}
	</div>

	<h2 id="assistive-technology" class="c-heading-large">
		Assistive technology
	</h2>
	<p class="c-preface">
		Background information on the tools used by people who rely on them to navigate digital devices and interfaces.
	</p>
	<div class="c-card__wrapper">
		{% set taglist = collections[ "assistivetechnology" ] %}
		{% for post in taglist | reverse %}
			{% include "card/post.njk" %}
		{% endfor %}
	</div>

	<h2 id="write-for-us" class="c-heading-large">
		Write for us
	</h2>
	<p class="c-preface">
		We're always looking for people who want to <a class="c-preface__link" href="{{ '/contribute/' | url }}">share what they know</a> about accessibility.
	</p>

</div>
