---
layout: layouts/home.njk
title: Authors
subtitle: A bit about our contributors.
eleventyNavigation:
  key: Project
  title: Authors
  order: 4
tags:
  - project
templateClass: template-authors
---

<article class="l-content">

  {% set personRole = "author" %}
  {% set person = authors.author %}
  {% for person in person %}
    {% include "person.njk" %}
  {% endfor %}

</article>
