---
layout: layouts/home.njk
title: Code of Conduct
subtitle: The A11Y Project is dedicated to providing an open, welcoming and inclusive environment.
eleventyNavigation:
  key: Utility
  title: Code of Conduct
  order: 1
tags:
  - utility
---

<article class="l-content c-post__content">

  <p>
    Last updated on May 28th, 2019.
  </p>
  <h2 id="purpose" class="c-heading-large">
    Purpose
  </h2>
  <p>
    We believe that anyone who wants to contribute in a positive, healthy, and constructive manner to The A11Y Project should be able to. Accessibility is ultimately about people, and we are dedicated to providing an open, welcoming and inclusive environment for them.
  </p>
  <p>
    Fostering this environment means pledging to make our project and our community a harassment-free experience for everyone. If you choose to participate in The A11Y Project, you agree to not discriminate based on the following criteria:
  </p>
  <ul>
    <li>Age.</li>
    <li>Body size.</li>
    <li>Permanent disability and temporary impairments.</li>
    <li>Ethnicity.</li>
    <li>Gender identity and expression.</li>
    <li>Level of experience and education.</li>
    <li>Nationality.</li>
    <li>Physical appearance.</li>
    <li>Race.</li>
    <li>Religion.</li>
    <li>Sex characteristics.</li>
    <li>Sexual identity.</li>
    <li>Socioeconomic status.</li>
  </ul>
  <p>
    Discrimination is not limited to the preceding list. The list serves as an example of the kinds of criteria we take into consideration when considering what constitutes discrimination.
  </p>
  <h2 id="unacceptable-behavior" class="c-heading-large">
    Unacceptable behavior
  </h2>
  <p>
    Behavior that runs against our criteria for discrimination will not be tolerated.
  </p>
  <h3 id="examples" class="c-heading-medium">
    Examples
  </h3>
  <p>
    Sample cases of violations of our code of conduct could be:
  </p>
  <ul>
    <li><a href="/content-style-guide/#ableist-language">Ableist</a>, racist, or sexist language.</li>
    <li>Insults and threats directed at another person.</li>
    <li>Berating another person for their lack of technical knowledge.</li>
    <li>Discriminatory jokes.</li>
    <li>Sexually explicit or violent material (shock content).</li>
    <li>Posting, or threatening to post, other people's personally identifying information (i.e. doxing).</li>
    <li>Unwelcome sexual attention.</li>
    <li>Advocating for, or encouraging any of the above behavior.</li>
  </ul>
  <p>
    This list of examples does not define the entire range of unacceptable behavior. It is intended to help people understand what The A11Y Project considers code of conduct violations.
  </p>
  <h3 id="reporting" class="c-heading-medium">
    Reporting
  </h3>
  <p>
    If you have experienced behavior that violates our code of conduct, please make us aware of it. Reports go directly to <a href="/team/">The A11Y Project team</a> and will be investigated immediately to determine next steps.
  </p>
  <p>
    When describing an incident, please include as much pertinent information as you feel comfortable sharing. While we understand that revisiting this information can be unpleasant, doing so will help provide a better context for the report and a more informed response.
  </p>
  <p>
    If you feel you have been unfairly accused of violating these guidelines, please follow the same reporting process. We also ask you to report if you observe a violation of the code of conduct happening to someone else.
  </p>
  <p>
    All information shared with us will be handled in the strictest confidence. Methods of reporting are:
  </p>
  <h4 id="via-github" class="c-heading-small">
    Via GitHub
  </h4>
  <p>
    Code of Conduct violations may be addressed as an Issue. A GitHub account is required.
  </p>
  <h4 id="via-email" class="c-heading-small">
    Via email
  </h4>
  <p>
    The A11Y Project team monitors all email sent to <a href="mailto:hello@a11yproject.com?subject=Code%20of%20Conduct%20issue%20report">hello@a11yproject.com</a>.
  </p>
  <h4 id="via-anonymous-form-submission" class="c-heading-small">
    Via anonymous form submission
  </h4>
  <p>
    <a href="https://forms.gle/8N5ezJ5UtCgAm2VL7">Incidents may also be submitted anonymously</a> for review via a short form. Form submissions are sent to the A11Y Project Team.
  </p>
  <h3 id="enforcement-and-consequences" class="c-heading-medium">
    Enforcement and consequences
  </h3>
  <p>
    The A11Y Project is responsible for ensuring that violators of our code of conduct will be held accountable. This encompasses members of our own team, including its creator and maintainers. If a member of The A11Y Project is named in a report, they will be recused from the process.
  </p>
  <p>
    Anyone asked to stop unacceptable behavior is expected to comply immediately. This includes temporarily or permanently ceasing current and future contributions to The A11Y Project, regardless of the size or scale of their impact. The scope of consequence, and communication of enforcement is determined by The A11Y Project team. The A11Y Project team also has the right and responsibility to remove, edit, or reject content and contributions that do not align with the behavior the code of conduct outlines.
  </p>
  <p>
    Any participants who attempt to abuse the reporting process will be considered to be in violation of the code of conduct with regards to consequences. False reporting, especially with an intention to retaliate or exclude will not be tolerated.
  </p>
  <h2 id="scope" class="c-heading-large">
    Scope
  </h2>
  <p>
    This code of conduct applies to:
  </p>
  <ul>
    <li><a href="https://a11yproject.com/">The A11Y Project website</a>.</li>
    <li>Supporting resources and services (ex: <a href="https://github.com/a11yproject/a11yproject.com/">GitHub</a>).</li>
    <li>Communication channels (ex: email).</li>
    <li>Social media (ex: <a href="https://twitter.com/A11YProject">Twitter</a>).</li>
    <li>Public spaces where an individual represents The A11Y Project and its community.</li>
  </ul>
  <h2 id="modifications" class="c-heading-large">
    Modifications
  </h2>
  <p>
    This code of conduct is a living document used to help facilitate a shared understanding of our common environment and goals. We expect it to be followed in spirit as much as in the letter. Because of this, the code of conduct will be updated as The A11Y Project continues to grow. <a href="https://github.com/a11yproject/a11yproject.com/commits/gh-pages/CODE_OF_CONDUCT.md">The history of this document</a>, including reasoning for updates, is kept in GitHub.
  </p>
  <h2 id="also-see" class="c-heading-large">
    Also see
  </h2>
  <p>
    Our <a href="/contributing-guidelines/">Contributing Guidelines</a> and <a href="content-style-guide">Content Style Guide</a> are also shaped by this code of conduct.
  </p>
  <h2 id="license-and-attribution" class="c-heading-large">
    License and attribution
  </h2>
  <p>
    This set of guidelines is distributed under an <a href="https://github.com/a11yproject/a11yproject.com/blob/gh-pages/LICENSE-APLv2">Apache License 2.0 (APLv2)</a>.
  </p>
  <p>
    Communities don’t exist in a vacuum. Certain concepts and language have been informed by the <a href="https://www.contributor-covenant.org/version/1/4/code-of-conduct.html">Contributor Covenant Code of Conduct</a>, <a href="https://www.mozilla.org/en-US/about/governance/policies/participation/">Mozilla Community Participation Guidelines</a>, and the <a href="https://austindesignweek.org/code-of-conduct">Austin Design Week Code of Conduct</a>.
  </p>

</article>
