---
layout: layouts/home.njk
date: 2019-01-03
tags:
  - utility
navtitle: Content Style Guide
subtitle: A consistent writing style will help our content feel unified and aid in comprehension.
---

<h1 id="main_heading">{{ navtitle }}</h1>

<p>
  {{ subtitle }} Please check our <a rel="external noopener" href="https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md">Contributing Guidelines</a> before submitting. Questions or concerns about the Content style guide can be addressed in the site's <a rel="external noopener" href="">GitHub Issue Tracker</a>.
</p>

<nav>
  <h2 id="table-of-contents">Table of Contents</h2>

  <ol>
    <li>
      <a href="#general-approach">General approach</a>
      <ol>
        <li><a href="#themes">Themes</a></li>
        <li><a href="#tone">Tone</a></li>
      </ol>
    </li>
    <li>
      <a href="#authoring">Authoring</a>
      <ol>
        <li><a href="#written-language">Written language</a></li>
        <li><a href="#reading-level">Reading level</a></li>
        <li><a href="#punctuation">Punctuation</a></li>
        <li><a href="#styling">Styling</a></li>
        <li><a href="#capitalization">Capitalization</a></li>
        <li><a href="#concepts-and-terminology">Concepts and terminology</a></li>
        <li><a href="#user-or-person">User or Person?</a></li>
        <li><a href="#acronyms">Acronyms</a></li>
        <li><a href="#assumptive-phrases">Assumptive phrases</a></li>
        <li><a href="#gender">Gender</a></li>
        <li><a href="#ableist-language">Ableist language</a></li>
        <li><a href="#profanity">Profanity</a></li>
        <li><a href="#multimedia">Multimedia</a></li>
        <li><a href="#spell-check">Spell-check</a></li>
      </ol>
    </li>
    <li>
      <a href="#markdown">Markdown</a>
      <ol>
        <li><a href="#front-matter">Front matter</a></li>
        <li><a href="#line-breaks">Line breaks</a></li>
        <li><a href="#headings">Headings</a></li>
        <li><a href="#paragraphs">Paragraphs</a></li>
        <li><a href="#lists">Lists</a></li>
        <li><a href="#links">Links</a></li>
        <li><a href="#images">Images</a></li>
        <li><a href="#code">Code</a></li>
        <li><a href="#horizontal-rules">Horizontal rules</a></li>
        <li><a href="#inline-html">Inline HTML</a></li>
      </ol>
    </li>
    <li>
      <a href="#important-terms">Important terms</a>
      <ol>
        <li><a href="#the-a11y-project">The A11Y Project</a></li>
        <li><a href="#a11y-accessibility">a11y/accessibility</a></li>
        <li><a href="#github">GitHub</a></li>
        <li><a href="#people-organizations-titles-and-honorifics">People, organizations, titles, and honorifics</a></li>
        <li><a href="#other-proper-nouns">Other proper nouns</a></li>
      </ol>
    </li>
  </ol>
</nav>

<h2 id="general-approach">General approach</h2>

<h3 id="themes">Themes</h2>

<ul>
  <li><strong>Short:</strong> Attention spans are limited. Aim for brief, succinct article lengths.</li>
  <li><strong>Focused:</strong> Keep it digestible and to a single topic. Articles that span multiple areas and topics should be broken up.</li>
  <li><strong>Accessible:</strong> Use plain language and avoid jargon if possible. Explain complicated concepts by breaking them down.</li>
</ul>

<h3 id="tone">Tone</h2>

<p>
  We prefer an active tone, where the subject of the sentence performs the action.
</p>

<div class="c-do-dont">
  <h4 id="example-tone">Example</h4>

  <dl>
    <dt>Do:</dt>
    <dd>Some people navigate via keyboard.</dd>
    <dt>Don't:</dt>
    <dd>It was discovered earlier that some people navigate using keyboard input.</dd>
  </dl>
</div>

<h2 id="authoring">Authoring</h2>

<h3 id="written-language">Written language</h3>

<p>Use American English spelling, unless quoting in context.</p>

<div class="c-do-dont">
  <h4 id="example-written-language">Example</h4>

  <dl>
    <dt>Do:</dt>
    <dd>color</dd>
    <dt>Don't:</dt>
    <dd>colour</dd>
  </dl>
</div>

<h3 id="reading-level">Reading level</h3>

<p>
  Try not to exceed a seventh grade reading level. Avoid unnecessary jargon and extended metaphors. There are resources that can help you <a rel="external noopener" href="http://www.hemingwayapp.com/">calculate how complex your writing is</a>.
</p>

<h3 id="punctuation">Punctuation</h3>

<ul>
  <li>Use complete sentences.</li>
  <li>Add periods to the end of list items.</li>
  <li>Use exclamation points sparingly.</li>
  <li>Avoid rhetorical questions.</li>
  <li>Avoid trailing thoughts/ellipses.</li>
  <li>Avoid comma splices, em dash phrases, and semicolons. Using them increases the cognitive load when parsing the sentence.</li>
  <li>Use parentheses with care.</li>
</ul>

<h3 id="styling">Styling</h3>

<ul>
  <li>Use bold and italic text styling sparingly, and when semantically appropriate. Long sections of text set with these text styles have been known to be a Dyslexia trigger.</li>
  <li>Do not underline text. Underlined text should be reserved for links.</li>
</ul>

<h3 id="capitalization">Capitalization</h3>

<ul>
  <li>Avoid writing in all caps. Some assistive technologies will announce all cap words as individual letters.</li>
  <li>Capitalize words in a hashtag (e.g. <samp>#ThisReadsWell</samp>).</li>
</ul>

<h3 id="concepts-and-terminology">Concepts and terminology</h3>

<p>
  If possible, link to supporting articles when discussing new concepts and terminology, preferably sites with good accessibility support. This provides the reader with more detail on the subject without having to extend your article's length. It is also provides an alternate way of understanding the subject you introduce.
</p>

<p>
  Avoid analogies, similes, and metaphors that are too reliant on demographic, geography, religion, or culture.
</p>

<div class="c-do-dont">
  <h4 id="example-written-language">Example</h4>
  <p><a rel="external noopener" href="https://alistapart.com/article/responsive-web-design">Responsive Web Design (<abbr>RWD</abbr>)</a> allows us to create flexible, accessible layouts. Content in <abbr>RWD</abbr> behaves like water, fitting whatever container it is placed in.</p>
</div>

<h3 id="user-or-person">User or person?</h3>

<p>
  Prefer the terms "person" or "people" over "user" or "users".
</p>

<div class="c-do-dont">
  <h4 id="example-user-or-person">Example</h4>

  <dl>
    <dt>Do:</dt>
    <dd>Some people prefer a large font size.</dd>
    <dt>Don't:</dt>
    <dd>Most users have smartphones.</dd>
  </dl>
</div>

<h3 id="acronyms">Acronyms</h3>

<p>
  Spell out an acronym in full before using the shorthand version.
</p>

<div class="c-do-dont">
  <h4 id="example-user-or-person">Example</h4>

  <p>
    A User Interface (<abbr>UI</abbr>) is the space where interaction between humans and machines occur. The goal of a <abbr>UI</abbr> is to make it easy, efficient, and enjoyable to operate a machine.
  </p>
</div>

<h3 id="assumptive-phrases">Assumptive phrases</h3>

<p>
  The reader may have a different level of experience than you on the topic you're writing about. Avoid using terms like "just", "simply", "easily", "obviously", etc.
</p>

<p>
  If you make a statement about how a population behaves, please also make sure to cite a trustworthy source.
</p>

<h3 id="gender">Gender</h3>

<p>
  Use "they" when discussing a person unless they have made their preferred gender known.
</p>

<h3 id="ableist-language">Ableist language</h3>

<p>
  Ableist language uses words or phrases that have a negative connotation for people with disabilities. Avoid using it, unless quoting in context.
</p>

<p>
  Don't describe a person as having a disability unless it is relevant to the point you are trying to make. When discussing an individual, use the term they choose to self-identify with.
</p>

<h4 id="further-reading-ableist-language">Further reading</h4>

<ul>
  <li><a rel="external noopener" href="https://www.autistichoya.com/p/ableist-words-and-terms-to-avoid.html">Autistic Hoya: Ableism/Language</a></li>
  <li><a rel="external noopener" href="https://adata.org/factsheet/ADANN-writing">Guidelines for Writing About People With Disabilities</a></li>
  <li><a rel="external noopener" href="https://www.apa.org/pi/disability/resources/choosing-words.aspx">Choosing Words for Talking About Disability - American Psychological Association</a></li>
  <li><a rel="external noopener" href="http://disabilityinkidlit.com/2016/07/08/introduction-to-disability-terminology/">Introduction to Disability Terminology - Disability in Kidlit</a></li>
  <li><a rel="external noopener" href="https://consciousstyleguide.com/">Conscious Style Guide</a></li>
</ul>

<div class="c-do-dont">
  <h4 id="examples-ableist-language">Examples</h4>

  <dl>
    <dt>Do:</dt>
    <dd>This seems confusing!</dd>
    <dt>Don't:</dt>
    <dd>This is crazy!</dd>
    <dt>Do:</dt>
    <dd>They use a wheelchair.</dd>
    <dt>Don't:</dt>
    <dd>They're bound to a wheelchair.</dd>
    <dt>Do:</dt>
    <dd>They use a wheelchair.</dd>
    <dt>Don't:</dt>
    <dd>They're bound to a wheelchair.</dd>
    <dt>Do:</dt>
    <dd>Alice is blind.</dd>
    <dt>Don't:</dt>
    <dd>She's handicapable.</dd>
    <dt>Do:</dt>
    <dd>They do not have a disability.</dd>
    <dt>Don't:</dt>
    <dd>They're able-bodied.</dd>
  </dl>
</div>

<h3 id="profanity">Profanity</h3>

<p>
  Don't use profane terms unless quoting in context.
</p>

<div class="c-do-dont">
  <h4 id="example-profanity">Examples</h4>

  <p>
    <strong>Do:</strong> Our project manager said, "Ugh, accessibility. Not that shit again." Reader, it was time to act.
  </p>

  <p>
    <strong>Don't:</strong> Writing transcripts is fucking tedious.
  </p>
</div>

<h3 id="multimedia">Multimedia</h3>

<ul>
  <li>Ensure interactive multimedia can be fully operated by keyboard input.</li>
  <li>Multimedia should be able to be paused, and should load in a paused state.</li>
  <li>Don't use multimedia that will automatically steal keyboard focus.</li>
  <li>Multimedia with audio should provide both subtitles and transcripts of any spoken dialog or important sounds.</li>
  <li>Don't use multimedia that uses rapidly blinking, flashing, or strobing content. This may trigger photosensitive seizure disorders.</li>
</ul>

<h3 id="spell-check">Spell-check</h3>

<p>
  Many code editors have spell checking extensions. Please check your spelling before submitting content. This is a courtesy to both your readers and the people who will review your contribution.
</p>

<h2 id="markdown">Markdown</h2>

<p>
  The A11Y Project uses <a rel="external noopener" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">GitHub-flavored Markdown</a>.
</p>

<h3 id="front-matter">Front matter</h3>

<p><a rel="external noopener" href="https://www.11ty.io/">Eleventy</a> uses front matter information to create things like author attribution, categories, and page layout. Copying an existing file, then updating its filename and front matter to can be an easy way to help ensure everything is formatted properly.</p>

<h3 id="line-breaks">Line breaks</h3>

<p>
  Use a single newline to separate block-level content like headings, lists, images, code blocks, etc. The exception is second-level headings, where it should be two newlines. This helps visualize the overall structure of content in a code editor.
</p>

<h3 id="headings">Headings</h3>

<ul>
  <li>Use ordered headings to provide a meaningful high-level outline of your content.</li>
  <li>There should be only one first-level heading per page. Blog posts don't need first level headings, as Jekyll will automatically convert the title section of your post's front matter into a first-level heading.</li>
  <li>For non-blog post content, use pound/hash signs (<code>#</code>), not underlines (<code>---</code> or <code>===</code>) to designate first-level headings.</li>
  <li>Use sentence case for headings (e.g. Quick Tip: Don't auto-play video, music and more).</li>
  <li>Try to not use headings level 4 through 6. If your content is that detailed, it may need to be broken into separate articles.</li>
</ul>

<h3 id="paragraphs">Paragraphs</h3>

<ul>
  <li>Try to keep your paragraphs on the shorter side. 5 to 6 sentences maximum.</li>
  <li>Don't indent your first paragraph with space characters (e.g. <code>⋅⋅⋅Three spaces before a paragraph will indent it.</code>).</li>
</ul>

<h3 id="lists">Lists</h3>

<ul>
  <li>Put a period at the end of every list item.</li>
  <li>Uses dashes (<code>-</code>) for unordered lists.</li>
  <li>Use the number one (<code>1.</code>) for ordered lists.</li>
  <li>Use one space after a list item.</li>
  <li>Indent nested lists with four spaces (e.g. <code>⋅⋅⋅⋅-</code>).</li>
</ul>

<h3 id="links">Links</h3>

<ul>
  <li>Links should provide context for the content they link to. Avoid using ambiguous terms like "click here".</li>
  <li>Use Markdown-style links (<code>&#91;link text&#93;&#40;URL&#41;</code>) instead of HTML.</li>
  <li>Links should not open in new tabs or windows.</li>
</ul>

<h3 id="images">Images</h3>

<ul>
  <li>Use Markdown-style images (<code>!&#91;alternate description&#93;&#40;image url&#41;</code>) instead of HTML.</li>
  <li>Provide <a rel="external noopener" href="https://a11yproject.com/posts/alt-text/">meaningful alternative (alt) descriptions for images. Alt descriptions should concisely describe the image's content.</li>
  <li>Use complete sentences for your alt descriptions (e.g. <code>!&#91;A happy-looking Labrador Retriever puppy sitting in a clay flower pot.&#93;&#41;image url&#41;</code>). Including punctuation in your alt description will help some assistive technology pronounce it clearly.</li>
  <li>Do not use ambiguous terms like "image", "ScreenCapture at Wed Aug 22", "post image", etc.</li>
  <li>Do not use height and width attributes.</li>
</ul>

<h3 id="code">Code</h3>

<ul>
  <li>Use single backticks to enclose inline code (e.g. The <code>footer</code> element typically contains metadata about its section.).</li>
  <li>Use triple backticks (<code>```</code>) before and after a multi-line block of code.</li>
  <li>Do not use multi-line blocks of code to create diagrams, flowcharts, or other illustrations.</li>
</ul>

<h3 id="horizontal-rules">Horizontal rules</h3>

<ul>
  <li>Use three hyphens (<code>---</code>) to create a horizontal rule.</li>
  <li>Use horizontal rules for breaks in paragraph content.</li>
  <li>Do not use horizontal rules for decoration.</li>
</ul>

<h3 id="inline-html">Inline HTML</h3>

<p>
  Use HTML only when Markdown cannot accurately describe your content. Use <a rel="external noopener" href="https://alistapart.com/article/conversational-semantics">relevant, semantic HTML elements</a> and attributes. Examples of this would be:
</p>

<ul>
  <li>A video embed.</li>
  <li>A definition list.</li>
  <li>Elements like <code>&lt;kbd&gt;</code> and <code>&lt;samp&gt;</code>, which do not have Markdown equivalents.</li>
</ul>

<h2 id="important-terms">Important terms</h2>

<h3 id="the-a11y-project">The A11Y Project</h3>

<p>This website's name is spelled with a capital T, A, Y, and P.</p>

<div class="c-do-dont">
  <h4 id="example-the-a11y-project">Example</h4>

  <dl>
    <dt>Do:</dt>
    <dd>The A11Y Project</dd>
    <dt>Don't:</dt>
    <dd>a11y Project</dd>
  </dl>
</div>

<p>
  The A11Y Project also uses the following terms as proper nouns when discussing accessibility-related content:
<p>

<ul>
  <li>How-tos</li>
  <li>Myths</li>
</ul>

<h3 id="a11y-accessibility">a11y/accessibility</h3>

<p>
  "a11y" is a <a rel="external noopener" href="https://a11yproject.com/posts/a11y-and-other-numeronyms/">numeronym</a> that is short for "accessibility". The number 11 stands for the 11 letters between the first and last letters of the word.
</p>

<p>
  The numeronym is to not be used in formal writing. Use the full word, unless quoting in context.
</p>

<div class="c-do-dont">
  <h4 id="example-the-a11y-project">Example</h4>

  <dl>
    <dt>Do:</dt>
    <dd>"The number of developers interested in accessibility a11y (accessibility) is rising quickly."</dd>
    <dt>Don't:</dt>
    <dd>When we talk about a11y, we are discussing...</dd>
  </dl>
</div>

<h3 id="github">GitHub</h3>

<p>
  Capitalize the terms critical to using GitHub:
</p>

<ul>
  <li>Branch</li>
  <li>Clone</li>
  <li>Fork</li>
  <li>Git</li>
  <li>Issue</li>
  <li>Pull Request</li>
  <li>Release</li>
</ul>

<h3 id="people-organizations-titles-and-honorifics">People, organizations, titles, and honorifics</h3>

<p>
  Honor how someone or something chooses to officially spell their name.
</p>

<div class="c-do-dont">
  <h4 id="example-people-organizations-titles-and-honorifics">Example</h4>

  <p>
    danah boyd is a technology and social media scholar. She is a Principal Researcher at Microsoft Research, the founder and president of Data & Society Research Institute, and a Visiting Professor at New York University.
  </p>
</div>

<h3 id="other-proper-nouns">Other proper nouns</h3>

<p>
  These terms are commonly used on the site, or in the accessibility community.
</p>

<ul>
  <li><a rel="external noopener" href="https://www.w3.org/Style/CSS/Overview.en.html">Cascading Style Sheets (CSS)</a></li>
  <li><a rel="external noopener" href="https://www.w3.org/DOM/">Document Object Model (DOM)</a></li>
  <li><a rel="external noopener" href="https://support.microsoft.com/en-us/help/13862/windows-use-high-contrast-mode">High Contrast Mode (HCM)</a></li>
  <li><a rel="external noopener" href="https://www.w3.org/html/">Hypertext Markup Language (HTML)</a></li>
  <li><a rel="external noopener" href="https://www.w3.org/standards/techs/js">JavaScript (JS)</a></li>
  <li><a rel="external noopener" href="https://www.json.org/">JavaScript Object Notation (JSON)</a></li>
  <li><a rel="external noopener" href="https://www.w3.org/WAI/PF/aria/roles#landmark_roles">Landmark</a></li>
  <li><a rel="external noopener" href="https://www.meetup.com/">Meetup</a></li>
  <li><a rel="external noopener" href="https://www.w3.org/Graphics/SVG/">Scalable Vector Graphics (SVG)</a></li>
  <li><a rel="external noopener" href="https://www.w3.org/WAI/standards-guidelines/aria/">Web Accessibility Initiative Accessible Rich Internet Applications (WAI-ARIA/ARIA)</a></li>
  <li><a rel="external noopener" href="https://www.w3.org/">World Wide Web Consortium (W3C)</a></li>
  <li><a rel="external noopener" href="https://www.w3.org/WAI/standards-guidelines/wcag/">Web Content Accessibility Guidelines (WCAG)</a></li>
  <li><a rel="external noopener" href="https://en.m.wikipedia.org/wiki/Web_conferencing">Webinar</a></li>
  <li><a rel="external noopener" href="http://yaml.org/">YAML (YAML Ain't Markup Language)</a></li>
</ul>

