---
layout: layouts/home.njk
date: 2019-01-04
tags:
  - primarynav
navtitle: Contribute
subtitle: Want to help? Here's how.
---

<h1 id="main_heading">{{ navtitle }}</h1>

<p>
  {{ subtitle }} Please be sure to check our <a href="/content-style-guide">Content style guide</a> before contributing. Questions or concerns about contributing can be addressed in the site's Issue Tracker.
</p>

<nav>
  <h2 id="table-of-contents">Table of Contents</h2>

  <ol>
    <li>
      <a href="#about-this-site">About this site</a>
      <ol>
        <li><a href="#git-and-github">Git and GitHub</a></li>
        <li><a href="#build-process">Build process</a></li>
        <li><a href="#important-branches">Important branches</a></li>
        <li><a href="#editing-files">Editing files</a></li>
      </ol>
    </li>
    <li>
      <a href="#submitting-content">Submitting content</a>
      <ol>
        <li><a href="#content-style-guide">Content style guide</a></li>
        <li><a href="#articles">Articles</a></li>
        <li><a href="#events">Events</a></li>
        <li><a href="#patterns">Patterns</a></li>
        <li><a href="#resources">Resources</a></li>
        <li><a href="#rejection">Rejection</a></li>
      </ol>
    </li>
    <li>
      <a href="#fixing-things">Fixing things</a>
      <ol>
        <li><a href="#reporting-issues">Reporting Issues</a></li>
        <li><a href="#submitting-pull-requests">Submitting Pull Requests</a></li>
        <li><a href="#stale-issues-and-pull-requests">Stale Issues and Pull Requests</a></li>
        <li><a href="#labels">Labels</a></li>
      </ol>
    </li>
    <li><a href="#license">License</a></li>
  </ol>
</nav>

<h2 id="about-this-site">About this site</h2>

<p>
  Following is information about how the site operates. Instructions on how to get the site running on your computer can be found in <a rel="external noopener" href="https://github.com/a11yproject/a11yproject.com/blob/gh-pages/README.md">the README on GitHub</a>.
</p>

<h3 id="git-and-github">Git and GitHub</h3>

<p>
  The A11Y Project is <a rel="external noopener" href="https://opensource.dev/">an Open Source project</a>. It uses <a rel="external noopener" href="https://git-scm.com/">Git</a> and <a rel="external noopener" href="https://github.com/">GitHub</a> to handle publishing new content and features, as well as coordinating maintenance.
</p>

<p>
  People working on more sophisticated aspects of the site (new features, bug fixes, etc.) are expected to have at least some familiarity with version control, GitHub's key functionality, and <a rel="external noopener" href="https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#set-up-locally">using feature branches to work on their computers</a>.
</p>

<p>
  If you are looking for a place to get started learning about Git and contributing to an Open Source project, <a rel="external noopener" href="https://egghead.io/courses/how-to-contribute-to-an-open-source-project-on-github">Egghead.io offers a great introductory course</a>.
</p>

<h4 id="build-process">Build process</h4>

<p>
  This project uses <a rel="external noopener" href="https://www.11ty.io/">Eleventy</a> to convert project files into a website that a browser can read and display. You'll need to make sure you've run all the commands in our <a rel="external noopener" href="https://github.com/a11yproject/a11yproject.com#development"><code>README</code> on GitHub</a> to get Jekyll working.
</p>

<p>
  Any changes you save will cause the local version of the site to recompile. You can then refresh the browser tab that has your local instance of the site open to preview your edits.
</p>

<h4 id="important-branches">Important branches</h4>

<p>
  <code>gh-pages</code> is <a rel="external noopener" href="https://www.atlassian.com/git/tutorials/using-branches">the production branch</a>. This is the live website.
</p>

<p>
  If you have a feature request, we suggest first filing an Issue to discuss it (please read how to report an issue first). Once that feature has been approved you can start coding! Create a new feature branch from gh-pages, and name it something that references the feature you'll be working on. For example a feature to increase the site's type size could be: increase-font-size.
</p>

<p>
  A list of <a rel="external noopener" href="https://github.com/a11yproject/a11yproject.com/branches">all active branches</a> is available.
</p>

<h4 id="editing-files">Editing files</h4>

<p>
  This site uses specific kinds of files to help run the site efficiently. <a rel="external noopener" href="https://www.11ty.io/">Eleventy</a> will take these files and compile them into HTML, CSS, and other browser-friendly code.
</p>

<p>
  Please make all edits in these files, and <strong>not</strong> the compiled code. If you edit the compiled code it will be overwritten the next time any file is saved and all your hard work will be lost!
</p>

<p>
  Some of the main files this site uses are:
</p>

<h5 id="markdown">Markdown</h5>

<p>
  <a rel="external noopener" href="https://daringfireball.net/projects/markdown/syntax">Markdown</a> is a lightweight markup language that makes writing easier. We use it to organize our blog posts, as well as our main site pages. It uses <code>.md</code> files and compiles into HTML.
</p>

<h5 id="nunjucks">Nunjucks</h5>

<p>
  <a rel="external noopener" href="https://mozilla.github.io/nunjucks/">Nunjucks</a> is a templating language for JavaScript. It allows us to use templates to make maintaining and updaing the site more efficient.
</p>

<h5 id="sass">Sass</h5>

<p>
  <a rel="external noopener" href="https://sass-lang.com/">Syntactically Awesome Style Sheets (Sass)</a> is an extension of the CSS language that adds many helpful features. Using it helps keep our site's visual presentation consistent. It uses <code>.scss</code> files and compiles into CSS.
</p>

<h5 id="json">JSON</h5>

<p>
  <a rel="external noopener" href="https://www.json.org/">JavaScript Object Notation (JSON)</a> is a human-readable file format for structured data. This structured data is used throughout the site as a way to keep information consistent. It uses <code>.json</code> files.
</p>

<h2 id="submitting-content">Submitting content</h2>

<p>
  The A11Y Project tries to only promote content that is free, or has a low barrier to entry. We're not too keen on partnership deals or promotions.
</p>

<h3 id="content-style-guide">Content style guide</h3>

<p>
  The A11Y Project has <a href="/content-style-guide">guidelines to help our content have a consistent voice and tone</a>. Please take a moment to familiarize yourself with it.
</p>

<h3 id="articles">Articles</h3>

<h4 id="pitching">Pitching</h4>

<p>
  Have an idea for an article? We'd love to know what you want to contribute!
</p>

<ol>
  <li>Search to make sure someone hasn't claimed the article already.</li>
  <li>Claim an article by starting a new Issue with "Article: Your title" as the Issue title. This will help us keep track of who is working on what. The final, published title can be different from the Issue name.</li>
</ol>

<p>
  We also have <a rel="external noopener" href="https://github.com/a11yproject/a11yproject.com/issues/12">a list of articles</a> we'd love to see written.
</p>

<h4 id="pitching">Writing</h4>

<p>
  Articles are written using <a href="#markdown">Markdown</a>, using a special formatting technique called front matter. <a rel="external noopener" href="https://www.11ty.io/">Eleventy</a> uses front matter information to create things like author attribution, categories, and page layout.
</p>

<p>
  To get started writing an article, <a href="#important-branches">create a feature branch</a> and create a new Markdown file in the <a rel="external noopener" href="https://github.com/a11yproject/a11yproject.com/tree/gh-pages/posts">posts directory</a>. The Markdown's file name should reflect the intended publishing date and the title of the article. For example, a post about accessible typography may have a filename along the lines of <code>2018-09-12-accessible-typography.md</code>.
</p>

<p>
  Copying <a rel="external noopener" href="https://github.com/a11yproject/a11yproject.com/blob/gh-pages/posts/example-post.md">our example post</a>, then updating its filename and front matter to match your article can be an easy way to help ensure everything is formatted properly.
</p>

<h4 id="submitting">Submitting</h4>

<p>
  Once you are satisfied with your article's content, <a rel="external noopener" href="#submitting-pull-requests">submit a Pull Request</a> so it can be reviewed. Reviews will be conducted using <a rel="external noopener" href="https://github.com/features/code-review/">GitHub's review tools</a>. Project maintainers may request additional updates for clarification or technical accuracy.
</p>

<p>
  Be sure to also add yourself to <a rel="external noopener" href="https://github.com/a11yproject/a11yproject.com/blob/gh-pages/_data/people.json"><code>authors.yml</code></a> so you can get credit for your work!
</p>

<p>
  Once both the project maintainers and author are satisfied with the article, it will be merged by a project maintainer and published automatically.
</p>

<h3 id="events">Events</h3>

<p>
  Have an accessibility-themed event you would like to promote? There are two ways you can get your event added to the project: Either <a rel="external noopener" href="https://github.com/a11yproject/a11yproject.com/issues/new?template=request-to-add-an-event.md">create a new event Issue</a>, or edit the <a rel="external noopener" href="https://github.com/a11yproject/a11yproject.com/blob/gh-pages/_data/events.json"><code>events.yml</code> file</a> directly and submit a Pull Request.
</p>

<p>
  Events can either be Regional (in-person), or Webinars (online). You'll want to add the following information about your event:
</p>

<ul>
  <li>Event title.</li>
  <li>A brief description (2-3 sentences).</li>
  <li>Web address (URL) for more info.</li>
  <li>Event type (Regional or Webinar or both).</li>
  <li>Social Media Hashtag (if applicable).</li>
  <li>Date the event is occurring.</li>
  <li>Physical address of event (if applicable).</li>
  <li>An optional link to a mapping service such as Google Maps that uses the supplied physical address.</li>
</ul>

<p>
  Site maintainers may edit the event title and description at their discretion if they are too long.
</p>

<h3 id="patterns">Patterns</h3>

<p>TODO: Do we need patterns?</p>

<h3 id="resources">Resources</h3>

<p>
  Did you create or find a great accessibility-related resource that you think other people would find useful? <a rel="external noopener" href="https://github.com/a11yproject/a11yproject.com/blob/gh-pages/_data/resources.json">Add it to the Resources file</a> under the appropriate category. Please be sure to include the resource's title, description, and a URL where it can be accessed.
</p>

<h3 id="rejection">Rejection</h3>

<p>
  Project maintainers may elect to not accept your submitted content if they feel it is not in line with the site's goals. This will be handled on a case-by-case basis.
</p>

<h2 id="fixing-things">Fixing things</h2>

<h3 id="reporting-issues">Reporting Issues</h3>

<p>
  Have you noticed something broken, inaccurate, or inaccessible? You can help make it better!
</p>

<ol>
  <li>File an <a rel="external noopener" href="https://github.com/a11yproject/a11yproject.com/issues/new?template=a11yproject-com-bug-report.md">Issue</a>.</li>
  <li>
    Preface your Issue title as an:
    <ul>
      <li><code>Inaccuracy</code> for incorrect or inaccurate information (e.g. "Inaccuracy: Visually hidden CSS missing property declaration").</li>
      <li><code>Inaccessibility</code> for an accessibility issue (e.g. "Inaccessibility: Low contrast link color").</li>
      <li><code>Bug</code> for site issues (e.g. "Bug: Link at archive not working").</li>
    </ul>
  </li>
</ol>

<p>
  <strong>Issues are not to be used for free accessibility help.</strong> Project maintainers may close reported Issues at their discretion.
</p>

<h3 id="submitting-pull-requests">Submitting Pull Requests</h3>

<p>
  Creating a descriptive <a rel="external noopener" href="https://github.com/a11yproject/a11yproject.com/issues/new/choose">Issue</a> and assigning it to yourself before you send your Pull Request will help get it accepted. It will provide a better understanding of what your request entails and why it was made. It also helps to link the Issue to the Pull Request and vice-versa (eg. "This Pull Request addresses Issue XX").
</p>

<p>
  Project maintainers may reject Pull Requests at their discretion.
</p>

<p>
  When submitting your Pull Request, please include the text "closes" or "fixes" and then the issue number. For example:
</p>

<blockquote>
  <p>
    Fixes #101. This will help us automatically close the issue upon merging the Pull Request!
  </p>
</blockquote>

<h3 id="stale-issues-and-pull-requests">Stale Issues and Pull Requests</h3>

<p>
  Project maintainers will close Issues and Pull Requests if they become stale, leaving a note for the author as to why. This keeps our Issue tracker and code work clean and up-to-date, and helps project maintainers focus their attention where it is needed.
</p>

<h3 id="stale-issues">Stale Issues</h3>

<p>
  An Issue is considered to be in a "stale" state when any of the following conditions are met:
</p>

<ul>
  <li>The last comment was made over six months ago.</li>
  <li>There has been no activity since.</li>
  <li>The question isn't open.</li>
  <li>Someone has attempted to address the Issue, no with no followup participation from the author.</li>
</ul>

<h3 id="stale-pull-requests">Stale Pull Requests</h3>

<p>
  A Pull Request (PR) is considered to be in a "stale" state when the following conditions are met:
</p>

<ul>
  <li>The last comment was made over six months ago.</li>
  <li>There has been no activity since.</li>
  <li>Someone has attempted to move the PR along with no followup from the author.</li>
</ul>

<h3 id="labels">Labels</h3>

<p>
  <a rel="external noopener" href="https://github.com/a11yproject/a11yproject.com/labels">Labels</a> allow the project maintainers to quickly sort filter and site <a href="#reporting-issues">Issues</a> and <a href="#submitting-pull-requests">Pull Requests</a>. They will be added and removed as needed.
</p>

<h2 id="license">License</h2>

<p>
  By contributing your code and content, you agree to license your contribution under the terms of the <a rel="external noopener" href="http://www.apache.org/licenses/LICENSE-2.0.html">APLv2</a>.
<p>
