---
layout: layouts/home.njk
title: Contribute
subtitle: Want to help? Here's how.
eleventyNavigation:
  key: Contribute
  parent: Feature
  order: 5
tags:
  - navprimary
templateClass: template-contribute
---

{% include "nav/toc.njk" %}

<div data-content class="l-content c-content c-content--contribute">

	<h2 id="posts">
		Posts
	</h2>
	<p>
		<a href="/posts/">Posts</a> are a way for people involved in the accessibility community to share what they know! You can share your lived experiences, document your learnings, and highlight technical discoveries.
	</p>
	<p>
		In addition to sharing your knowledge with the rest of the community, we will compensate you $75 USD for your efforts.
	<p>
		Learn more about <a href="/contributing-guidelines/#posts">how to submit a post</a> for publication.
	</p>
	<h2 id="resources">
		Resources
	</h2>
	<p>
		<a href="/resources/">Resources</a> are a way for us to shed light on high quality community-produced tools, learning, guides, and other support.
	</p>
	<p>
		Learn more about <a href="/contributing-guidelines/#resources">how to submit a resource</a>.
	</p>
	<h2 id="issues-and-bug-fixes">
		Issues and bug fixes
	</h2>
	<p>
		Is something incorrect or not working they way it should? Submitting issues is a great way to help improve the site.
	</p>
	<p>
		Never done something like this before? Don't worry! Open Source is all about being able to improve things for everyone by being transparent and approachable. We want to hear from you.
	</p>
	<p>
		Learn more about <a href="/contributing-guidelines/#reporting-issues">how to submit an issue</a>, or check out <a href="https://github.com/a11yproject/a11yproject.com/issues">our current known issues</a>.
	</p>
	<h2 id="new-features">
		New features
	</h2>
	<p>
		Adding new features and functionality to the site is something we're always interested in hearing about!
	</p>
	<p>
		Please read our contributing guidelines before <a href="/contributing-guidelines/#submitting-new-features">starting work on a new feature</a>.
	</p>

</div>
