---
layout: layouts/home.njk
title: Events
subtitle: Accessibility-related webinars, events, and meetup groups.
eleventyNavigation:
  key: Events
  parent: Legacy
tags:
  - legacy
templateClass: template-generic
---

<div class="l-content c-content c-content--generic">

	<h1 id="title" class="c-heading-largest c-heading-largest--generic">
		{{ title }}
	</h1>
	<p class="c-subtitle">
		{{ subtitle }}
	</p>

	<p>
		The A11Y Project used to list webinars, regional events, and meetups. We no longer support this feature. If you are interested in finding an accessibility-related group near you, please check our <a href="{{ '/resources/#meetups' | url }}">Meetups section in Resources</a>.
	</p>
	<p>
		If you would like your meetup group listed, please <a href="{{ '/contributing-guidelines/#resources' | url }}">submit a resource</a>.

</div>
