---
eleventyNavigation:
  key: Good First Issues
  parent: Support
  order: 4
  url: https://github.com/a11yproject/a11yproject.com/issues?q=is%3Aissue+is%3Aopen+label%3A%22%5BStatus%5D++Good+First+Issue%22
permalink: false
---
