---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---
<nav id="table-of-contents" class="l-toc" aria-label="Table of contents">
  <ol class="c-toc">
    <li class="c-toc__list-item">
      <a class="c-toc__link" aria-current="location" href="#learn-the-fundamentals-and-principles-behind-accessible-design">Build basics</a>
    </li>
    <li class="c-toc__list-item">
      <a class="c-toc__link" href="#conduct-an-accessibility-audit">Conduct an audit</a>
    </li>
    <li class="c-toc__list-item">
      <a class="c-toc__link" href="#deep-dive-into-resources">Deep dive</a>
    </li>
    <li class="c-toc__list-item">
      <a class="c-toc__link" href="#cultivate-community">Create community</a>
    </li>
  </ol>
</nav>

<section class="c-home__content">
  <h2 id="learn-the-fundamentals-and-principles-behind-accessible-design">
    Learn the fundamentals and principles behind accessible design
  </h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

  <h2 id="conduct-an-accessibility-audit">
    Conduct an accessibility audit
  </h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

  <h2 id="deep-dive-into-resources">
    Deep dive into resources
  </h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

  <h2 id="cultivate-community">
    Cultivate community
  </h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</section>

<!--
<h1 id="main_heading">Latest 3 Posts</h1>

{% set postslist = collections.posts | head(-3) %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
-->
