---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---
<h2 id="learn-the-fundamentals-and-principles-behind-accessible-design">
  Learn the fundamentals and principles behind accessible design
</h2>

<h2 id="conduct-an-accessibility-audit">
  Conduct an accessibility audit
</h2>

<h2 id="deep-dive-into-resources">
  Deep dive into resources
</h2>

<h2 id="cultivate-community">
  Cultivate community
</h2>

<!--
<h1 id="main_heading">Latest 3 Posts</h1>

{% set postslist = collections.posts | head(-3) %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
-->
