---
layout: layouts/home.njk
title: Newsletter
subtitle: A weekly collection of accessibility-related links we share on Twitter.
tags:
  - newsletter
templateClass: template-simple
---

<div class="l-simple c-hero">
	<div class="c-simple__hero">
		<h1 id="page-not-found" class="c-heading-large">
			{{ title }}
		</h1>
		<p>
			{{ subtitle }}
		</p>

		<form
			action="https://buttondown.email/api/emails/embed-subscribe/the-a11y-project"
			method="post"
			target="_self"
			onsubmit="window.open('https://buttondown.email/the-a11y-project', 'popupwindow')"
			class="c-form embeddable-buttondown-form">
			<label class="c-form__label" for="bd-email">
				Your email address
			</label>
			<input
				id="bd-email"
				autocapitalize="off"
				autocorrect="off"
				spellcheck="false"
				class="c-form__input"
				type="email"
				name="email">
			<input type="hidden" value="1" name="embed"></input>
			<input class="c-form__button" type="submit" value="Subscribe (Opens in a new tab)"></input>
			<p>
				<a class="[ u-font-size-body-small ] [ c-form__vendor ]" href="https://buttondown.email" target="_blank">Powered by Buttondown.</a>
			</p>
		</form>

	</div>
</div>
