---
layout: layouts/home.njk
date: 2019-01-04
tags:
  - utility
navtitle: Privacy and Security
subtitle: TODO Update
---

<h1 id="main_heading">{{ navtitle }}</h1>

<h2 id="privacy">Privacy</h2>

<p>
  The A11Y Project values your right to privacy. We will not misuse, sell, or exploit any information provided to us.
</p>

<p>
  We use <a rel="external noopener" href="https://analytics.google.com/">Google Analytics</a> to collect basic information, including data on pages visited, amount of time spent, generalized geographic information, and incoming and outgoing sites. This information is used to help make improvements to the website's content and design. If you wish to opt out of data collection, you can do so with <a rel="external noopener" href="https://tools.google.com/dlpage/gaoptout">the Google Analytics Opt-out Browser Add-on</a>.
</p>

<p>
  This website uses <a rel="external noopener" href="https://en.m.wikipedia.org/wiki/HTTPS">the HTTPS protocol</a> to help ensure the secure communication of data from this website to your browser. Access to Google Analytics information is restricted to site administrators.
</p>

<p>
  To review the history of our privacy policy, you can check the <a rel="external noopener" href="TODO: Update">edits made to this page on GitHub</a>. If you have questions about our privacy policies, please reach out to hello@a11yproject.com.
</p>

<h2 id="security">Security</h2>

<h3 id="reporting-security-issues">Reporting security issues</h3>

<p>
  The responsible disclosure of vulnerabilities helps us ensure the security and privacy of the people who use this site—especially those who use assistive technology.
</p>

<p>
  If you believe you have found a security vulnerability on The A11Y Project, we encourage you to let us know right away. We will investigate all legitimate reports and do our best to quickly fix the problem. Before reporting, please review our disclosure policy.
</p>

<p>
  Submit your report to hello@a11yproject.com and respond to the report with any updates. Please do not contact us through other channels about a report.
</p>

<h4 id="disclosure-policy">Disclosure policy</h4>

<p>
  We ask that:
</p>

<ul>
  <li>You give us reasonable time to investigate and mitigate an issue you report before making public any information about the report or sharing such information with others.</li>
  <li>You do not interact with an individual account (which includes modifying or accessing data from the account) if the account owner has not consented to such actions.</li>
  <li>You make a good faith effort to avoid privacy violations and disruptions to others, including (but not limited to) destruction of data and interruption or degradation of our service.</li>
  <li>You do not exploit a security issue you discover for any reason. (his includes demonstrating additional risk, such as attempted compromise of sensitive company data or probing for additional issues.</li>
  <li>You do not violate any other applicable laws or regulations.</li>
</ul>

