---
layout: layouts/home.njk
title: Privacy and Security
subtitle: The A11Y Project values your right to privacy. We will not misuse, sell, or exploit any information provided to us.
eleventyNavigation:
  key: Privacy and Security
  parent: Site
  order: 5
tags:
  - site
templateClass: template-generic
---

{% include "nav/toc.njk" %}

<div data-content class="l-content c-content c-content--generic">

	<h1 id="title" class="c-heading-largest c-heading-largest--generic">
		{{ title }}
	</h1>
	<p class="c-subtitle">
		{{ subtitle }}
	</p>

	<h2 id="privacy" class="c-heading-large">
		Privacy
	</h2>
	<p>
		We use <a href="https://analytics.google.com/">Google Analytics</a> to collect basic information, including data on pages visited, amount of time spent, generalized geographic information, and incoming and outgoing sites. This information is used to help make improvements to the website's content and design.
	</p>
	<p>
		We are currently in the process of <a href="https://github.com/a11yproject/a11yproject.com/issues/737">moving off of Google Analytics</a>. If you wish to opt out of data collection, you can do so with <a href="https://tools.google.com/dlpage/gaoptout">the Google Analytics Opt-out Browser Add-on</a>.
	<p>
		This website uses <a href="https://en.wikipedia.org/wiki/HTTPS">the HTTPS protocol</a> to help ensure the secure communication of data from this website to your browser. It also serves static, pre-compiled content. Access to Google Analytics information is restricted to site administrators.
	</p>
	<p>
		To review the history of our privacy policy, you can check the <a href="https://github.com/a11yproject/a11yproject.com/blob/main/src/privacy-and-security.njk">edits made to this page on GitHub</a>. If you have questions about our privacy policies, please reach out to <a data-mailto href="mailto:hello@a11yproject.com?subject=Privacy%20policy">hello@a11yproject.com</a>.
	</p>
	<h2 id="security" class="c-heading-large">
		Security
	</h2>
	<h3 id="reporting-security-issues" class="c-heading-medium">
		Reporting security issues
	</h3>
	<p>
		The responsible disclosure of vulnerabilities helps us ensure the security and privacy of the people who use this site—especially those who use assistive technology.
	</p>
	<p>
		If you believe you have found a security vulnerability on The A11Y Project, we encourage you to let us know right away. We will investigate all legitimate reports and do our best to quickly fix the problem. Before reporting, please <a href="#disclosure-policy">review our disclosure policy</a>.
	</p>
	<p>
		Submit your report to <a data-mailto href="mailto:hello@a11yproject.com?subject=Privacy%20policy">hello@a11yproject.com</a> and respond to the report with any updates. Please do not contact us through other channels about a report.
	</p>
	<h3 id="disclosure-policy" class="c-heading-medium">
		Disclosure policy
	</h3>
	<p>
		We ask that:
	</p>
	<ul>
		<li>You give us reasonable time to investigate and mitigate an issue you report before making public any information about the report or sharing such information with others.</li>
		<li>You do not interact with an individual account (which includes modifying or accessing data from the account) if the account owner has not consented to such actions.</li>
		<li>You make a good faith effort to avoid privacy violations and disruptions to others, including (but not limited to) destruction of data and interruption or degradation of our service.</li>
		<li>You do not exploit a security issue you discover for any reason. (this includes demonstrating additional risk, such as attempted compromise of sensitive data, or probing for additional issues).</li>
		<li>You do not violate any applicable laws or regulations.</li>
	</ul>

</div>
