---
layout: layouts/home.njk
title: Sponsorship
subtitle: Contribute to keeping The A11Y Project running.
eleventyNavigation:
  key: Sponsorship
  parent: Support
  order: 1
tags:
  - support
templateClass: template-generic
---

{% include "nav/toc.njk" %}

<div data-content class="l-content c-content c-content--generic">

	<h1 id="title" class="c-heading-largest c-heading-largest--generic">
		{{ title }}
	</h1>
	<p class="c-subtitle">
		{{ subtitle }}
	</p>

	<h2 id="how-to-sponsor" class="c-heading-large">
		How to sponsor
	</h2>
	<p>
		Thank you for considering us! Please email us at <a href=" mailto:hello@a11yproject.com?subject=Sponsorship">hello@a11yproject.com</a> to get a conversation started. In addition, you can <a href="https://opencollective.com/the-a11y-project">make a donation via Open Collective</a>.
	</p>
	<h2 id="what-you-will-receive-for-sponsorship" class="c-heading-large">
		What you will receive for sponsorship
	</h2>
	<p>
		You will get a banner added to the <a href="#sponsors">sponsorship area</a> of each page of this website. This banner can link to a website or web app of your choosing. In terms of exposure, The A11Y Project offers:
	</p>
	<ul>
		<li>~350,000 monthly views.</li>
		<li>Great search engine placement for terms related to digital accessibility.</li>
		<li>An association with a credible, long-running, and often cited resource.</li>
	</ul>
	<h2 id="what-your-sponsorship-will-be-used-for" class="c-heading-large">
		What your sponsorship will be used for
	</h2>
	<p>
		The A11Y Project is run entirely by volunteer effort. Its <a href="{{ '/team/#maintainers' | url }}">maintainers</a> do not pay themselves for the work they put into the website.
	</p>
	<p>
		Your sponsorship is primarily used to pay the <a href="{{ '/authors/' | url }}">authors</a> who contribute posts. Creating solid, well-researched information about accessibility deserves to be rewarded.
	</p>
	<p>
		The remainder is used to pay the fees for services we use to keep this site running. These services include:
	</p>
	<ul>
		<li>Domain name registration.</li>
		<li>GitHub.</li>
		<li>Open Collective processing fees.</li>
	</ul>
	<p>
		Sponsorship funds are stored in a dedicated bank account.
	</p>
	<h2 id="sponsorship-evaluation" class="c-heading-large">
		Sponsorship evaluation
	</h2>
	<p>
		Offers will be considered on a case-by-case basis. We prefer to work with organizations who have a positive relationship with the web community and mission statements that align with our <a href="{{ '/values/' | url }}">values</a>.
	</p>

</div>
