---
layout: layouts/home.njk
title: Spotlight
subtitle: Amazing people doing great accessibility work.
templateClass: template-generic
---

<article class="l-content">

	<h1 id="title" class="c-heading-largest c-heading-largest--generic">
		{{ title }}
	</h1>
	<p class="c-subtitle">
		{{ subtitle }}
	</p>

	<div class="c-card__wrapper">
		{% set taglist = collections[ "spotlight" ] %}
		{% for post in taglist | reverse %}
			{% include "post.njk" %}
		{% endfor %}
	</div>

</article>
