---
layout: layouts/home.njk
title: Spotlight
subtitle: People championing digital accessibility.
eleventyNavigation:
  key: Spotlight
  parent: Project
  order: 5
tags:
  - project
templateClass: template-spotlight
---

{% include "nav/toc.njk" %}

<div data-content class="l-content c-content--authors">

	{% set personRole = "author" %}
	{% set person = spotlight.spotlight %}
	{% for person in person %}
		{% include "person.njk" %}
	{% endfor %}

</div>
