---
layout: layouts/home.njk
title: Thank you for subscribing
subtitle: You'll receive a weekly newsletter from us at the email address you provided.
tags:
  - newsletter
templateClass: template-newsletter
eleventyExcludeFromCollections: true
---

<div class="l-404 c-newsletter">
	<div class="c-404__hero">
		<h1 id="page-not-found" class="c-heading-large">
			{{ title }}
		</h1>
		<p>
			{{ subtitle }}
		</p>
	</div>
</div>
