---
layout: layouts/home.njk
title: Team
subtitle: The people who help make this all happen.
eleventyNavigation:
  key: Team
  parent: Project
  order: 2
tags:
  - project
templateClass: template-team
---

{% include "nav/toc.njk" %}

<div data-content class="l-content c-content--team">

	<div class="c-content">
		<p class="c-lede">
			Interested in helping out? Check out our <a class="c-preface__link" href="{{ '/contributing-guidelines/' | url}}">contributing guidelines</a>.
		</p>
	</div>

	<h2 id="out-contributors" class="u-spacing-top-longest c-heading-large">
		Contributors
	</h2>
	<p class="c-preface">
		A special thank you to <a class="c-preface__link" href="https://github.com/a11yproject/a11yproject.com/graphs/contributors">everyone who has helped to make this site better</a>!
	</p>

	<h2 id="creator" class="u-spacing-top-longest c-heading-large">
		Creator
	</h2>
	<p class="c-preface">
		The A11Y Project was <a class="c-preface__link" href="https://github.com/a11yproject/a11yproject.com/commit/fcb20f28b3f9f32e9234fcc063ae6f5649ae2a0b">started on January 10, 2013</a>.
	</p>
	{% set personRole = "staff" %}
	{% set person = team.creator %}
	{% for person in person %}
		{% include "person.njk" %}
	{% endfor %}

	<h2 id="maintainers" class="u-spacing-top-longest c-heading-large">
		Maintainers
	</h2>
	<p class="c-preface">
		People who help make sure everything runs properly.
	</p>
	{% set personRole = "staff" %}
	{% set person = team.maintainer %}
	{% for person in person %}
		{% include "person.njk" %}
	{% endfor %}

	<h2 id="alumni" class="u-spacing-top-longest c-heading-large">
		Alumni
	</h2>
	<p class="c-preface">
		These lovely people generously volunteered their time, effort, and expertise to create and run earlier versions of The A11Y Project.
	</p>
	{% set personRole = "staff" %}
	{% set person = team.alumni %}
	{% for person in person %}
		{% include "person.njk" %}
	{% endfor %}

</div>
