---
layout: layouts/home.njk
title: Thank you
subtitle: Your message has been sent.
tags:
  - contact
templateClass: template-simple
eleventyExcludeFromCollections: true
---

<div class="l-simple c-hero">
	<div class="c-simple__hero">

		<h1 id="page-not-found" class="c-heading-large">
			{{ title }}
		</h1>
		<p>
			{{ subtitle }} A member of our team will review it soon.
		</p>

	</div>
</div>
