---
layout: layouts/home.njk
title: You have been unsubscribed
subtitle: Thank you for reading.
tags:
  - newsletter
templateClass: template-simple
eleventyExcludeFromCollections: true
---

<div class="l-simple c-hero">
	<div class="c-simple__hero">
		<h1 id="page-not-found" class="c-heading-large">
			{{ title }}
		</h1>
		<p>
			{{ subtitle }} You can <a href="{{ '/newsletter/' | url }}">resubscribe</a> at any time.
		</p>
	</div>
</div>
