---
layout: layouts/home.njk
title: Values
subtitle: The principles that guide us.
eleventyNavigation:
  key: Values
  parent: Project
  order: 1
tags:
  - project
templateClass: template-generic
---

{% include "nav/toc.njk" %}

<article data-content class="l-content c-content c-content--generic">

	<h1 id="title" class="c-heading-largest c-heading-largest--generic">
		{{ title }}
	</h1>
	<p class="c-subtitle">
		{{ subtitle }}
	</p>

	<h2 id="open" class="c-heading-large">
		Open
	</h2>
	<p>
		We help demystify the process of designing and developing accessible web experiences. We're an open source, people-built project. We welcome community contributions. Our processes are transparent.
	</p>
	<h2 id="communal" class="c-heading-large">
		Communal
	</h2>
	<p>
		Nothing about us without us. Our successes build off each other's efforts, and are performed in the service of others. We highlight people doing good work to help improve digital accessibility for all.
	</p>
	<h2 id="approachable" class="c-heading-large">
		Approachable
	</h2>
	<p>
		This value is isn't limited to just ease of use for assistive technology. We strive for inclusive language and good performance.
	</p>
	<p>
		Our content should be the same. Short, and linking to reputable sources for in-depth discussions of technical concepts. People aren't robots. We grow, learn, and make mistakes. Because of this, we seek to be forgiving and encouraging.
	</p>
	<h2 id="authoritative" class="c-heading-large">
		Authoritative
	</h2>
	<p>
		Our content is tested and vetted. We serve as a living example of how to make an accessible and inclusive digital experience.
	</p>
	<p>
		Technology best practices move quickly. Information about accessibility is scattered across many sources. Some of these sources contain innacuracies, or are out of date.
	</p>

</article>
