---
layout: layouts/home.njk
title: Write for Us
subtitle: Do you have something important to share related to digital accessibility?
eleventyNavigation:
  key: Write for Us
  parent: Support
  order: 3
tags:
  - support
templateClass: template-generic
---

{% include "nav/toc.njk" %}

<div data-content class="l-content c-content c-content--generic">

	<h1 id="title" class="c-heading-largest c-heading-largest--generic">
		{{ title }}
	</h1>
	<p class="c-subtitle">
		{{ subtitle }}
	</p>

	<p>
		The A11Y Project is community-built, and we'd love it if you'd become a member. One way you can do this is through writing. And guess what? <strong>We pay</strong>!
	</p>
	<h2 id="what-kinds-of-writing-do-we-publish" class="c-heading-large">
		What kinds of writing do we publish?
	</h2>
	<p>
		The A11Y Project features seven main kinds of published content:
	</p>
	<ol>
		<li><strong>Backgrounds</strong> contain general information for help in thinking about different parts of digital accessibility.</li>
		<li><strong>Myths</strong> are short pieces that debunk common misconceptions and falsehoods about accessibility. </li>
		<li><strong>Quick tests</strong> outline a short collection of steps needed to check your content to determine if it is accessible.</li>
		<li><strong>Quick tips</strong> provide short, easy-to-digest and easy-to-implement accessibility-related information.</li>
		<li><strong>Assistive technology</strong> provides background information on the tools used by people who rely on them to navigate digital devices and interfaces.</li>
		<li><strong>How-tos</strong> are guides to implementing accessible code.</li>
		<li><strong>Experiences</strong> are people discussing their access needs, and why accessibility is important to them.</li>
	</ol>
	<p>
		We're also open to ideas for new kinds of content and features!
	</p>
	<h2 id="our-audience" class="c-heading-large">
		Our audience
	</h2>
	<p>
		Our readers run the range from people who are completely new to the concept of accessibility to experienced practitioners who work full-time in the industry.
	</p>
	<p>
		Our content is written for people new to digital accessibility. Because of this, we strive to keep our content short, easy to understand, and to the point. This serves everyone—sometimes people who have been doing accessibility work for a long time can benefit from a refresher!
	</p>
	<p>
		If you want to learn more about our writing standards, please read our <a href="{{ '/content-style-guide/' | url }}">Content Style Guide</a>. This is the standard we'll be using for our editorial process. Please also take the time to familiarize yourself with our <a href="{{ '/code-of-conduct/' | url }}">Code of Conduct</a>.
	</p>
	<h2 id="what-will-we-need-from-you" class="c-heading-large">
		What will we need from you?
	</h2>
	<p>
		Interested in contributing? Great! Here's what you can provide to get things going.
	</p>
	<h3 id="if-you-have-a-github-account" class="c-heading-medium">
		If you have a GitHub account
	</h3>
	<p>
		<a href="https://github.com/a11yproject/a11yproject.com/issues">Submit an Issue</a> with a suitable subject line. For example, content about the JAWS screen reader could be, "New assistive technology post about JAWS" somewhere in the subject.
	</p>
	<h3 id="if-you-do-not-have-a-github-account" class="c-heading-medium">
		If you do not have a GitHub account
	</h3>
	<p>
		<a href="{{ '/contact/' | url }}">Contact us</a> with a suitable message that indicates the kind of content you are pitching.
	</p>
	<h3 id="editing" class="c-heading-medium">
		Editing
	</h3>
	<p>
		Provide a link to your proposed content in a format that makes it easy to comment on and suggest edits to. <a href="https://github.com/">GitHub</a>, <a href="https://www.google.com/docs/about/">Google Docs</a>, and <a href="https://www.dropbox.com/paper">Dropbox Paper</a> are services that are commonly used.
	</p>
	<p>
		If you prefer not to use such a service, include your content as either an attachment or in the body of the email. If this process is used, edits will conducted via email replies.
	</p>
	<p>
		Posts will be published when the editor is satisfied, and all criticism has been addressed. We will notify you when it is live on The A11Y Project website.
	</p>
	<h2 id="what-well-provide" class="c-heading-large">
		What we'll provide
	</h2>
	<ul>
		<li><strong>Polish.</strong> A thorough editorial process conducted by experienced digital accessibility practitioners will help your content shine.</li>
		<li>
			<strong>Compensation.</strong> We value and respect your opinions and expertise. As such, we can offer payment for published content. Each post that has been reviewed and published will be paid $75.00 USD.
			<ul>
				<li>Payment will be conducted via PayPal. We are also willing to use other services, should circumstances require it.</li>
				<li>If you prefer, payment can be issued to a nonprofit of your choice instead. We will provide a receipt.</li>
			</ul>
		</li>
		<li><strong>Community.</strong> We will add you to <a href="{{ '/authors/' | url }}">our list of authors</a>, including a link to contact you.</li>
		<li><strong>Promotion.</strong> We will <a href="https://twitter.com/A11YProject">promote your content on Twitter</a> and <a href="https://www.linkedin.com/company/the-a11y-project/">LinkedIn</a>.</li>
	</ul>
	<h2 id="the-process" class="c-heading-large">
		The process
	</h2>
	<p>
		Out process for pitching posts is outlined in our <a href="{{ '/contributing-guidelines/#posts' | url }}">Contributing Guidelines</a>.
	</p>
	<h2 id="what-we-wont-publish" class="c-heading-large">
		What we won't publish
	</h2>
	<p>
		As we are an open source project, we try to only promote content that is free, or has a low barrier to entry.
	</p>
	<p>
		We're also not too keen on partnership deals, promotions, backlinking, or referral schemes. If we do list a product or service, it is because they have established credibility in the accessibility community.
	</p>

</div>
